/* MODULE COMMON
********************************************/
.mod-wrp { margin-bottom: 40px;  }
.sub-mod-hd,
.mod-hd { 
	font-size: 17px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.ly-column .mod-wrp .mod-hd,
.col-mod-hd { 
	font-size: 13px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.mod-hd a,
.sub-mod-hd a {
	color: inherit;
	font-size: inherit;
}

/* OC default category module, Account links
------------------------*/
.col-links {
	margin-top:-9px;
	margin-bottom:40px;
	}
.col-links ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
.col-links > ul > li {
	padding:8px 0px;
	border-bottom:1px solid #ECECEC;
	color: #58989E;
	position: relative;
	}
.col-links > ul > li > ul {
	background-color: rgba(0, 0, 0, 0.02);
	padding:10px 15px;
	margin:9px 0 -8px 0;
	display: none;
	border-top:1px solid #ECECEC;
	}
.col-links > ul > li > a {
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	}
.col-links > ul > li.cat-active ul {
	display: block;
	}
.col-links > ul > li ul > li {
	padding: 3px 0 3px 10px;
	margin-bottom:1px;
	position: relative;
	font-size: 12px;
	color: #58989E;
	}
.col-links > ul > li ul > li:before {
	content: '';
	position: absolute;
	width: 3px; height: 3px;
	background-color: rgba(0,0,0,0.2);
	left: 1px;
	top: 9px;
	}
.col-links > ul > li ul > li > a {
	text-decoration: none;
	font-size: inherit;
	color: inherit;
	}
.col-links a:hover {
	text-decoration:underline;
	color: inherit;
	}
.col-links .cc {
	position: absolute;
	right: 5px;
	top: 8px;
	cursor: pointer;
	font-size: 18px;
	opacity: 0.25;
	line-height: 1;
}
.col-links .cc i {
	font-size: inherit;
	line-height: 1;
}

/* Common link list - OC default category module, Account links
------------------------*/
.link-list a {
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 7px 0;
	margin: 0px;
}
.link-list a:first-child {
	padding-top: 0px;
}
.link-list > a {
	color: #58989E;
}
.link-list a.active, .link-list a.active:hover, .link-list a:hover {
	color: #58989E;
}
.list-group-item { background-color: transparent; }
.list-group-item:last-child {
	margin-bottom: 0;
	border-radius: 0;
}
.link-list a.active, .link-list a.active:hover, .link-list a:hover {
	background: none;
	border: none;
	border-bottom: 1px solid #eee;
	text-shadow: none;
}
.link-list .sub-links {
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.link-list .sub-links a {
	padding: 2px 0px;
	padding-left: 12px;
	position: relative;
	border: none;
}
.link-list .sub-links a:hover {
	text-decoration: underline;
	color: #ed5f79;
}
.link-list .sub-links a:before {
	content: '';
	display: block;
	position: absolute;
	left: 2px; 
	top: 8px;
	width: 3px;
	height: 3px;
	background-color: rgba(0,0,0,0.25);
}


/* PLUGINS CSS
********************************************/

/* Custom scroll bar
------------------------*/
/* .scrollbar ul {
	display: table;
	margin: 0px;
}
.scrollbar ul li {
	display: table-cell;
}
.scrollbar {
	border: 1px solid;
} */
.scrollbar .mCustomScrollBox+.mCSB_scrollTools+.mCSB_scrollTools.mCSB_scrollTools_horizontal, 
.scrollbar .mCustomScrollBox+.mCSB_scrollTools.mCSB_scrollTools_horizontal {
	bottom: 0px;
}
.scrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
	height: 100%;
	margin: 0 auto;
}
.scrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger,
.scrollbar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #434444;
	border-radius: 0px;
	width: 41px;
}
.scrollbar .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
	margin: 0px;
	height: 100%;
	border-radius: 0px;
	background-color: rgba(0,0,0,0.04);
}

/* Widget - Carousel
=========================*/
.owl-item .prd-block1 { margin-bottom: 3px; }

/* Arrow controllers
------------------------*/
.owl-nav > a,
.owl-nav > div {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #404048;
	color: #a9aaaa;
	text-align: center;
	position: relative;
	z-index: 2;
	font-size: 0px;
	cursor: pointer;
	margin: 0 2px;
}
.owl-nav > a i,
.owl-nav > div i {
	font-size: 13px;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	
}
.owl-nav > a:hover,
.owl-nav > div:hover {
	background-color: #5ac3cc;
	color: #fff;
}
.owl-next i { left: 50%; }
.owl-prev i { left: 50%; }

/* Bottom controls */
.ctrl-b .owl-nav { position: relative; }
.ctrl-b .owl-nav { text-align: center; }
.ctrl-b .owl-nav:after {
	content: '';
	position: absolute;
	width: 100%;
	display: block;
	border-top: 5px solid rgba(0,0,0,0.05);
	top: 50%;
	margin-top: -4px;
}
.widget-carousel .owl-controls {
	margin-top: 20px;
}
.ctrl-t .owl-nav { display: none; }
.mod-hd .owl-nav {
	position: absolute;
	right: 0px;
	top: 0px;
}
.owl-dots {
	text-align: center;
	margin-top: 10px;
}
.owl-dots .owl-dot {
	display: inline-block;
	margin: 0px 4px;
}
.owl-dots .owl-dot span {
	display: block;
	height: 15px;
	width: 15px;
	background-color: rgba(0,0,0,0);
	border: 3px solid rgba(0,0,0,0.1);
	border-radius: 50%;
}
.owl-dots .owl-dot.active span {
	background-color: rgba(0,0,0,0.2);
	border-color: rgba(0,0,0,0);
}

.owl-slideshow .owl-nav:after { display: none; }
.owl-slideshow .owl-nav {
	position: absolute;
	top: 50%;
	height: 0px;
	width: 100%;
}
.owl-slideshow .owl-nav i {
	position: static;
	width: 100%;
	transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
}
.owl-slideshow .owl-controls {
	margin: 0px;
}

.center-zoom .owl-stage-outer.h-auto { height: auto !important; }
.center-zoom .owl-stage { margin: 7% 0; }
.center-zoom.owl-carousel .owl-item > .item {
	-webkit-animation: move-origin1 0.6s;
	-moz-animation: move-origin1 0.6s;
	-ms-animation: move-origin1 0.6s;
	animation: move-origin1 0.6s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.center-zoom.owl-carousel .owl-item.active.center > .item {
	position: relative;
	z-index: 9;
	-webkit-animation: move-origin 0.6s;
	-moz-animation: move-origin 0.6s;
	-ms-animation: move-origin 0.6s;
	animation: move-origin 0.6s;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.3);
}
.center-zoom.owl-carousel > .item { position: relative; opacity: 0.2; }

@-webkit-keyframes move-origin {
	0% { opacity: 0.5; -webkit-transform: scale(1); }
	100% { opacity: 1; -webkit-transform: scale(1.3); }
}
@-moz-keyframes move-origin {
	0% { opacity: 0.5; -moz-transform: scale(1); }
	100% { opacity: 1; -moz-transform: scale(1.3); }
}
@-ms-keyframes move-origin {
	0% { opacity: 0.5; -ms-transform: scale(1); }
	100% { opacity: 1; -ms-transform: scale(1.3); }
}
@keyframes move-origin {
  0% { opacity: 0.5; transform: scale(1); }
  100% { opacity: 1; transform: scale(1.3); }
}
@-webkit-keyframes move-origin1 {
	0% { opacity: 1; -webkit-transform: scale(1.3); }
	100% { opacity: 0.5; -webkit-transform: scale(1); }
}
@-moz-keyframes move-origin1 {
	0% { opacity: 1; -moz-transform: scale(1.3); }
	100% { opacity: 0.5; -moz-transform: scale(1); }
}
@-ms-keyframes move-origin1 {
	0% { opacity: 1; -ms-transform: scale(1.3); }
	100% { opacity: 0.5; -ms-transform: scale(1); }
}
@keyframes move-origin1 {
	0% { opacity: 1; transform: scale(1.3); }
	100% { opacity: 0.5; transform: scale(1); }
}


/* Widget - Tabs
=========================*/
.widget-tab { opacity: 0; }
.widget-tab .tab-item {
	display: inline-block;
	margin-right: -2px;
}
.widget-tab .tab-item a { display: block; }
.widget-tab .tab-pane { padding: 20px 0 0 0; display: none; opacity: 0; }
.widget-tab .tab-pane.active { display: block; opacity: 1; }

/* tab 1
------------------------*/
.widget-tab-1 .tab-panel {
	border-bottom: 5px solid #404048;
}
.widget-tab-1 .tab-item { font-size: 16px; }
.widget-tab-1 .tab-item a {
	color: inherit;
	background-color: rgba(0,0,0,0.06);
	padding: 16px 20px 14px 20px;
	font-weight: bold;
}
.widget-tab-1 .tab-item.active > a {
	background-color: #404048;
	color: #fff;
	white-space: nowrap;
}

/* DEFAULT SLIDER
********************************************/
.owl-slideshow,
.slideshow-wrp,
.oc-slideshow {
	border-radius: 0px;
	box-shadow: none;
	margin-bottom: 40px;
	position: relative;
}

.owl-slideshow .owl-prev i,
.owl-slideshow .owl-next i,
.slideshow-wrp .prev i,
.slideshow-wrp .next i,
.oc-slideshow .prev i,
.oc-slideshow .next i {
	font-size: inherit;
	line-height: 41px;
}
.owl-slideshow .owl-prev,
.owl-slideshow .owl-next,
.slideshow-wrp .prev,
.slideshow-wrp .next,
.oc-slideshow .prev,
.oc-slideshow .next {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.1);
	z-index: 99;
	color: #fff;
	font-size: 20px;
	text-align: center;
	cursor: pointer;
	border-radius: 0;
}

.owl-slideshow .owl-prev,
.slideshow-wrp .prev,
.oc-slideshow .prev { left: 0px; }

.owl-slideshow .owl-next,
.slideshow-wrp .next,
.oc-slideshow .next { right: 0px; }

.owl-slideshow .owl-nav > div:hover,
.slideshow-wrp .prev:hover,
.slideshow-wrp .next:hover,
.oc-slideshow .prev:hover,
.oc-slideshow .next:hover { background-color: rgba(0,0,0,0.3); }

.owl-slideshow .owl-controls,
.slideshow-wrp .next,
.slideshow-wrp .prev,
.slideshow-wrp .dots,
.oc-slideshow .next,
.oc-slideshow .prev,
.oc-slideshow .owl-controls { opacity: 0; }

.owl-slideshow:hover .owl-controls,
.slideshow-wrp:hover .next,
.slideshow-wrp:hover .prev,
.slideshow-wrp:hover .dots,
.oc-slideshow:hover .next,
.oc-slideshow:hover .prev,
.oc-slideshow:hover .owl-controls { opacity: 1; }

.dots-typ1 .dots,
.dots-typ1 .owl-dots {
	position: relative;
	margin: 0 0 0 0;
	text-align: center;
	top: -30px;
}

.dots-typ1 .dots li a,
.dots-typ1 .owl-dots .owl-dot span { display: none; }

.dots-typ1 .dots li,
.dots-typ1 .owl-dots .owl-dot {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 5px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.5);
	text-align: center;
	font-weight: bold;
	color: #434444;
	margin: 0 3px -3px 3px;
	text-indent: 0px;
	position: relative;
	z-index: 99;
	display: inline-block;
	cursor: pointer;
}
.dots-typ1 .dots li:hover,
.dots-typ1 .dots li.current,
.dots-typ1 .owl-dots .owl-dot:hover,
.dots-typ1 .owl-dots .owl-dot.active {
	border-color: #000;
	background-color: #fff;
	color: #fff;
}


/* OC - MODULE - CAROUSEL 
********************************************/
.oc-carousel .owl-stage-outer {
	border: 1px solid rgba(0,0,0,0.05);
}

/* OC - MODULE - FILTERS
********************************************/
.oc-filter .filter-group { 
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
	padding-bottom: 6px;
}
.oc-filter .filter-group ul li {
	margin: 0 0 0 10px;
	padding: 0px;
}
.oc-filter .filter-group ul li input {
	vertical-align: middle;
	margin: 0 5px 0 0;
}

/* RGEN - BASIC BANNERS
********************************************/
.rgen-basicbanners .bnr-img { display: block; }
.rgen-basicbanners .bnr-img img { width: 100%; }

/* RGEN - BASIC SLIDESHOW
********************************************/
.rgen-basicslideshow .slide { 
	text-align: center;
	position: relative;
    height: 100%;
    overflow: hidden;
}
.slideshow-wrp img { width: 100%; }
.rgen-basicslideshow .slide-link {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.rgen-basicslideshow .slide-link img {
	width: 100%; height: 100%;
}
.rgen-basicslideshow .slideshow-wrp.normal .slideshow {
	height: auto !important;
}
.rgen-basicslideshow .owl-controls { display: block; height: 0px; }

/* RGEN - REVO SLIDER
********************************************/
@-moz-document url-prefix() {
	.fullscreenbanner > ul {
		position: absolute;
	}
}

/* RGEN - PRODUCT GROUPS
********************************************/
.rgen-productgroups { padding-bottom: 1px; padding-top: 1px; }
.rgen-productgroups .t-html { margin-bottom: 40px; }
.rgen-productgroups .b-html { margin-top: 40px; }

/* RGEN - CONTENT BLOCKS
********************************************/
.ctn-block {
	margin-bottom: 2px;
}
.ctn-block .icon {
	width: 100px;
	height: 100px;
	background-color: rgba(0,0,0,0.02);
	position: relative;
	font-size: 30px;
	margin: 0 auto 15px auto;
	border-radius: 50px;
}
.ctn-block .icon i {
	font-size: inherit;
}
.ctn-block .name {
	font-size: 13px;
}
.ctn-block .name a {
	color: inherit;
}
.ctn-block .image {
	display: block;
	margin: 0 auto 15px auto;
}
.ctn-block .image img {
	width: 100%;
}


/* CONTENT BLOCK 1
=========================*/
.ctn-block1 {
	text-align: center;
}
.ctn-block1 .name {
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.ctn-block1 .text {
	padding-bottom: 15px;
	line-height: 1.6;
}
.ctn-block1 .btn-wrp {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top: 15px;
}

/* CONTENT BLOCK 2
=========================*/
.ctn-block2 {
	text-align: center;
	padding: 25px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.ctn-block2 .name {
	margin-bottom: 10px;
}
.ctn-block2 .text {
	padding-bottom: 15px;
	line-height: 1.6;
}
.ctn-block2 .btn-wrp {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top: 15px;
}

/* CONTENT BLOCK 3
=========================*/
.ctn-block3 {
	text-align: center;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.ctn-block3 .ctn-inner-wrp {
	overflow: hidden;
	border: 4px double rgba(0,0,0,0.05);
	padding: 20px;
}
.ctn-block3 .name {
	margin-bottom: 15px;
}
.ctn-block3 .name span {
	display: inline-block;
	position: relative;
	padding: 0 15px;
}
.ctn-block3 .name span:after,
.ctn-block3 .name span:before {
	content: '';
	display: block;
	height: 0;
	border-bottom: 4px double rgba(0,0,0,0.05);
	width: 1000px;
	position: absolute;
	top: 50%;
	margin-top: -2px;
}
.ctn-block3 .name span:after { left: -1000px; }
.ctn-block3 .name span:before { right: -1000px; }
.ctn-block3 .image {
	display: block;
	margin: 0 auto 20px auto;
}
.ctn-block3 .text {
	padding-bottom: 15px;
	line-height: 1.6;
}
.ctn-block3 .btn-wrp {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top: 15px;
}

/* CONTENT BLOCK 4
=========================*/
.ctn-block4 {
	text-align: center;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}
.ctn-block4 .ctn-inner-wrp {
	overflow: hidden;
	border: 2px solid rgba(0,0,0,0.05);
	padding: 20px;
}
.ctn-block4 .name {
	margin-bottom: 15px;
}
.ctn-block4 .image {
	display: block;
	margin: 0 auto 20px auto;
}
.ctn-block4 .text {
	padding-bottom: 15px;
	line-height: 1.6;
}
.ctn-block4 .btn-wrp {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding-top: 15px;
}

/* CONTENT BLOCK - Small 1
=========================*/
.ctn-block-small1 {
	border: 1px solid rgba(0,0,0,0.05);
	padding: 15px;
}
.ctn-block-small1:after {
	content: '';
	display: table;
	clear: both;
}
.ctn-block-small1 .name {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.ctn-block-small1 .text-wrp { font-size: 12px; }
.ctn-block-small1 .img-wrp { 
	width: 85px;
	display: inline-block;
	position: relative;
}
.ctn-block-small1 .img-wrp figure {
	width: 100%;
	height: 50px;
	height: auto;
}
.ctn-block-small1 .ctn-block-lnk {
	margin-top: 6px;
	display: inline-block;
	font-weight: bold;
}
.ctn-block-small1 .btn-wrp { margin-top: 8px; }

.ctn-block-small1.l .img-wrp { float: left; }
.ctn-block-small1.l .text-wrp { margin-left: 100px; }

.ctn-block-small1.r .img-wrp { float: right; }
.ctn-block-small1.r .text-wrp { margin-right: 100px; }

/* CONTENT BLOCK - Small 2
=========================*/
.ctn-block-small2:after {
	display: table;
	content: '';
	clear: both;
}
.ctn-block-small2 .name {
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.ctn-block-small2 .text-wrp { font-size: 12px; }
.ctn-block-small2 .img-wrp { 
	max-width: 85px;
	display: inline-block;
	position: relative;
}
.ctn-block-small2 .img-wrp figure {
	width: 100%;
	height: 50px;
	height: auto;
}
.ctn-block-small2 .ctn-block-lnk {
	margin-top: 6px;
	display: inline-block;
	font-weight: bold;
}
.ctn-block-small2 .btn-wrp { margin-top: 8px; }

.ctn-block-small2.l .img-wrp { float: left; }
.ctn-block-small2.l .text-wrp { margin-left: 100px; }

.ctn-block-small2.r .img-wrp { float: right; }
.ctn-block-small2.r .text-wrp { margin-right: 100px; }

/* RGEN - BANNER GRIDS
********************************************/
.masonry-wrp,
.banner-grid-wrp {
	position: relative;
	margin: auto;
}
.masonry-item,
.banner-grid-item {
	position: absolute;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	overflow: hidden;
}
.banner-grid-item .bnr-img {
	display: block;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
	transition: all 0.35s;
}
.banner-grid-item img {
	width: 100%;
}

/* RGEN - BASIC GALLERY
********************************************/
.gallery-item {
	position: relative;
	overflow: hidden;
}
.gallery-item * {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
	transition: all 0.35s;
}
.gallery-item img {
	width: 100%;
	transform: scale(1);
}
.gallery-item .overlay {
	position: absolute;
	width: 100%;
	height: 0;
	background-color: rgba(0,0,0,0.5);
	bottom: 0px;
	opacity: 0;
	z-index: 2;
}
.gallery-item .overlay .ico i,
.gallery-item .overlay > span {
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}
.gallery-item .overlay .ico {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 17px;
	border-radius: 25px;
	position: relative;
	cursor: pointer;
	opacity: 0;
}
.gallery-item .overlay .ico i {
	font-size: inherit;
}
.gallery-item:hover img {
	transform: scale(1.1);
}
.gallery-item:hover .ico {
	-webkit-animation: ico 0.6s;
	animation: ico 0.6s;
	opacity: 1;
}
.gallery-item .ico:hover {
	background-color: rgba(255,255,255,1);
	color: #000;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
}
.gallery-item:hover .overlay {
	height: 100%;
	opacity: 1;
}

@-webkit-keyframes ico {
    0%   {
    	transform: scale(0.2);
		-webkit-transform: scale(0.2);
    }
    100% {
		transform: scale(1);
		-webkit-transform: scale(1);
    }
}
@keyframes ico {
	0%{
		transform: scale(0.2);
		-webkit-transform: scale(0.2);
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}
.gallery-item figcaption {
	display: none;
}
.pswp__caption__center {
	text-align: center !important;
	max-width: 100% !important;
	color: rgba(255,255,255,0.5) !important;
}
.pswp__caption__center p {
	margin: 2px 0 0 0;
	color: inherit;
	font-size: 12px;
}
.pswp__caption__center h3 {
	font-family: inherit;
	font-size: 14px;
	color: #fff;
	margin: 0;
	font-weight: bold;
	text-transform: none;
	text-align: center;
}

/* RGEN - STICKY HTML
********************************************/
.sticky-mod { 
	position: fixed;
	background-color: #fff;
	z-index: 999;
}
.sticky-mod.active { z-index: 9999; }
.sticky-mod .mod-out-wrp { position: relative; }
.sticky-mod .mod-wrp { margin-bottom: 0px; }
.sticky-mod.sticky-l { left: -100%; }
.sticky-mod.sticky-r { right: -100%; }
.sticky-handle { position: relative; }

.sticky-handle {
	width: 50px;
	height: 50px;
	position: absolute !important;
	background-color: #000;
	color: #fff;
	top: 0px;
	cursor: pointer;
}

.sticky-l .sticky-handle { left: 100%; }
.sticky-r .sticky-handle { right: 100%; }
.sticky-mod .mod-wrp { padding: 15px; }

/* RGEN - CATEGORY SHOWCASE
********************************************/
.catshowcase-box {
	text-align: center;
}
.catshowcase-box .name a {
	color: inherit;
}
.catshowcase-box .text {
	font-size: 11px;
}
.catshowcase-box .img {
	display: block;
}
.catshowcase-box img {
	width: 100%;
}
.catshowcase-box * {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	-ms-transition: all 0.35s;
}
.catshowcase-box3 .info-wrp,
.catshowcase-box1 .img > span > i,
.catshowcase-box1 .img > span{
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Sub category
=========================*/
.catshowcase-box .sub-ct {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.catshowcase-box .sub-ct > li > a{
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding: 5px 0;
	font-weight: bold;
	display: block;
}

/* show case box 1
=========================*/
.catshowcase-box1 {
	background-color: #fff;
	text-align: center;
}
.catshowcase-box1 .info {
	padding: 15px 15px 0 15px;
}
.catshowcase-box1 .img {
	position: relative;
}
.catshowcase-box1 .img > span {
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	opacity: 0;
	z-index: 999;
	color: #ffffff;
}
.catshowcase-box1:hover .img > span {
	opacity: 1;
}
.catshowcase-box1 .img > span > i {
	color: inherit;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 24px;
}
.catshowcase-box1 .name {
	margin: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding-bottom: 10px;
	font-size: 13px;
	color: #404048;
}
.catshowcase-box1 .text {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.catshowcase-box1 .name a {
	color: inherit;
}
.catshowcase-box1 .btn-wrp {
	padding: 10px;
}
.catshowcase-box1 .sub-ct {
	padding: 0 15px;
}

/* show case box 2
=========================*/
.catshowcase-box2 .main-ct {
	position: relative;
}
.catshowcase-box2 .link-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: block;
}
.catshowcase-box2 .img {
	position: relative;
	display: block;
}
.catshowcase-box2 .info-wrp {
	display: block;
	width: 90%;
	height: 80px;
	background-color: rgba(255,255,255,0.9);
	z-index: 999;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
}
.catshowcase-box2 .info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 80%;
}
.catshowcase-box2 .name {
	font-size: 12px;
	font-weight: 700;
	color: #404048;
	text-transform: uppercase;
	display: block;
	margin-bottom: 5px;
}
.catshowcase-box2 .name a {
	color: inherit;
}
.catshowcase-box2 .text {
	overflow: hidden;
	height: 0px;
	opacity: 0;
	margin: 0px;
}
.catshowcase-box2 .btn-wrp a {
	font-size: 11px;
}
.catshowcase-box2:hover .info-wrp {
	height: 90%;
	bottom: 50%;
	transform: translate(-50%, 50%);
	-webkit-transform: translate(-50%, 50%);
	-moz-transform: translate(-50%, 50%);
	-ms-transform: translate(-50%, 50%);
	overflow: hidden;
}
.catshowcase-box2:hover .text {
	overflow: visible;
	height: auto;
	opacity: 1;
	margin-bottom: 10px;
	-webkit-transition: all 0.40s;
	-moz-transition: all 0.40s;
	-o-transition: all 0.40s;
	-ms-transition: all 0.40s;
	-webkit-transition-delay: 0.15s; /* Safari */
    transition-delay: 0.15s;
}

/* show case box 3
=========================*/
.catshowcase-box3 {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/* min-height: 600px; */
	position: relative;
	color: #fff;
}
.catshowcase-box3 .info-wrp {
	width: 80%;
}
.catshowcase-box3 .name {
	font-size: 30px;
	color: #fff;
	font-weight: normal;
}
.catshowcase-box3 .text {
	font-size: 20px;
	font-weight: normal;
}
.catshowcase-box3 .sub-ct {
	margin: 20px 0;
}
.catshowcase-box3 .sub-ct a {
	display: inline-block;
	padding: 4px 10px;
	border: 1px solid #fff;
	color: #fff;
	margin: 0 3px;
}

/* show case box 4
=========================*/
.catshowcase-box4 {
	background-color: #fff;
	padding: 10px;
	border: 1px solid transparent;
	text-align: center;
}
.catshowcase-box4:hover {
	border: 1px solid #5ac3cc;
}
.catshowcase-box4 .info {}
.catshowcase-box4 .img {
	position: relative;
	margin-bottom: 10px;
}
.catshowcase-box4 .name {
	margin: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding-bottom: 10px;
	font-size: 13px;
	color: #404048;
}
.catshowcase-box4 .text {
	padding: 10px 0;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
.catshowcase-box4 .name a {
	color: inherit;
}
.catshowcase-box4 .btn-wrp {
	padding: 10px;
}
.catshowcase-box4 .sub-ct {
	padding: 0;
}

/* DEALS SHOWCASE
********************************************/
.rgen-deals .center-zoom { margin: 0px; } 
.rgen-deals .center-zoom .owl-controls { height: 0px; }
.deals-box .img-wrp { 
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.deals-box .img-wrp img { width: 100%; }
.deals-box .img-wrp ul { 
	list-style-type: none; margin: 0px; padding: 0px;
	display: table;
	table-layout: fixed;
	border-spacing: 2px;
	position: absolute;
	left: 50%;
	bottom: 15px;
	transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	z-index: 999;
	opacity: 0;
}
.deals-box .img-wrp ul li { 
	display: table-cell;
}
.deals-box .img-wrp ul li a { 
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	background-color: #fff;
	padding: 5px;
}
.deals-box .img-wrp ul li a img {
	width: 100%;
}
.deals-box:hover ul {
	opacity: 1;
}

.deals-box .discount-tag {
	background-color: #d41a1a;
	padding: 2px 15px;
	border-radius: 3px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: relative;
}

/* Deals box 1
=========================*/
.deals-box1 { background-color: #fff; }
.deals-box1 .info-wrp {	padding: 4%; }
.deals-box1 .name { 
	border-bottom: 1px solid rgba(0,0,0,0.05);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.deals-box1 .name p {
	margin-bottom: 0px;
}
.deals-box1 .name .h2 {
	margin-bottom: 3px;
	color: #404048;
}
.deals-box1 .name .h2 a { color: inherit; }
.deals-box1 .name p > a {
	color: #B9B9B9;
}
.deals-box1 .name p > a:after {
	content: ', ';
	display: inline;
	margin: 0 3px 0 0;
}
.deals-box1 .name p > a:last-child:after {
	content: '';
}
.deals-box1 .name p > a:hover {
	color: #404048;
	text-decoration: none;
}
.deals-box1 .price-wrp {
	margin-bottom: 15px;
}
.deals-box1 .price,
.deals-box1 .discount-tag {
	display: inline-block;
	vertical-align: middle;
}
.deals-box1 .price {
	margin-right: 20px;
}
.deals-box1 .price-new {
	font-size: 22px;
	display: block;
	color: #404048;
	font-weight: bold;
} 
.deals-box1 .price-old {
	color: #999;
	text-decoration: line-through;
	font-size: 12px;
}
.deals-box1 .review-stars {
	margin-top: 5px;
	display: block;
}
.deals-box1 .review-stars i {
	font-size: 20px;
}
.deals-box1 .countdown {
	position: relative;
	margin-bottom: 15px;
	margin-left: -4px
}
.deals-box1 .countdown ul {
	position: static;
	margin: 0px;
	font-size: 12px;
	border-spacing: 4px;
	width: 100%;
	text-align: center;
}
.deals-box1 .countdown li {
	width: 25%;
	background-color: #eee;
	border-radius: 3px;
	color: #404048;
	padding: 2% 1%;
	font-size: 18px;
	font-weight: bold;
}
.deals-box1 .countdown li .count {
	font-size: inherit;
	font-weight: inherit;
}
.deals-box1 .countdown li .label {
	font-size: 12px;
	font-weight: normal;
	color: inherit;
}
.deals-box1 .description { margin-bottom: 15px; }
.deals-box1 .default-btn {
	color: #fff;
	background-color: #404048;
	border: 3px solid #404048;
	border-radius: 3px;
	padding: 12px 25px;
	font-size: 13px;
}
.deals-box1 .default-btn:hover {
	background-color: transparent;
	color: #404048;
}
.deals-box1 .btn-wrp .links { margin-top: 10px; }
.deals-box1 .btn-wrp .links a { margin-right: 15px; cursor: pointer; }
.deals-box1 .btn-wrp .links a:hover { text-decoration: underline; }
.deals-box1 * {
	-webkit-transition: all 0.40s;
	-moz-transition: all 0.40s;
	-o-transition: all 0.40s;
	-ms-transition: all 0.40s;
}

.deals-box1.t .info-wrp {	padding: 20px; }
.deals-box1.t .price {	margin-right: 10px; }
.deals-box1.t .default-btn { padding: 6px 12px; font-size: 12px; }


/* Deals box 2
=========================*/
.deals-box2 { 
	text-align: center;
	color: #fff;
	background-color: #fff;
	position: relative;
}
.deals-box2 .img-wrp .overlay {
	background-color: rgba(0,0,0,0.2);
	display: block;
}
.deals-box2 .img-wrp ul { 
	bottom: 30px;
}
.deals-box2 .info-wrp {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 80%;
}
.deals-box2 .name { 
	margin-bottom: 20px;
}
.deals-box2 .name p {
	margin-bottom: 0px;
}
.deals-box2 .name .h2 {
	margin-bottom: 3px;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
}
.deals-box2 .name .h2 a { color: inherit; }
.deals-box2 .name p > a {
	color: #fff;
}
.deals-box2 .name p > a:after {
	content: ', ';
	display: inline;
	margin: 0 3px 0 0;
}
.deals-box2 .name p > a:last-child:after {
	content: '';
}
.deals-box2 .name p > a:hover {
	text-decoration: none;
}
.deals-box2 .price-wrp {
	margin-bottom: 15px;
	display: block;
	border-top: 1px solid rgba(255,255,255, 0.3);
	padding-top: 20px;
}
.deals-box2 .price,
.deals-box2 .discount-tag {
	display: inline-block;
	vertical-align: middle;
}
.deals-box2 .price {
	margin-right: 10px;
}
.deals-box2 .price-new {
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	vertical-align: middle;
} 
.deals-box2 .price-old {
	color: #fff;
	text-decoration: line-through;
	font-size: 16px;
	vertical-align: middle;
	margin-right: 10px;
}
.deals-box2 .review-stars {
	display: block;
	background-color: rgba(0,0,0,0.5);
	display: inline-block;
	padding: 6px 15px;
	border-radius: 3px;
	margin-bottom: 20px;
	margin-top: -10px;
}
.deals-box2 .review-stars i {
	font-size: 16px;
}
.deals-box2 .discount-tag {
	background-color: #d41a1a;
	padding: 2px 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}
.deals-box2 .countdown {
	position: relative;
	width: 200px;
	border: 3px solid #fff;
	margin: 0 0 20px 0;
	border-radius: 5px;
	display: inline-block;
}
.deals-box2 .countdown:after {
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	content: "\f0d7";
	display: block;
	font-size: 30px;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -7px;
}
.deals-box2 .countdown ul {
	position: static;
	margin: 0px;
	font-size: 12px;
	border-spacing: 0px;
	width: 100%;
	text-align: center;
}
.deals-box2 .countdown li {
	width: 25%;
	background-color: transparent;
	border-left: 1px solid rgba(255,255,255,0.5);
	border-radius: 0px;
	color: #fff;
	padding: 2% 1%;
	font-size: 16px;
	font-weight: bold;
}
.deals-box2 .countdown li:first-child {
	border: none;
}
.deals-box2 .countdown li .count {
	font-size: inherit;
	font-weight: bold;
}
.deals-box2 .countdown li .label {
	font-size: 12px;
	font-weight: normal;
}
.deals-box2 .description { 
	margin-bottom: 20px;
	font-size: 16px;
}
.deals-box2 .default-btn {
	color: #404048;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 3px;
	padding: 12px 25px;
	font-size: 13px;
}
.deals-box2 .default-btn:hover {
	background-color: transparent;
	color: #fff;
}
.deals-box2 .btn-wrp .links { margin-top: 10px; }
.deals-box2 .btn-wrp .links a { 
	margin:0 7px; cursor: pointer;
	color: #fff;
}
.deals-box2 .btn-wrp .links a:hover { text-decoration: underline; }
.deals-box2 * {
	-webkit-transition: all 0.40s;
	-moz-transition: all 0.40s;
	-o-transition: all 0.40s;
	-ms-transition: all 0.40s;
}


/* Deals box 3
=========================*/
.deals-box3 { 
	color: #fff;
	position: relative;
}
.deals-box3 .disable {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 9;
	display: none;
}
.deals-box3 .img-wrp .overlay {
	background-color: rgba(0,0,0,0.3);
	display: block;
}
.deals-box3 .info-wrp {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 85%;
	height: 85%;
}
.deals-box3 .name { 
	margin-bottom: 10px;
	opacity: 0;
}
.deals-box3 .name p {
	margin-bottom: 0px;
	font-size: 11px;
}
.deals-box3 .name .h2 {
	margin-bottom: 0;
	color: #fff;
	font-size: 16px;
}
.deals-box3 .name .h2 a { color: inherit; }
.deals-box3 .name p > a {
	color: #fff;
}
.deals-box3 .name p > a:after {
	content: ', ';
	display: inline;
	margin: 0 3px 0 0;
}
.deals-box3 .name p > a:last-child:after {
	content: '';
}
.deals-box3 .name p > a:hover {
	text-decoration: none;
}
.deals-box3 .price-wrp {
	display: block;
	opacity: 0;
	border-top: 1px solid rgba(255,255,255,0.3);
	padding-top: 10px;
	margin-top: 10px;
}
.deals-box3 .price,
.deals-box3 .discount-tag {
	display: inline-block;
	vertical-align: middle;
}
.deals-box3 .price {
	margin-right: 10px;
	line-height: 1.2;
}
.deals-box3 .price-new {
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	vertical-align: middle;
} 
.deals-box3 .price-old {
	color: #fff;
	text-decoration: line-through;
	display: block;
}
.deals-box3 .review-stars {
	display: block;
	padding: 3px 6px;
	border-radius: 3px;
	display: none;
}
.deals-box3 .review-stars i {
	font-size: 12px;
}
.deals-box3 .discount-tag {
	background-color: #d41a1a;
	padding: 2px 10px;
	border-radius: 3px;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	position: absolute;
	right: 0px;
	top: 0px;
	opacity: 0;
}
.deals-box3 .description { 
	margin-bottom: 10px;
	opacity: 0;
	font-size: 11px;
}
.deals-box3 .btn-wrp {
	display: inline-block;
}
.deals-box3 .default-btn {
	color: #404048;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 5px 10px;
	font-size: 11px;
}
.deals-box3 .default-btn:hover {
	background-color: transparent;
	color: #fff;
}
.deals-box3 .btn-wrp .links { 
	display: inline-block;
	margin-left: 6px;
}
.deals-box3 .btn-wrp .links a { 
	margin:0 6px 0 0; 
	cursor: pointer;
	color: #fff;
}
.deals-box3 .btn-wrp .links a:hover { text-decoration: underline; }
.deals-box3 .countdown {
	position: relative;
	width: 160px;
	border: 2px solid #fff;
	margin: 0 0 15px 0;
	border-radius: 5px;
	opacity: 0;
}
.deals-box3 .countdown:after {
	font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
	content: "\f0d7";
	display: block;
	font-size: 22px;
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -7px;
}
.deals-box3 .countdown ul {
	position: static;
	margin: 0px;
	border-spacing: 0px;
	width: 100%;
	text-align: center;
}
.deals-box3 .countdown li {
	width: 25%;
	background-color: transparent;
	border-left: 1px solid rgba(255,255,255,0.5);
	border-radius: 0px;
	color: #fff;
	padding: 2% 1%;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.2;
}
.deals-box3 .countdown li:first-child {
	border: none;
}
.deals-box3 .countdown li span {
	font-size: 11px;
	font-weight: normal;
}
.deals-box3 .bc,
.deals-box3 .bl {
	bottom: 0px;
	left: 0px;
	position: absolute;
	text-align: left;
}
.deals-box3 .ml,
.deals-box3 .mc {
	left: 0;
	top: 50%;
	position: absolute;
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
}
.deals-box3 .mc,
.deals-box3 .bc,
.deals-box3 .center { text-align: center; width: 100%; }
.deals-box3 .center .countdown { margin-left: auto; margin-right: auto; }
.deals-box3 .center .price { display: block; margin-bottom: 10px; }
.deals-box3 .center .price .price-old { display: inline-block; margin-right: 10px; vertical-align: middle; }
.deals-box3 .center .btn-wrp { position: relative; }
.deals-box3 .center .links { 
	display: block; 
	width: 100%;
	position: absolute;
	left: 0px;
	margin: 0px;
	height: 0;
	top: 50%;
}
.deals-box3 .center .links a { 
	position: absolute;
	top: 50%;
	margin: -6px 0 0 0;
}
.deals-box3 .center .links a:first-child { left: -25px; }
.deals-box3 .center .links a:last-child { right: -25px; }

.owl-item.active.center .deals-box3 .disable { display: none; }
.owl-item.active.center .deals-box3 .discount-tag,
.owl-item.active.center .deals-box3 .name,
.owl-item.active.center .deals-box3 .description,
.owl-item.active.center .deals-box3 .price-wrp,
.owl-item.active.center .deals-box3 .countdown {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.owl-item.active.center .deals-box3 .name {
	-webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.owl-item.active.center .deals-box3 .description {
	-webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.owl-item.active.center .deals-box3 .price-wrp {
	-webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 15px, 0);
		transform: translate3d(0, 15px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 15px, 0);
		transform: translate3d(0, 15px, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}


/* HELPER CLASSES
********************************************/
.vm { position: relative; }
.vm > .vm-item {
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}


/* margin
------------------------*/
.mrb0 	{ margin-bottom: 0px;  }
.mrb1 	{ margin-bottom: 1px;  }
.mrb2 	{ margin-bottom: 2px;  }
.mrb5 	{ margin-bottom: 5px;  }
.mrb10 	{ margin-bottom: 10px; }
.mrb15 	{ margin-bottom: 15px; }
.mrb20 	{ margin-bottom: 20px; }
.mrb25 	{ margin-bottom: 25px; }
.mrb30 	{ margin-bottom: 30px; }
.mrb35 	{ margin-bottom: 35px; }
.mrb40 	{ margin-bottom: 40px; }
.mrb45 	{ margin-bottom: 45px; }
.mrb50 	{ margin-bottom: 50px; }
.mrb55 	{ margin-bottom: 55px; }
.mrb60 	{ margin-bottom: 60px; }
.mrb70 	{ margin-bottom: 70px; }
.mrb80 	{ margin-bottom: 80px; }
.mrb90 	{ margin-bottom: 90px; }
.mrb100 { margin-bottom: 100px; }

.mrt0 	{ margin-top: 0px;  }
.mrt1 	{ margin-top: 1px;  }
.mrt2 	{ margin-top: 2px;  }
.mrt5 	{ margin-top: 5px;  }
.mrt10 	{ margin-top: 10px; }
.mrt15 	{ margin-top: 15px; }
.mrt20 	{ margin-top: 20px; }
.mrt25 	{ margin-top: 25px; }
.mrt30 	{ margin-top: 30px; }
.mrt35 	{ margin-top: 35px; }
.mrt40 	{ margin-top: 40px; }
.mrt45 	{ margin-top: 45px; }
.mrt50 	{ margin-top: 50px; }
.mrt55 	{ margin-top: 55px; }
.mrt60 	{ margin-top: 60px; }
.mrt70 	{ margin-top: 70px; }
.mrt80 	{ margin-top: 80px; }
.mrt90 	{ margin-top: 90px; }
.mrt100 { margin-top: 100px; }

/* Border classes
------------------------*/
.bdr { border: 1px solid rgba(0,0,0,0.05); }
.bdr-b { border-bottom: 1px solid rgba(0,0,0,0.05); }
.bdr-t { border-top: 1px solid rgba(0,0,0,0.05); }
.bdr-l { border-left: 1px solid rgba(0,0,0,0.05); }
.bdr-r { border-right: 1px solid rgba(0,0,0,0.05); }

.bdr-t-color { border-top-color: rgba(0,0,0,0.05); }
.bdr-r-color { border-right-color: rgba(0,0,0,0.05); }
.bdr-b-color { border-bottom-color: rgba(0,0,0,0.05); }
.bdr-l-color { border-left-color: rgba(0,0,0,0.05); }

.bdr-color { border-color: rgba(0,0,0,0.05); }

.bdr-t-color-1 { border-top-color: #434444; }
.bdr-r-color-1 { border-right-color: #434444; }
.bdr-b-color-1 { border-bottom-color: #434444; }
.bdr-l-color-1 { border-left-color: #434444; }

.bdr-color-1 { border-color: #434444; }

/* Background classes
------------------------*/
.bg1 { background-color: rgba(0,0,0,0.01); }
.bg2 { background-color: #434444; }