<div id="rgen-basicbanners-rgen3qLtNQ" class="rgen-basicbanners basicbanners-rgC2r">
	<div class="mod-wrp">
				
		
		<div class="mod-content">
						<div class="rw  eq6 d-eq6 t-eq3 mxl-eq2 msm-eq2 mxs-eq1 gt4 mb4">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_1-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_2-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_4-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_6-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_5-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/450x200_3-450x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
