<div id="rgen-basicbanners-rgenPDPRky" class="rgen-basicbanners basicbanners-rgMQD">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq2 gt10 mb10">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/280x210_1-280x210.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/280x210_3-280x210.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/280x210_4-280x210.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/280x210_2-280x210.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
