<div id="rgen-basicbanners-rgenFdVoDJ" class="rgen-basicbanners basicbanners-rgwkY">
	<div class="mod-wrp container">
				
				<section class="mod-customhtml"><h2 style="font-size: 30px; font-weight: 400; margin-bottom: 5px; color: inherit">Shop by brands</h2>
<hr style="width: 100px; margin: 20px auto; border-top: 4px solid rgba(0,0,0,0.06);">
<p style="font-size: 16px; line-height:1.4;">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br>
	Incididunt ut labore et dolore magna aliqua.
</p></section>	
		
		<div class="mod-content">
						<div 
				class="widget-carousel ctrl-b" 
				data-stpd="1" 
				data-resitems="7" 
				data-res="true" 
				data-margin="10"
				 data-nav="false"				 data-dots="true">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/01-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/02-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/03-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/04-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/05-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/06-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/07-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/08-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/09-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/brands/10-250x250.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>

			<script type="text/javascript" ><!--
			$("#rgen-basicbanners-rgenFdVoDJ .widget-carousel").css({	opacity: 0 });
			$(document).ready(function() {
				var obj = "#rgen-basicbanners-rgenFdVoDJ .widget-carousel";
				var resObj = { 0: { items:2 },200: { items:2 },300: { items:2 },400: { items:2 },500: { items:3 },600: { items:3 },700: { items:3 },800: { items:4 },900: { items:4 },1000: { items:6 },1100: { items:6 }	};
				setTimeout(function () { widgetCarousel(obj, resObj); }, 100);
			});
			//--></script>
					</div>

	</div>
</div>
