<div id="rgen-basicbanners-rgenKRTVVZ" class="rgen-basicbanners basicbanners-rgbEW">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq4 d-eq4 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt10 mb10">
								<div class="cl">
							<div class="effect-1 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo01_images/banners/285x200_01-285x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<div>
					<h2 class="h3"><span style="display:inline-block; padding: 5px 10px; background: #000; color: #fff;">New collection</span><br><span style="display:inline-block; color: #fff; font-size: 16px;font-weight: normal; text-transform: none; font-style: italic;">For Women</span></h2>
					<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn small">Shop now</a></p>
				</div>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank">View more</a>
							</figcaption>
		</div>
					</div>
								<div class="cl">
							<div class="effect-1 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo01_images/banners/285x200_02-285x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<div>
					<h2 class="h3"><span style="display:inline-block; padding: 5px 10px; background: #000; color: #fff;">New collection</span><br><span style="display:inline-block; color: #fff; font-size: 16px;font-weight: normal; text-transform: none; font-style: italic;">For Men</span></h2>
					<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn small">Shop now</a></p>
				</div>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank">View more</a>
							</figcaption>
		</div>
					</div>
								<div class="cl">
							<div class="effect-1 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo01_images/banners/285x200_03-285x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<div>
					<h2 class="h3"><span style="display:inline-block; padding: 5px 10px; background: #000; color: #fff;">50% OFF on Accessories</span> <span style="display:inline-block; color: #fff; font-size: 16px;font-weight: normal; text-transform: none; font-style: italic;">Selected range</span></h2>
					<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn small">Shop now</a></p>
				</div>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank">View more</a>
							</figcaption>
		</div>
					</div>
								<div class="cl">
							<div class="effect-1 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo01_images/banners/285x200_04-285x200.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<div>
					<h2 class="h3"><span style="display:inline-block; padding: 5px 10px; background: #000; color: #fff;">20% OFF on Gifts</span><br> <span style="display:inline-block; color: #fff; font-size: 16px;font-weight: normal; text-transform: none; font-style: italic;">Selected range</span></h2>
					<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn small">Shop now</a></p>
				</div>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank">View more</a>
							</figcaption>
		</div>
					</div>
							</div>
					</div>

	</div>
</div>
