<div id="rgen-basicbanners-rgenUQ48ZZ" class="rgen-basicbanners basicbanners-rgosl">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb10">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/other/menu-newarrival-banner1-300x136.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/other/menu-newarrival-banner2-300x136.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/other/menu-newarrival-banner3-300x136.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/other/menu-newarrival-banner4-300x136.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
