<div id="rgen-basicbanners-rgenwn0klV" class="rgen-basicbanners basicbanners-rg17P">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq2 mxs-eq1 gt0 mb10">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/banners/other-banners/262x258_01-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/banners/other-banners/262x258_02-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
