<div id="rgen-basicbanners-rgenl56FXi" class="rgen-basicbanners basicbanners-rg6bJ">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div 
				class="widget-carousel ctrl-b" 
				data-stpd="1" 
				data-resitems="5" 
				data-res="true" 
				data-margin="1"
				 data-nav="false"				 data-dots="true">
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_3-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">Dresses</span> <span class="sub-text">Extra 10% Off</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_5-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">All Suits</span> <span class="sub-text">20% Off Limited time</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_1-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">Beauty</span> <span class="sub-text">Save up to 30%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_4-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">NEW IN</span> <span class="sub-text">Save up to 20%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_2-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">HAIRCARE</span> <span class="sub-text">Save up to 20%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
							</div>

			<script type="text/javascript" ><!--
			$("#rgen-basicbanners-rgenl56FXi .widget-carousel").css({	opacity: 0 });
			$(document).ready(function() {
				var obj = "#rgen-basicbanners-rgenl56FXi .widget-carousel";
				var resObj = { 0: { items:1 },200: { items:1 },300: { items:2 },400: { items:2 },500: { items:3 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:3 },1100: { items:3 }	};
				setTimeout(function () { widgetCarousel(obj, resObj); }, 100);
			});
			//--></script>
					</div>

	</div>
</div>
