<div id="rgen-basicbanners-rgenQnndCr" class="rgen-basicbanners basicbanners-rglpl">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq3 d-eq3 t-eq3 mxl-eq3 msm-eq1 mxs-eq1 gt10 mb10">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/bnr-307x160_1-307x160.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/bnr-307x160_2-307x160.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/bnr-307x160_3-307x160.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
