<div id="rgen-basicbanners-rgenpH3jpg" class="rgen-basicbanners basicbanners-rg1rj">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0">
								<div class="cl">
									<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/promo-banner-400x800.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
							</div>
							</div>
					</div>

	</div>
</div>
