<div id="rgen-imagegallery-rgenL7HgVs" class="rgen-imagegallery imagegallery-rgvlm" data-pswp-uid="1">
	<div class="mod-wrp">
						<h3 class="mod-hd">ADVANCED IMAGE GALLERY</h3>
				
				<section class="mod-customhtml t-html"><p>New advanced SEO friendly image gallery promoting content with Structured Data Markup</p></section>	
				
		<div class="rw gt0">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								

																<div class="masonry-wrp" id="masonry-rgen-imagegallery-rgenL7HgVs_0" itemscope itemtype="http://schema.org/ImageGallery">
																											<div 
										class="masonry-item" 
										data-colspan="4" 
										data-rowspan="4">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/01.jpg" itemprop="image" data-size="2000x1125">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/01-599x599.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/02.jpg" itemprop="image" data-size="2000x1500">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/02-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="4">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/03.jpg" itemprop="image" data-size="1518x2000">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/03-299x599.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/04.jpg" itemprop="image" data-size="2000x1329">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/04-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="4" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/05.jpg" itemprop="image" data-size="2000x1125">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/05-599x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/06.jpg" itemprop="image" data-size="2000x1420">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/06-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/07.jpg" itemprop="image" data-size="2000x1333">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/07-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/08.jpg" itemprop="image" data-size="2000x1997">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/08-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/09.jpg" itemprop="image" data-size="2000x1325">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/09-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="4" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/10.jpg" itemprop="image" data-size="2000x1328">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/10-599x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/11.jpg" itemprop="image" data-size="2000x1500">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/11-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																		<div 
										class="masonry-item" 
										data-colspan="2" 
										data-rowspan="2">
										<figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	<div class="overlay">
		<span>
			<a class="pop ico" href="image/catalog/rgen/demo04_images/gallery/12.jpg" itemprop="image" data-size="2000x1333">
								<i class="fa fa-plus"></i>
							</a>
						<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="url ico" itemprop="url">
								<i class="fa fa-link"></i>
							</a>
					</span>
	</div>
	<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/gallery/12-299x299.jpg" itemprop="thumbnail" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</figure>									</div>
																	</div>
								<script>
								jQuery(document).ready(function($) {
									var settings = {
										gutter: '1px',
										itemclass: '.masonry-item'
									};
									bnrgrids('#rgen-imagegallery-rgenL7HgVs #masonry-rgen-imagegallery-rgenL7HgVs_0', settings);
								});
								</script>
								

								

								

							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
<script>
$(document).ready(function() {
	photoSwipe_fn('#rgen-imagegallery-rgenL7HgVs');
});
</script>
