div.grid_item > div > div > div > h3
{
	background:transparent;
	color:#000;
}

div.grid_item > div > div > div > h2
{
	background:transparent;
	border:none;
	color:#000;
	padding:2px 5px;
}

div.grid_item > div > div > div > a
{
	padding: 1px 0px;
	background:transparent;
	border-bottom:2px solid #000;
	color:#000;
}
