div.grid_item > div > div > div > h3
{
	background:#fff;
	color:#00;
	margin-bottom:5px;
}

div.grid_item > div > div > div > h2
{
	background:#fff;
	color:#000;
	padding:2px 5px;
}

div.grid_item > div > div > div > a
{
	padding:2px 5px;
	background:transparent;
	background:#000;
	color:#fff;
	border:none;
}
