div.sequence h2
{
	background:transparent;
	color:#000;
}

div.sequence h3
{
	background:transparent;
	border:2px solid #000;
	color:#000;
}

div.sequence a.button
{
	padding: 7px 0px;
	background:transparent;
	border-bottom:3px solid #000;
	color:#333;
}

div.sequence p {
  color: #333333;
}
