div.sequence h2
{
	background:transparent;
	color:#fff;
}

div.sequence h3
{
	background:transparent;
	border:2px solid #fff;
	color:#fff;
}

div.sequence a.button
{
	padding: 7px 0px;
	background:transparent;
	border-bottom:3px solid #FFFFFF;
	color:#fff;
}
