
<div id="rgen-stickyhtml-rgenkScRYL" class="rgen-stickyhtml stickyhtml-rgjfO  sticky-mod sticky-r" style="top:201px;width:400px;right:-400px;">
	<div class="mod-out-wrp">
				<span class="sticky-handle vm"><i style="font-size: 20px;" class="fa fa-twitter"></i></span>
		
		<div class="mod-wrp">
						<div class="mod-content">
								<section class="mod-customhtml"><a 
class="twitter-timeline" 
href="https://twitter.com/RGenesisArt" 
data-widget-id="345031699077410817"
width="100%"
data-chrome="nofooter noscrollbar transparent"
data-tweet-limit="3"
>Tweets by @RGenesisArt</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></section>	
							</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() { fn_stickyhtml("#rgen-stickyhtml-rgenkScRYL"); });
</script>
