
<div id="rgen-stickyhtml-rgenMEmdWB" class="rgen-stickyhtml stickyhtml-rgbo5  sticky-mod sticky-r" style="top:252px;width:600px;right:-600px;">
	<div class="mod-out-wrp">
				<span class="sticky-handle vm"><i style="font-size: 20px;" class="fa fa-flickr"></i></span>
		
		<div class="mod-wrp">
						<div class="mod-content">
								<section class="mod-customhtml"><iframe src="https://www.flickr.com/photos/we-are-envato/13090422515/player/" width="100%" height="420" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe></section>	
							</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() { fn_stickyhtml("#rgen-stickyhtml-rgenMEmdWB"); });
</script>
