<h3 class="rgen-hd-1">No effect</h3>
<div class="field-box">
	<label>Customization</label>
	<div class="fields">
		<ul class="form-row">
			<li>
				<label class="lbl">Block</label>
				<rgen-button type="alone" config="{fonts:0}" buttonlabel="Edit" data-ng-model="themeData[manage_tab].no_effect.block"></rgen-button>
			</li>
			<li>
				<label class="lbl">Image</label>
				<rgen-button type="alone" config="{fonts:0}" buttonlabel="Edit" data-ng-model="themeData[manage_tab].no_effect.img"></rgen-button>
			</li>
		</ul>
	</div>
</div>