/*-----------------------------------------------------------------------------------*/
/*	Table of contents
/*-----------------------------------------------------------------------------------*/

/*
 Section 1. -- Default styles - overrides defaults from boostrap3 css/bootstrap.css 
 Section 2. -- Navbar - Top menu
 Section 3. -- Footer 
 Section 4. -- Twitter feed 
 Section 5. -- Category
 Section 6. -- Contact us
 Section 7. -- About us
 Section 8. -- Checkout
 Section 9. -- My account
 Section 10. -- Product styles
 Section 11. -- Cart
 Section 12. -- Forgot password
 Section 13. -- Site map 
 Section 14. -- 404
 Section 15. -- Blog
 Section 16. -- Newsletter
 Section 17. -- Alert box
 Section 18. -- Autocomplete
 Section 19. -- Media queries
*/


/*-----------------------------------------------------------------------------------*/
/*	Default styles
/*-----------------------------------------------------------------------------------*/

/* undo boostrap stupid hacks */
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] 
{
  position: static;
}

body
{
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    background:#fafafa;
}

.no_padding
{
	padding:0px;
}

.no_paddingleft
{
	padding-left:0px;
}

.no_paddingright
{
	padding-right:0px;
}
.container
{
	/*padding:0px 30px 30px;*/
}

a 
{
   font-size:12px;
   color:#777;
}

a:hover, a:focus
{
    text-decoration:none;
    cursor:pointer;
}

ul, ol
{
	list-style:none;
	padding:0px;
}
.page-container
{
    margin:0px auto;
    padding:0px;
}

.page-container > .row {
  margin: 0;
}

p
{
	line-height: 26px;.
}

img
{
	max-width:100%;
}

select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  width: 220px;
}

select, input[type="file"] {
  height: 30px;
  line-height: 30px;
  padding:4px 6px;
}


.row.sort_show {
  /*border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;*/
  background:#f5f5f5;
  padding: 8px 10px 0px;
}

#input-sort, #input-limit
{
    font-size:11px;
    background:#fafafa;
    height:auto;
    border:none;
    box-shadow:none;
}

.sort_show label
{
    line-height: 32px;
    font-weight:normal;
    color:#777;
}


input[type="image"]
{
    vertical-align:middle;
}


ul,ol
{
    margin:0px; 
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"],input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input
{
   padding:5px 5px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
   border-color:#ddd;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

.required
{
   color:red;
}

.buttons
{
    margin:10px 0px;
    height: 50px;
}

.btn
{
   background-color:#F5F5F5;
   background-image:none;
   border:1px solid #eee;
   padding:5px 8px;
   font-size:11px;
   font-family: Lato, 'Open Sans';
   color:#333;
   text-shadow:none;
   text-transform: uppercase;
   box-shadow:none;
   border-radius:0px;
   transition:all 0.4s ease 0s;
   margin-right:5px;
   padding:8px 20px;
}

.btn.selectpicker
{
	background:#fff;
	color:#333;
}

.btn:hover
{
   background-color:#333;
   color:#fff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
	border-color:#eee;
}

.button, .btn-primary, #button-confirm
{
	background-color:#333;
	color:#fff;
	padding:8px 35px 8px;
	transition:all 0.4s ease 0s;
}

.btn-primary:hover
{
   background-color:#aaa;
}

.product .btn-primary
{
    display:none;
}

.product-list .product .btn-primary
{
	display:block;
}

.buttons .right 
{
    text-align: right;
}

#button-review
{
	margin-bottom:20px;
}


div.bootstrap-select.btn-group
{
    margin:0px;
}

select.form-control
{
    font-size:12px;
}

select.selectpicker
{
    display: none;
}

.btn.btn-link
{
	background:transparent;
	color:#aaa;
	text-transform:lowercase;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	margin:0px;
	padding:0px 8px;
	border:none;
	font-size:11px;
	text-decoration:none;
} 

#top .btn.btn-link
{
	color:#bbb;
}

.btn.btn-link img
{
    opacity:0.2;
    height:10px;
    margin-right:5px;
}

.btn.btn-link:hover
{
    color:#000;
}

.btn.btn-link:hover img
{
    opacity:1;
}


.navbar .bootstrap-select.btn-group
{
	margin-bottom:0px;
}

.screen_right
{
	direction:ltr;
}
/*-----------------------------------------------------------------------------------*/
/*	Navbar
/*-----------------------------------------------------------------------------------*/


.navbar-toggle .icon-bar
{
	background:#777;
}

.navbar-toggle
{
	border-radius: 0;
}

.navbar .navbar-toggle
{
	border-color:transparent;
}

.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
{
	background-color:#000;
	margin:0px 0px;
}


.navbar-toggle .icon-bar
{
	background:#fff;
}


.navbar .navbar-brand
{	
	text-shadow:none;
	font-family: 'Lato', 'Open Sans';
	font-size:15px;
	padding:0px;
	line-height:32px;
	margin-top:0px;
	margin-left:10px;
	background:transparent;
	text-transform:uppercase;
	color:#444;
}


.navbar-brand > img 
{
  margin-top:0px;
  margin-left:10px;
  margin-right:5px;
  vertical-align:middle;
  opacity: 1;
}

.navbar .navbar-brand span
{
	color:#555;
	text-shadow:none;
	display:inline-block;
	text-align:center;
}


	.header
	{
		padding-bottom:0px;
		margin-bottom:0px;
	}


	.navbar
	{
		background-image:none;
		border:none;
		font-family: 'Lato', 'Open Sans',sans-serif;
		border-radius:0px;
		box-shadow:none;
		padding:0px;
		z-index:1000;
		min-height:0px;
	}



	.navbar .dropdown-menu
	{
		background:#555;
		background:rgba(255, 255, 255, 0.85);
		background:transparent;
		padding:0px;
		border-radius:0px;
		box-shadow:none;
		border:none;
		min-width:200px;
	}
	
	
	.navbar-toggle .icon-bar
	{
		background:#fff;
	}
	
	.navbar .nav > li:hover > a
	{
		color: #333333;
	}

	a.menu:after, .dropdown-toggle:after 
	{
		content: none;
	}

	.navbar .dropdown-menu:after, .navbar .dropdown-menu:before
	{
		content:"";
		background:none;
		border:none !important;
	}

	.navbar .dropdown-menu > li > a, .navbar  .dropdown-menu > li > a:focus, 
	.navbar  .dropdown-menu > li > a:hover
	{
		color:#555;
		font-size:12px;
		font-weight:normal;
		font-family:'Open Sans', Arial, sans-serif;
		text-shadow:none;
		background:#fff;
		background:rgba(255, 255, 255, 0.95);
		white-space:normal;
	}

	.navbar .dropdown-menu > li > a:hover
	{
		background:#777;
		background:rgba(0, 0, 0, 0.9);
		background:#333;
		background:rgba(0, 0, 0, 0.9);
		color:#fff;
		text-shadow:none;
	}

	.navbar .nav > li > a
	{
		text-shadow:none;
		font-family: Lato,'Open sans', Helvetica, Arial;
		color: #888;
		font-size: 11px;
		text-decoration: none;
		text-transform: uppercase;
		z-index: 6;	
	}
	
	/*.nav.navbar-nav > li:first-child a
	{
	  color: #333;
	  font-family: entypo;
	  font-size: 24px;
	  line-height: 24px;
	  padding:0px;
	}
	
	.nav.navbar-nav > li:first-child 
	{
		background: none repeat scroll 0 0 #333;
		font-size: 40px;
		line-height: 44px;
		padding:0px 15px;
		color:#fff;
		font-family:entypo;
	}

	*/
	
	.navbar-nav
	{
		margin:0px;
	}
	
	
	
	#top
	{
		font-size:11px;
		color:#bbb;
		background:#222;
		font-weight:400;
	}
	/*
	body#home #top
	{
	    background:#f5f5f5;
	}*/

	#welcome {
	  margin: 2px 0 2px 10px;
	  text-transform:lowercase;
	}

	#top .container 
	{
	    padding: 5px 20px;
	}
	
	#top a
	{
	    color:#bbb;
	    font-size:11px;
	}
	
	#top ul.dropdown-menu > li > a
	{
		color:#333;
	}
	
	#top .btn.btn-link:hover
	{
		color:#fff;
	}

	#top-links > ul > li > a
	{
	    padding:0px 5px;
	}
	
	#top-links > ul > li > a
	{
	    display:inline-block;
	    font-size: 11px;
	    font-weight:400;
	    line-height: 20px;
	    padding:0px;
	    color:#bbb;
	    text-transform:lowercase;
	}
	
	#top-links a span
	{
	    padding:0px 2px;
	}
	
	#top-links a i
	{
	    font-size:9px;
	    color:#777;
	}
	
	#top-links a i.fa.fa-caret-down 
	{
	  color:#bbb;
	  display: inline-block;
	  font-size:12px;
	  margin-right:10px;
	}
	
	#top-links a:last-child span
	{
	    border-right:none;
	}
	
	div#header
	{
		padding:20px 20px 0px;
		background:#fff;
	}
	
	body#home div#header
	{
		background:transparent;
	}

	
	.navbar-search
	{
	    margin:0px;
	    padding:0px;
	    text-align:right;
	}
	
	.search-col
	{
	    text-align:right;
	    display:inline-block;
	    vertical-align:middle;
	    float:right;
	    margin-top:3px;
	}
	
	.navbar-search .search-query 
	{
	  border-radius: 0 0 0 0;
	  box-shadow: none !important;
	  padding: 6px 15px 6px;
	  background:#fff;
	  width: 150px;
	  font-size:12px;
	  -moz-transition:width 1s, opacity 1s;
	  -webkit-transition:width 1s, opacity 1s;
	  transition:width 1s, opacity 1s;
	  margin:0 0px 0 0px;
	  float:left;
	  border:none;
	}

	.navbar-form.navbar-left
	{
		margin:0px;
		margin-right:5px;
		padding:0px;
		font-size:12px;
	}

	.navbar-form.navbar-right:last-child
	{
	    margin-right:-10px;
	}

	.navbar-form.navbar-left select.form-control
	{
		font-size:12px;
		padding:6px 10px;
	}

	form.navbar-search > div.input-group
	{
	    display:block;
	}


	form.navbar-search > div.input-group > button {
	  background: transparent;
	  border: medium none;
	  border-radius: 0 0 0 0;
	  color: #333;
	  font-size: 12px;
	  padding: 15px 16px 14px;
	  line-height: 1px;
	  top:0px;
	  text-shadow:none;
	  box-shadow:none;
	  vertical-align:top;
	  background-color:#fff;
	  float:right;
	  background:url('../img/search.png') no-repeat center center #fff;
	  border-left:none;
	}

	form.navbar-search:hover > div.input-group > button,form.navbar-search.expand > div.input-group > button, .navbar-search .search-query:focus + button 
	{
	  background-color:#eee;
	  /*border-left:1px solid #eee;
	  color: #777;*/
	}


	#language, #currency
	{
		display:none;
	}
	

	.cart-info.dropdown-menu
	{
	    right:10px;
	}

	.nav li.dropdown > .dropdown-toggle .caret
	{
		border-bottom-color: #FFFFFF;
		border-bottom-color:rgba(0, 0, 0, 0.2);
		border-top-color: #FFFFFF;
		border-top-color: rgba(0, 0, 0, 0.2);
		margin-bottom:2px;
		margin-left:2px;
		border-width:2px 2px 0;
	}

	.nav li.dropdown:hover > .dropdown-toggle .caret 
	{
	  border-bottom-color: #333333;
	  border-top-color: #333333;
	}

	.nav.cart > a, #cart > button 
	{
	  background-image: url("../img/cart2.png");
	  background-position: 0px 0px;
	  background-repeat: no-repeat;
	  color: #333;
	  display: inline-block;
	  font-size: 12px;
	  font-weight: 600;
	  line-height: 21px;
	  padding-left: 17px;
	  text-transform: none;
	  z-index: 1;
	}

	.navbar .nav.cart > li:hover > a, .navbar .nav.cart > li.open > a 
	{
		/*background:url("../img/cart_black.png") no-repeat 8px 45px #FFFFFF;*/
	}

	.navbar .nav.cart > li > a span
	{
		background:#333;
		padding:2px 5px;
		border-radius:3px;
		font-weight:400px;
		font-family:Lato, 'Open Sans';
		color:#fff;
		margin-left:20px;
	}
	
	
	.cart {
	  display: inline-block;
	  margin-left: 10px;
	  margin-top: 3px;
	  padding: 4px 0px 4px 7px;
	  position:relative;
	}

	.cart img
	{
		vertical-align:text-top;
		cursor: pointer;
		margin-top: 2px;
		padding: 0px;
		min-width:47px;
		min-height:47px;
    }
    
	.cart a 
	{
		color:#555;
		font-weight:400;
		font-size:12px;
	}
	.cart a:hover
	{
		text-decoration:none;
	}
	
	#cart > span
	{
		padding:5px 10px 5px 5px;
	}

	.cart .checkout
	{
		color:#999;
	}

	.cart .checkout a 
	{
		font-size:11px;
		color:#777;
		font-weight:normal;
	}


@media (min-width: 768px)
{

	div#header
	{
		padding:40px 15px 40px;
	}
	/*-----------------------------------------------------------------------------------*/
	/*	Navbar
	/*-----------------------------------------------------------------------------------*/
	
	.navbar-center
	{
		left: 50%;
		margin-left: -100px;
		position: absolute;
	}

	.navbar-nav
	{
		margin-top:0px;
		margin-right:0px;
	}

	/*bootstrap3 multi level menu*/

	.dropdown-submenu{
		position:relative;
	}

	.dropdown-submenu > .dropdown-menu
	{
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}

	.dropdown-submenu:hover > .dropdown-menu{
		display:block;
	}

	.dropdown-submenu > a:after{
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:8px;
		margin-right:-10px;
	}

	.dropdown-submenu:hover > a:after{
		border-left-color:#ffffff;
	}

	.dropdown-submenu .pull-left{
		float:none;
	}

	.dropdown-submenu.pull-left > .dropdown-menu{
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}


	.nav > li > a:hover, .nav > li > a:focus
	{
		background-color:transparent;
	}


	.nav .open > a, .nav .open > a:hover, .nav .open > a:focus
	{
		background-color:#fff;
		color:#333;
	}


	.navbar .dropdown-menu.multi-2-columns
	{
		width:400px;
	}

	.navbar .dropdown-menu.multi-2-columns li
	{
		float:left;
		width:200px;
	}

	/*.navbar-collapse
	{
		background:#fff;
	}*/
	
	.navbar .nav > li:hover > a
	{
	  color: #000;
	}
	
	.navbar .dropdown-menu > li > a, .navbar  .dropdown-menu > li > a:focus, 
	.navbar  .dropdown-menu > li > a:hover
	{
		padding:8px 20px;
	}

	.navbar-search
	{
		padding:0 0px 0 0px;
		margin:0px;
	}

	.navbar-search .search-query 
	{
	}


	.navbar-search .search-query, .navbar-search:hover .search-query,.navbar-search.expand .search-query, .search-query:focus 
	{
	  padding: 6px 15px;
	  width: 150px;
	  opacity:1;
	  margin:0 0px 0 0px;
	  background:#fff;
	  color:#555;
	  border:none;
	}

	.navbar-search:hover ul.autocomplete.show, .search-query:focus + ul.autocomplete.show 
	{
	  display: block;
	  opacity: 1;
	}

	.navbar .nav.cart > li > a
	{
		background-position: 0px 2px;
	}

	.navbar .nav.cart > li > a span
	{
		margin:0px;
	}
	


	::-webkit-input-placeholder { /* WebKit browsers */
		color:    #bbb;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:    #bbb;
		opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:    #bbb;
		opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:    #bbb;
	}

	.form-control::-moz-placeholder
	{
		color:#bbb;
		font-size:11px;
	}
	.form-control::-webkit-input-placeholder
	{
		color:#bbb;
		font-size:11px;
	}
	.form-control:-moz-placeholder
	{
		color:#bbb;
		font-size:11px;
	}
	.form-control:-ms-input-placeholder
	{
		color:#bbb;
		font-size:11px;
	}

	.dropdown-menu .divider
	{
		background: #fff;
		background: rgba(255, 255, 255, 0.95);
		border-bottom:1px solid #FFFFFF;
		border-bottom:1px solid rgba(0, 0, 0, 0.2);
		margin:0px;
		padding:5px 1px;
	}


	.navbar .navbar-toggle
	{
		border-color:transparent;
	}

	.navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
		background-color:#fff;
		margin:0px 20px;
	}



	.nav li + .dropdown-header
	{
		margin-top:0px;
	}

	.dropdown-header
	{
		text-shadow:none;
		text-transform:uppercase;
	}

	.dropdown .dropdown-menu .dropdown-header 
	{
	  background:#fff;
	  background: rgba(255, 255, 255, 0.95);
	  padding:10px 20px 0px;
	  color:#999;
	  font-weight:600;
	  font-size:11px;
	  text-shadow: 0 0 1px #EEEEEE;
	}

	.dropdown-menu .divider
	{
		border-bottom:1px solid rgba(0, 0, 0, 0.1);
	}


	.navbar .dropdown-menu 
	{
	 margin-top: 0px;
	}



	div.navbar
	{
		margin:0px auto 0px;
		border:none;
		border-radius:0px;	
		box-shadow:none;
		display:inline-block;
		vertical-align:middle;
	}
	
	div.navbar p
	{
		font-size:12px;
	}

	.navbar .nav > li
	{
		padding: 10px 0px 10px;
	}


	.navbar .nav > li:hover
	{
		background: #fafafa;
		color:#333;
	}
	
	.white .navbar .nav > li:hover
	{
		background: #fff;
		color:#545557;
	}
		
	.navbar .nav > li.highlight
	{
	    /*background:#000;*/
	}
	
	.navbar .nav > li.highlight > a
	{
	    color:#444;
	}

	.navbar .nav > li > a
	{
		text-shadow:none;
		font-family: Lato, 'Open Sans', Helvetica, Arial;
		color: #777;
		display: block;
		font-size: 12px;
		font-weight:400;
		letter-spacing: 0.3px;
		line-height: 20px;
		position: relative;
		padding:0px 12px;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		z-index: 6;	
	}

	body#home .navbar .nav > li > a
	{
		color:#333;
	}

	/*.navbar .nav > .active, .navbar .nav > .active, .navbar .nav > .active,*/
	.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus
	{
		background: rgba(255, 255, 255, 0.05);
		box-shadow:none;
		border-bottom:2px solid #333;
		border-bottom:2px solid rgba(0, 0, 0, 0.5);
		padding-bottom: 1px;
	}


	.navbar .nav > li b 
	{
	  color: #555;
	  font-size: 6px;
	  line-height: 12px;
	  margin-bottom: 3px;
	  margin-left: 2px;
	  vertical-align: middle;
	}
	
	.navbar .btn-navbar
	{
		margin-top:15px;
	}



	.respond input[type="text"], .respond label,.respond textarea
	{
		width:300px;
	}
	.menu, .footer, .powered
	{
		padding:0px;
		width:1000px;
	}
	
	.menu
	{
		/*width:100%;*/
	}
	
	.menu .row
	{
		margin:0px;
	}
	
	.menu .navbar .nav
	{
		margin-left:10px;
	}
	.menu .row, 
	.menu .row .col-md-12,
	.powered .row
	{
		margin:0px;
		width:100%;
		padding:0px;
	}
	
	.page-container
	{
	    font-size:12px;
	}
	
	.footer
	{
		display:table;
		padding:30px 0px;
	}


	.order-notes textarea
	{
		width:440px;
	}


	.dropdown:hover > .dropdown-menu
	{
		display:block;
	}

	.dropdown-menu
	{
		margin:0px;
		z-index:9999999;
		border-radius:0px;
		left:auto;
		right:0px;
	}
	
	.navbar-nav > li > .dropdown-menu
	{
		box-shadow:0 1px 2px -2px #000000;
	}

	ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;    
	}
	
	.white ul.nav li.dropdown:hover > ul.dropdown-menu{
		display: block;    
		background-color:#fff;
		color:#333;
	}

	ul.nav li.dropdown-submenu:hover ul.dropdown-menu
	{
		border-top:none;
	}

	a.menu:after, .dropdown-toggle:after {
		content: none;
	}
	
	/*end navbar*/ 
	.breadcrumb
	{
		margin-bottom:0px;
		padding:15px;
		background:#fff;
	}


}
	



.nav-tabs > li > a
{
	border-radius:0px;
/*	border-color:#EEEEEE #EEEEEE transparent;*/
}

#logo
{
    display:inline-block;
    vertical-align:middle;
    margin:0px auto;
}

#logo h1 > a
{
    font-family:Lato, 'Open Sans', sans-serif;
    font-weight:400;
    text-transform:uppercase;
    color:#000;
    padding: 0px;
    letter-spacing:12px;
}

#logo h1
{
  line-height: 20px;
  padding:0 0 10px 5px;
  margin: 0px;
  border-bottom: 2px solid #333333;
}

#logo #image-logo
{
	display:none;
}


#logo a
{
    font-size:20px;
    color:#333;
}

#logo a span
{
	display:inline;
}

#logo img
{
	vertical-align:top;
	margin-right:5px;
	margin-top:0px;
}

.logo a:hover
{
    text-decoration:none;
}
.welcome
{
    display:inline-block;
	padding-top:30px;
}
.welcome a 
{
    font-size:12px;
	color:#999;
}
.welcome a:hover
{
    text-decoration:none;
	color:#000;
}

#search
{
	float:right;
}
#search input
{
   border-radius:0px;
   box-shadow:none;
   border:1px solid #eee;
   padding:9px 8px;
   color:#999;
   font-family:'Open Sans',Helvetica,Arial,sans-serif;
   font-size:12px;
   width:30px;
   display:inline-block;
   background:#fff;
   visibility:hidden;
}

#search button 
{
    margin-top:-10px;
	height:32px;
}
.button-search
{
    background: url("../img/search.png") no-repeat scroll center center transparent;
    cursor: pointer;


    height: 18px;
    margin-left: -35px;
    margin-top: -27px;
    left:100%;
    position: relative;
    width: 35px;
}

.nav-collapse.collapse
{
	z-index:10000;
}
.carousel
{
    margin-top:20px;
    margin-bottom:30px;
    margin:0px;
}
.carousel-control
{
	line-height:23px;
}


.left-menu .category_module
{
	margin-bottom:20px;
}

.left-menu > div.category_module
{
    background:#fff;
}


.left-menu > div.category_module
{
	padding:20px 30px;
}

.left-menu .banner
{
	margin:0px;
	margin-top:20px;
	color:#555;
	/*color:#333;*/
	padding:10px;
}

.left-menu .banner h4
{
	font-size:16px;
	text-align:center;
}

.left-menu .options
{
	margin-top:20px;
}

.left-menu .options > select
{
	min-width:50px;
	width:auto;
	background-color:#f7f7f7;
	display:inline-block;
	margin-right:5px;
	padding-right:15px;
	border:1px solid #fff;
}

.left-menu > div.category_module ul
{
	margin-left:10px;
}


.left-menu > div.category_module ul li
{
	padding:5px 0px;
}

.left-menu > div.category_module ul li a
{
	color:#555;
	font-size:12px;
	padding-bottom:1px;
}

.left-menu > div.category_module ul li a:hover
{
	text-decoration:none;
	color:#333;
}

.left-menu > div.category_module ul li.active > a
{
	border-bottom:2px solid #999;
}

.left-menu .category_module h3
{
	font-family:Lato, 'Open Sans';
	text-transform:uppercase;
	font-size:12px;
	font-weight:400;
	margin-top:10px;
	margin-bottom:0px;
	color:#000;
	border:inherit;
}

h2, h2 > a
{
    font-size:14px;
    font-weight:400;
    color:#555;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:20px;
    font-family:'Lato', 'Open Sans',sans-serif;
}

.heading h2 
{
  border-bottom: 1px solid #EEEEEE;
  color: #333;
  font-family: 'Lato', 'Open Sans',sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing:1px;
}

.heading
{
    margin: 20px 0 0px;
    position: relative;
    text-align: left;
}

.heading:after
{
  background: none repeat scroll 0 0 #ddd;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 100%;
  z-index:-1;
}



.heading h2 
{
    padding:0 0 5px;
    display: inline-block;
    letter-spacing:2px;
    border:none;
    margin:0px;
    background:transparent;
    z-index:100;
    position:relative;
    border-bottom:1px solid #333;
    
}

ul.slides
{
    margin-bottom:00px;
}
/*
.banner
{
	margin:10px 5px;
}
*/ 
/*
.banners
{
	margin-bottom:30px;
}

.banners .banner
{
    background:#eee;
    height:40px;
    border-left:1px solid #ddd;
    vertical-align:middle;
    line-height: 40px;
    text-transform:uppercase;
    color:#555;
    font-size:11px;
    text-align:center;
}
*/

.banners .banner:first-child
{
    border-left:none;
}

.banners .banner .icon
{
  font-size:16px;
  margin:0px 10px;
  color:#333;
  font-style:normal;
  font-weight:400;
}

.banners .banner-icon
{
    background:#eee;
    margin-right:10px;
    width:40px;
    height:40px;
    line-height: 40px;
    font-size:18px;
    background:#333;
    color:#fff;
    text-align:center;
    float:none;
    display:inline-block;
}

.banners .banner div
{
  display:inline-block;
  vertical-align:middle;
  font-weight:600;
}



.product-list .product:before, .product-list .product:after
{
    content: " ";
    display: table;    
}

.product-list .product:after
{
    clear:both;
}

.product-list .product
{
    margin-bottom:10px;
}

.product-list .product .name
{
}

.product-list .product .image
{
    float:left;
    max-width: 100%;
}

.product-list .product > div
{
    float:left;
}

.product-list .product .price p, .product-list .product .price .price-new, .product-list .product .price .price-old
{
    font-size:11px;
    line-height: 16px;
    font-weight:normal;
    color:#999;
}

.product-list .product .rating
{
    padding:0px;
}


.product-list .product_sale
{
    margin-top:0px;
    background:#ccc;
    font-size:11px;
    font-weight:normal;
    padding:0px 4px;
    display:none;
    z-index:1;
}

.product-list .product .name, .product-list .product .price, .product-list .product .rating
{
    text-align:left;
}

.product-list .product .actions button.btn.btn-primary
{
    display:block;
	margin:5px 0px;
}

.product
{
   margin-bottom:10px;
   margin-top:10px;
   /*padding-bottom:10px;*/
   text-align:center;	
}
.product > a
{
	display:block;
	padding:0px;
}

.product_sale 
{
  background:#333;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
  
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  margin-left: 25px;
  margin-top: 30px;
  padding: 2px 8px;
  position: absolute;
  line-height:17px;
  text-transform: uppercase;
  z-index:1;
}

/*.product:hover
{
   border:1px solid rgba(42, 127, 211, 0.2);
   box-shadow:0 0 15px -8px #333;
}*/
.product .name
{
    text-align:center;
    max-height: 20px;
    overflow: hidden;    
    margin-top:10px;
}
.product .name a 
{
	font-weight:normal;
	color:#333;
	font-family:Lato,'Open Sans', Arial,Lato;
	font-size:12px;
	text-transform:uppercase;
}
.product .name a:hover
{
    color:#336699;
	text-decoration:none;
}

.product .image.hover_img .additional_image
{
    display:none;
}

.product .image.hover_img:hover .thumb
{
    display:none;
}

.product .image.hover_img:hover .additional_image
{
    display:inline-block;
}

.product .rating
{
    display:none;
}

#product .rating, #product .rating a
{
    color:#999;
}

#product .rating p .review_link
{
    margin-left: 10px;
}

#product .rating .fa-stack {
  color:#ccc;
  display: inline-block;
  height: 15px;
  line-height: 15px;
  position: relative;
  vertical-align: middle;
  width: 15px;
}

.product .actions 
{
    min-height:50px;
}

.product > div.image
{
  position: relative;
}

.product .actions button.btn
{
	margin:5px auto;
	padding:5px 15px;
}


.product > div > div.hover
{
	display: block;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    background:rgba(255, 255, 255, 0.5);
    -webkit-transition: opacity 1s; /* For Safari 3.1 to 6.0 */
	transition: opacity 1s;
	opacity:0;
	text-align: center;
}

.product:hover > div >  div.hover
{
	opacity:1;
}

.product > div > div.hover > div
{
    display:table;
    width:100%;
    height:100%;
}

.product > div > div.hover > div > a
{
    display:table-cell;
    vertical-align:middle;
    outline:none;
}

.product > div > div.hover > div > a > span
{
	display: inline-block;
	background:#000;
	background:rgba(255,255,255,0.9);
	color:#333;
	padding:5px 10px;
	font-size:14px;
	cursor: pointer;
}

.product > div > div.hover > div > a > span:first-child {
  margin-right: 5px;
}


.product-list .product .actions 
{
    min-height:0px;
}


.product .price 
{
   text-align:center;
   margin:0px;
   font-size:12px;
   color:#999;
   font-family:Lato, 'Open Sans';
   margin:0px;
   line-height: 24px;
}

.product .price .price-old
{
    font-weight:normal;
    text-decoration:line-through;
    font-size:12px;
    color:#656565;
}  

.product .addcart 
{
    text-align:center;
    height:45px;
    display:none;
}
.product .addcart a 
{
    background:#333;
	padding:8px 15px;
	color:#fff;
	font-family:'Open Sans';
	font-weight:600;
	font-size:11px;
	text-transform:uppercase;
	
}
.product .addcart a:hover
{
    text-decoration:none;
	color:#fff;
	background:#aaa;
}

.product .description
{
    display:none;
    line-height: 18px;
    padding: 10px 0px;
}


.image-additional
{
	margin:20px 10px;
}

.product-info .image-additional li 
{
  float: left;
}

.image-additional a 
{
  display: inline-block;
  padding:5px;
}

.row.products
{
    margin-top:10px;
}

.product-list .col-md-12
{
    padding-bottom:15px;
    margin-top: 15px;
    border-top:1px solid #eee;
}

.product-list  .product, .product-list  .product .name 
{
    text-align:left;
}

.product-list  .product .description
{
    display:block;
    margin:10px 0px;
}



.product-list  .product > a, .product-list  .product > div
{
    float:left;
}
.product-list  .product > div
{
  margin: 0;
  padding: 0;
}

.product-list  .product > div.actions
{
    margin-left:10px;
}

.product-list .product .price
{
    text-align:left;
}

.product-list .product .price p
{
    font-size: 12px;
    color:#333;
}

.product-list  .product > div .name a
{
    font-size: 14px;
    text-transform:uppercase;
}

/*-----------------------------------------------------------------------------------*/
/*	Footer
/*-----------------------------------------------------------------------------------*/

.footer 
{
/*  
  uncomment for fixed footer

  bottom: -210px;
  height:250px;
  position: fixed;
*/
  clear: both;
  color: #333;
  overflow: hidden;
  transition: bottom 1s ease 0s;
  width: 100%;
  z-index: 1000;
  background: #fff;
  padding-top:0px;
  padding-bottom:70px;
}


.footer:hover 
{
  bottom: 0px;
}

.footer .arrow 
{
  height: 40px;
  right: 40px;
  margin-top: -4px;
  position: absolute;
  width: 30px;
  cursor:pointer;
  z-index:1000000;
}

.footer .caret 
{
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  color: transparent;
  transition: border-top 1s ease 0s;
}

.footer:hover .caret 
{
	border-top: 15px solid #FAFAFA;
}


.footer .col-md-2 > div
{
	margin-bottom:10px;
}

.footer h3
{
    font-size:12px;
    color:#555;
    font-family: 'Lato','Open sans', Helvetica, Arial;
    font-weight:400;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:0px;
    margin-right:0px;
    letter-spacing:1px;
}

.footer ul 
{
    list-style:none;
    padding:0px;
}

.footer li 
{
    padding-top:5px;
}

.footer a 
{
	color:#000;
	font-size:11px;
	font-family: 'Open sans', Helvetica, Arial;
	opacity:0.5;
}

.footer a:hover
{
	opacity:1;
    text-decoration:none;
}


.footer.black
{
	background:#222;
}

.footer.black .container
{
	color:#fff;
}

.footer.black .container h3
{
	color:#eee;
}

.footer.black .container a
{
	color:#fff;
}

.footer.black #twitter_update_list span, #twitter_update_list span a
{
	color:#fff;
}

.powered
{
    background:#FDFDFD;
    color:#999999;
    font-size:11px;
    text-align:right;
    padding-top:30px;
    padding-bottom:30px;
}

.powered a
{
	font-size:11px;
	color:#777777;
}

.powered ul 
{
    list-style:none;
	text-align:right;
}

.powered-text, .payment-icons
{
	margin-right:20px;
}

.payment-icons li
{
    display:inline;
}
.payment-icons img 
{
    height:20px;
}


.social-network li
{
	display: inline-block;
}

.social-network li a
{
	line-height: 10px;
	padding:3px;
	font-size:16px;
	color:#fff;
	opacity:0.7;
}

.social-network li a:hover
{
	text-decoration:none;
	color:#fff;
	opacity:1;
}

.footer:hover + .social .social-network li a
{
/*	color:#fff;*/
}


.social 
{
  font-family: Lato, 'Open Sans';
  font-size: 11px;
  font-weight: normal;
  padding-top: 14px;
  text-align:right;
}

.social .copy 
{
  color: #777777;
  font-family: 'Open Sans';
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: right;
}

.social-network:hover
{
  opacity:1;
}


.social-network
{
  bottom: 0;
  color: #fff;
  font-family: Lato, 'Open Sans';
  font-size: 11px;
  line-height: 10px;
  padding-bottom: 10px;
}


#social_band
{
	background:#fff;
	color:#555;
	font-size:12px;
	line-height: 22px;
	padding:20px 0px 30px;
	margin-top:20px;
}

#social_band h3
{
	font-family:Lato, 'Open Sans';
	font-size:12px;
	font-weight:400;
	color:#555;
	margin-bottom:20px;
	letter-spacing:2px;
}


/*-----------------------------------------------------------------------------------*/
/*	Twitter feed
/*-----------------------------------------------------------------------------------*/


.twitter
{	text-align:left;
}

#twitter_update_list {
    font-size: 12px;
    line-height: 21px;
    list-style: none outside none;
}
#twitter_update_list li {
    /*background: url("../img/tweet.png") no-repeat scroll left 15px rgba(0, 0, 0, 0);*/
    padding: 10px 0 0px 0px;
}
#twitter_update_list span, #twitter_update_list span a 
{
    color: #555;
    line-height: 16px;
    font-size:11px;
    text-decoration: none;
    font-family:'Open Sans';
}
#twitter_update_list .user img 
{
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: middle;
    max-height:24px;
}
#twitter_update_list span span 
{
    font-weight: 600;
}
#twitter_update_list .tweet {
    clear: both;
    line-height: 18px;
    font-size:11px;
    margin-bottom: 0;
}
#twitter_update_list a {
    color: #555;
    margin-right:5px;
}
#twitter_update_list a:hover {
    color: #3D3D3D;
}


/*-----------------------------------------------------------------------------------*/
/*	Category
/*-----------------------------------------------------------------------------------*/


.row.category-info 
{
    margin-bottom: 30px;
    display: none;
}

.category-info .col-md-12 .row
{
	background: #fff;
    background: rgb(255, 255, 255);
    margin:0px;
}

.category-info .col-md-10
{
	padding:20px;
}

.category-info p 
{
  font-size: 12px;
}

.cat_header
{
    font-size:24px;
    margin-bottom:10px;
    margin-top:5px;
    font-family:'Open Sans',sans-serif;
}

.cat_header h2 
{
   font-size:16px;
   color:#555;
   letter-spacing:3px;
   line-height:24px;
   font-weight:400;
   margin:0px auto;
   padding-bottom:0px;
}

#list-view, #grid-view
{
    background:transparent;
    padding:10px;
    border:none;
    font-size: 12px;
    color: #777777;
}

#list-view:hover, #grid-view:hover
{
    color:#000;
}

#list-view i, #grid-view i {
    font-size: 14px;
    margin-right: 5px;
    color:#bbb;
    vertical-align:middle;
}

.refine li
{
    display:inline-block;
    margin-right:10px;
}

h3.refine
{
    color:#333;
    margin-bottom: 3px;
    font-size:12px;
}

.breadcrumb
{
    border-radius:0px;
	color:#999;
	font-size:12px;
	background:transparent;
}

.breadcrumb.prod
{
	/*margin:0 0 30px 20px;*/
}

.breadcrumb a 
{
    color:#999;
}
.breadcrumb a:hover
{
    color:#333;
	text-decoration:none;
}
.pagination ul 
{
	border-radius:0px;	
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span
{
	border-radius:0px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span
{
	border-bottom-right-radius:0px;
	border-top-right-radius:0px;
}

.pagination 
{
    font-size: 12px;
    color:#999;
}

.links {
	padding: 10px;
	display: block;
	margin-bottom: 0px;
	margin-top: 0px;
}
.links {
	float: left;
	padding: 0px 0 0;
}
.links a {
	display: inline-block;
	padding: 5px 10px 5px;
	text-decoration: none;
	color: #555;
	line-height:20px;
	background:#fff;
}

.pag
{
    border-top:1px solid #eee;
    padding:10px 0px;
}

.pagination > li > a, .pagination > li > span
{
    color:#555;
}

.links a:hover
{
	background:#555;
	color:#fff;
}

.links b {
	display: inline-block;
	background:#999;
	padding: 5px 10px 5px;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	font-weight:400;
	line-height:20px;
}
.results {
	margin-top: 0px;
	float: right;
	padding: 8px 20px 8px;
	color:#777;
	font-size:11px;
}



/*end category*/


/*-----------------------------------------------------------------------------------*/
/*	Contact us
/*-----------------------------------------------------------------------------------*/

#map
{
	height:400px;
	margin-bottom:30px;
	max-width:none;
}

#map img
{
	max-width:none;
}

#map label { 
  width: auto; display:inline; 
} 

.location
{
   background:#fff;
   border:1px solid #f9f9f9;
   padding:20px;
   color:#555;
}
.location h3
{
    font-size:22px;
	font-family:'Lato', 'Open Sans',sans-serif;   
	color:#555;
	font-weight:normal;
    line-height:30px;	
}
.location .address
{
	font-size:14px;
	color:#444;
	font-weight:600;
	line-height:24px;
}
.location p
{
   color:#444;
   font-size:12px;
   line-height:20px;
}
.location b 
{
    font-size:12px;
	color:#333;
}
.contact_form 
{
   background:#fff;
   border:1px solid #f9f9f9;
   padding:20px;
   color:#555;  
}
.contact_form h3
{
    font-size:22px;
	font-family:'Lato', 'Open Sans',sans-serif;   
	color:#555;
	font-weight:normal;
	line-height:30px;
	
}
.contact_form b
{
   color:#777;
   font-size:12px;
   line-height:22px; 
   font-weight:normal;  
}

/*end contact us*/

/*about us*/

.text_about
{
   font-size:14px;
   color:#777;
   font-family:arial;
}
.img-polaroid
{
   border:1px solid #ddd;
   margin-top:20px;
   box-shadow:none;
}
.description h4
{
   color:#222;
   font-weight:normal;
}

.description p 
{
   color:#555;
   font-family:'Open Sans', Helvetica, Arial;
}

/*end about us */

/*-----------------------------------------------------------------------------------*/
/*	Checkout
/*-----------------------------------------------------------------------------------*/

div.checkout_form 
{
  background:#FAFAFA;
  margin-bottom: 20px;
}

.show-login
{
   font-size:12px;
   color:#777;
   background:#fbfbfb;
   border:1px solid #f5f5f5;
   height:30px;
   padding-left:10px;
   padding-top:10px;
}
.show-login a 
{
   color:#333;
   font-size:12px;
}
.show-login a:hover
{
   color:#444;
}

.error.col-md-12 
{
    color: #FF0000;
    display: block;
    margin: 20px;
}

.box
{
    background: #fafafa;
    margin: 0;
    padding: 0;
    margin-bottom:10px;
}

.box.padding
{
	padding:20px 20px;
}

.box h2
{
    margin-top:10px;
}

.box.background
{
    background:#fff;
}

.registerbox
{
	padding:20px 20px;
	background: #FFFFFF;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

.loginbox
{
	border:1px solid #eee;
	padding:20px 20px;
	background: #FFFFFF;
/*	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;*/
}

.list-group-item
{
	border: 1px solid #EEEEEE;
}

.list-group-item:first-child 
{
	border-radius: 0;
}

.list-group-item:last-child {
  border-radius: 0;
  margin-bottom: 0;
}

h3 {
    color: #777777;
    font-family: Lato, 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
}

h3.related
{
    margin: 50px 20px 30px;

}

.order-notes  p 
{
   font-size:12px;
   color:#555;
}

.shipping-method, .payment-method
{
    background:#fff;
    margin-bottom:20px;
    padding:10px;
}

.shiptobilling 
{
   text-align:right;
   
}
.shiptobilling h3
{
	float:left;
}

.shiptobilling  label
{
	float:right;
	margin:10px 10px 0;
	line-height:40px;
}

.shiptobilling  input[type="checkbox"]
{
	margin:13px 5px 0px;
}
.shipping-address
{
	display:none;
}
input:-moz-placeholder, textarea:-moz-placeholder
{
   font-size:12px;
}
label
{
   color:#888;
   font-size:12px;
   line-height:18px;
   font-weight:400;
   vertical-align:middle;
}
.form-horizontal .control-label
{
   text-align:left;
}
/*
.your_order h3
{
   font-size:14px;
   color:#333;
   font-weight:400;
   line-height:22px;
}
.your_order table 
{
   border:1px solid #f6f6f6;
}
.your_order thead
{
   background:#fdfdfd;
}
.your_order table.table th, table.table td
{
   border-left:1px solid #f6f6f6;
   border-top:1px solid #f6f6f6;
   font-weight:normal;
}
.your_order  td
{
   font-size:12px;
   color:#888;
}
.your_order thead th 
{
   text-align:center;
}
.your_order tbody td
{
   text-align:center;
}
.your_order  td span
{
    color:#333;
}
.your_order  .subtotal
{
   background:#FEFEFE;
}
.your_order p 
{
   border-top:1px solid #f0f0f0;
   margin-top:10px;
}*/

.nicocheckout  .alert-danger {
  left: 20%;
  position: fixed;
  text-align: center;
  top: 5px;
  width: 60%;
  margin:0px auto;
  z-index: 100;
}

.nicocheckout .radio label
{
    color:#333;
}

.register_block .form-group p
{
    margin:0px;
    color:#333;
    font-weight:normal;
}


.your_order .btn
{
   float:right ;
   margin-top:10px;
}
.your_order label
{
   color:#888;
   font-size:12px;
   line-height:18px;
}
.your_order .radio
{
   cursor:pointer;
   color:#555;
}
.your_order .radio:hover
{
   color:#333;
}
.your_order .radio img
{
   margin-left:5px;
}
.paypal p, .cheque p, .transfer p 
{
	font-size:12px;
	color:#777;
	border:none;
}
.paypal,.cheque,.transfer 
{
	background:#f5f5f5;
	padding:3px 10px;
}
.your_order .transfer,.your_order .cheque, .your_order .paypal
{
	display:none;
}

.your_order .payment
{
	margin-bottom:20px;
}

.login-form
{
	padding:20px;
}

/*end checkout*/

/*-----------------------------------------------------------------------------------*/
/*	My account
/*-----------------------------------------------------------------------------------*/

.my_account p 
{
   font-size:22px;
   font-weight:normal;
   color:#333;
   line-height:40px;
}
input[type="text"],label
{
   color:#777;
   font-size:12px;
}
.form-vertical .control-label
{
   font-size:12px;
   color:#888;
}
.controls a 
{
   font-size:12px;
   color:#888;
}
.controls a:hover
{
   color:#333;
}
/*end my account*/

/*-----------------------------------------------------------------------------------*/
/*	Product
/*-----------------------------------------------------------------------------------*/

.product-info
{
	margin:0px;
	margin-top:0px;
}

.product-info .image
{
	overflow:hidden;
}

.product-info .image .thumbnail {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0px;
    padding: 0px;
    transition: none;
}

.colorbox.cboxElement > img
{
	max-width:100%;
}

#cboxLoadedContent .container 
{
  width: 800px;
}

.product-info .col-md-6:first-child
{
	padding:0px;
}

.product-info .image-additional img
{
   max-width:74px;
   height:74px;
}

.image-additional a:focus 
{
  outline: 1px dotted #333;
}

h1, h1 > a, .product-info h1
{
   color: #333;
   font-family: Lato,'Open Sans',sans-serif;
   font-size: 18px;
   line-height: 26px;
   font-weight: 400;
   margin:10px 0px 30px;
   text-transform:uppercase;
   letter-spacing:1px;
}

.product-info li 
{
   list-style:none;
   color:#777;
   font-size:12px;
}
.product-info li  span
{
   color:#777;
}
.product-info li a 
{
   color:#000;
   border-radius:0px;	
}
.product-info li a:hover
{
   color:#333;
}
.line
{
   border-bottom:1px solid #eee;
   margin-bottom:20px;
   margin-top:20px;
}

.price
{
   color: #555;
   font-size: 12px;
   font-weight: 400;
   line-height: 24px;
   min-height:30px;
   margin:10px 0px;
}

h2.price
{
    font-size:16px;
    font-weight:400;
    display: inline-block;
}

.price strike
{
   color:#949494;
   font-size:18px;
}
.price strong
{
   color:#555;
   font-size:20px;
   font-weight:400;
}
.price-tax
{
   font-size:11px;
   color:#999;
}
.product-info input[type="text"]#input-quantity 
{
  border: 1px solid #DDDDDD;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
  float: none;
  height: 34px;
  padding: 12px 8px;
  text-align: left;
  width: auto;
  vertical-align:top;
}

.product-info > b 
{
   float:left;
   padding-right:5px;
   margin-top:5px;
   font-size:12px;
   color:#777;
}

.tab-content
{
	font-size:13px;
	line-height:26px;
	/*padding:20px 5px;*/
	color:#555;
}

.minimum 
{
    margin-bottom: 10px;
}

.product-info #button-cart
{
     padding: 8px 25px;
     font-size:11px;
     background:#000;
     margin:0px;
}


.product-info #buynow
{
     padding: 8px 25px;
     font-size:11px;
     background:#ddd;
     color:#333;
     margin:0px;
}

.product_wish_compare
{
	cursor:pointer;
}

.product_wish_compare button
{
	background:#fff;
	color:#aaa;
	padding:8px;
	border:none;
}

.product-info  .share 
{
    padding: 15px 0;
}

.addthis_toolbox
{
	display: none;
}

.product-info .nav-tabs
{
   border-bottom:1px solid #eee;
}

.nav-tabs
{
/*    height:39px;*/
}

.tabs .nav-tabs > li.active > a/*, .nav-tabs > li.active > a:hover*/
{
   color:#333;
   border-color:transparent transparent #000;
   border-top-width:1px;
   background:transparent;
   padding:6px 25px;
   margin-top:0px;
   font-size:12px;
   letter-spacing:1px;
}

.nav > li > a:hover, .nav > li > a:focus
{
   outline:none;
}

.product-info .tab-pane
{
/*
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;*/
    padding:10px 5px;
}

.tabs
{
    padding-top:20px;
    margin-bottom:20px;
    clear:both;
}

.tabs .nav-tabs li a
{
   color:#999;
   /*padding: 15px 20px;*/
   font-family:Lato, 'Open Sans';
   text-transform:uppercase;
   padding:6px 25px;
   letter-spacing:0.5px;
}

.nav-tabs > li > a:hover
{
	border-color:#fafafa #fafafa #ddd;
	color:#333;
}

.tabs .table 
{
   border:1px solid #F3F3F3;
}
.table.specs td,.table.specs th
{
	border-top:1px solid #f3f3f3;
}

.tabs .table thead th
{
   border:1px solid #F3F3F3;
   background:#FBFBFB;
   font-size:12px;
   color:#777;
} 
.tab-pane .rating
{
   color:#777;
}
/*.tab-pane textarea
{
   width:300px;
}*/
.tab-pane
{
   font-size:12px;
   color:#555;
}
.tab-pane a 
{
   color:#333;
   font-size:12px;
}
.product-info .control-label
{
   color:#333;
   margin-top:10px;
}
.product-info .controls select
{
   color:#777;
   font-size:12px;
}
.strike
{
	text-decoration:line-through;
}
/*end product*/


.well {
  background: #fff;
  border: none;
  margin-bottom: 20px;
  min-height: 20px;
  padding: 10px;
  box-shadow:none;
  color:#555;
  font-size:12px;
  border-radius: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Cart
/*-----------------------------------------------------------------------------------*/

.cart-info
{
	background: #fff;
}

.table 
{
	background:#fff;
}

.table-bordered
{
	border:1px solid #eee;
}

table.radio 
{
  background: none repeat scroll 0 0 #FAFAFA;
  padding: 10px 10px 10px 40px;
}

table.radio td
{
	padding:5px 0px;
}

.total-table
{
	text-align: right;
}

.total-table table
{
	width: auto;
	float: right;
}

.table thead > tr > th, 
.table tbody > tr > th, 
.table tfoot > tr > th, 
.table thead > tr > td,  
.table tbody > tr > td, 
.table tfoot > tr > td
{
	border:none;
}

.cart .cart-info
{
	/*width:260px;*/
}

.table .img-thumbnail
{
    border:none;
}

.empty 
{
    padding: 10px 10px 20px;
    text-align: center;
    font-size:12px;
    font-family:Arial,Helvetica, sans-serif;	
}

.table thead > tr > th 
{
	padding:10px 5px;
	background: #fafafa;
}

.cart-totals .table td 
{
    text-align: right;
}

.cart-info tbody .quantity input[type="text"]
{
   width:auto;
}
.cart-info tbody .quantity input[type="image"]
{
   vertical-align:text-top;
}
.cart-info thead tr
{
   background:#FBFBFB;
   border-top:1px solid #f3f3f3;
}
.cart-info table.table th, table.table td
{
   border:1px solid #f3f3f3;
   padding:20px 10px;
}
.cart-info thead th 
{
   color:#555;
   font-size:12px;
   font-weight:600;
}
.cart-info tbody .name a
{
   font-size:14px;
   color:#3A3A3A;
}
.cart-info tbody .name a:hover
{
   color:#336699;
}
.cart-info tbody tr td
{
   color:#777;
   font-size:12px;
   vertical-align:middle;
}


.cart-info.dropdown-menu, .cart-info.dropdown-menu .table tbody
{
	border:none;
	font-size:12px;
}

.cart-info.dropdown-menu table
{
	margin:0px;
}

.cart-info.dropdown-menu > table td
{
	border:none;
	border-bottom:1px solid #eee;
}

.cart-info.dropdown-menu
{
	border:1px solid #eee;
	box-shadow:none;
    z-index: 10001;
    background:#fff;
    padding-top:10px;
    right:0px;
    margin-top:2px;
}

.cart-info.dropdown-menu  tbody .name a
{
	font-size:12px;
}

.cart-info .btn 
{
  border: medium none;
  margin-right: 0;
  padding: 8px 12px;
  vertical-align: middle;
}

.cart .cart-info .btn
{
    /*padding:6px 10px;
    margin:0px;
    font-size:14px;*/
    padding:1px 5px;
}

.cart-info .btn .fa-times-circle
{
    font-size:16px;
}

.cart-info input[type="text"]
{
    border:1px solid #eee;
    border-radius:0px;
    border-right:none;
}

.cart-total
{/*
	padding:10px;
	background:#fafafa;
	text-align:right;*/
	color:#333;
}

.cart-total, .cart-total .checkout
{
}


.cart-total table
{
	display:inline-block;
}


.cart-totals table.table tr , table.table td
{
  border:1px solid #f3f3f3;
  
}
.cart-totals .table th, .table td
{
   border-top:none;
   color:#777;
   font-size:12px;
}

.cart-totals p 
{
	text-align:right;
}

.cart-total table strong
{
	font-size:11px;
}

.cart-totals .btn
{
   padding:12px 35px;
}


/*end cart*/

/*-----------------------------------------------------------------------------------*/
/*	Forgot password
/*-----------------------------------------------------------------------------------*/

.forgotten h3
{
   background:#fbfbfb;
   border:1px solid #F3F3F3;
   padding:5px 15px;
   font-size:12px;
   color:#333;
   font-weight:600;
}
p.forgotten-password
{
	color:#555;
	font-size:14px;
	line-height:24px;
}
.forgotten .form-horizontal .control-label
{
	padding-left:15px;
	
}
.forgotten .btn-primary
{
   float:right;
}

/*end forgot-password*/

/*-----------------------------------------------------------------------------------*/
/*	Sitemap
/*-----------------------------------------------------------------------------------*/

.sitemap ul
{
	
	padding:5px 15px;
} 
.sitemap ul li a 
{
	font-size:13px;
	color:#333;
	line-height:30px;
}
.sitemap  ul.subtitle a 
{
	font-size:12px;
	color:#888;
	font-weight:normal;
	line-height:26px;
	text-transform:none;
}
.sitemap .subtitle a:hover
{
	color:#333;
}
.sitemap ul li a:hover
{
	text-decoration:none;
}

/*-----------------------------------------------------------------------------------*/
/*	404
/*-----------------------------------------------------------------------------------*/


h1.e404
{
	margin:20px 0px 35px 50px;
	font-size:130px;
	line-height:120px;
	color:#888;
}
h1.page
{
	font-size:28px;
	font-weight:normal;
	color:#444;
}
h6.e404
{
	font-weight:normal;
	color:#555;
	font-size:13px;
	line-height:24px;
	margin-bottom:15px;
}

/*-----------------------------------------------------------------------------------*/
/*	Search
/*-----------------------------------------------------------------------------------*/

.search
{
	background:#fbfbfb;
	padding:35px 0 25px 15px;
	border:1px solid #eee;
}
.search select
{
	font-size:12px;
}
.search select option
{
	color:#555;
	line-height:50px;
	font-size:12px;
}

.search .category
{
	margin-left:15px;
	color:#777;
	font-size:12px;
}

.search  input[type="checkbox"]
{
	font-size:12px ;
	color:#777;
}
.search .checkbox.inline
{
	vertical-align:text-top;
	padding-top:0px;
	margin-left:5px;
}
.search-btn
{
	text-align:right;
	margin-top:25px;
}
h2.search-criteria
{
	font-family:'Open Sans';
	font-size:16px;
	color:#555;
	background:#f7f7f7;
	border:1px solid #f3f3f3;
	padding:0px 15px;
	margin-bottom:20px;
}
/*end search*/

/*-----------------------------------------------------------------------------------*/
/*	Blog
/*-----------------------------------------------------------------------------------*/

h2.page-title
{
	font-size:18px;
	color:#444;
}
.content-blog img
{
}
.content-blog > .col-md-8 > div
{
	border-bottom:1px solid #eee;
	padding-bottom:20px;
	margin-bottom: 20px;
}
.content-blog h3 a 
{
	font-size:18px;
	color:#383838;
	font-weight:600;
}
.content-blog h3 a:hover
{
	text-decoration:none;
	color:#333;
}
.post-detail
{
	font-size:12px;
	color:#888;
}
.post-detail b 
{
	color:#444;
}
.post-detail a 
{
	color:#333;
}
.post-detail a:hover
{
	text-decoration:none;
	color:#444;
}
.text-blog p 
{
	margin-top:20px;
	color:#444;
	font-size:12px;
}
.text-blog a em 
{
	color:#444;
	font-family:arial;
}
.text-blog a em:hover
{
	color:#333;
	text-decoration:none;
}

.text-blog img {
    padding: 10px 20px;
}

.col-post
{
	margin-bottom:35px;
}
.col-post h3 
{
	line-height:24px;
	color:#555;
	font-weight:600;
	font-size:14px;
}
.col-post ul.post-menu li
{
	border-bottom:1px dotted #eee;
	padding:3px 5px 5px;
}
.col-post ul.post-menu li a 
{
	color:#444;
}
.col-post ul.post-menu li a:hover
{
	color:#333;
	text-decoration:none;
}
.col-post .post-menu b 
{
	font-size:12px;
	color:#555;
}
.col-post p 
{
	font-size:12px;
	color:#444;
}
.col-post ul.tags a 
{
	background:#eee;
	display:inline-block;
	padding:5px 10px;
	margin-top:10px;
}
.col-post ul.tags a:hover
{
	text-decoration:none;
	background:#333; 
	color:#fff;
}
.col-post .tags li a 
{
	float:left;
	margin:0 5px 7px 0;
	color:#444;
	
}
.text-blog blockquote
{
	border-left:2px solid #eee;
}
.text-blog .quote-content p 
{
	color:#555;
	font-size:13px;
	font-family:'Open Sans';
	font-weight:00;
	line-height:22px;
}
.text-blog ul li 
{
	list-style-type:disc;
	color:#aaa;
	
}
.text-blog ul li span
{
	color:#555;
	font-size:12px;

}
.text-blog > ul
{
	margin-left:30px;
}
.quote-meta
{
	font-size:12px;
	margin-top:10px;
}
.content-blog >.col-md-8 >.blog-post
{
	border-bottom:none;
}

.rss-wrapper {
  background: url("../img/rss.png") no-repeat scroll center center / cover  rgba(0, 0, 0, 0);
  display: block;
  height: 14px;
  margin-right: 30px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -999em;
  top: 20px;
  width: 14px;
}

div.blog-meta
{
	font-size:12px;
	margin-bottom:10px;
	background:#fff;
	border:none;
}


.pagination > li > a, .pagination > li > span
{
	border:none;
}

.pagination > .active > a, .pagination ul > .active > span
{
	background:#eee;
	color:#333;
}
.pagination > li > a:hover
{
	background:#333;
	color:#fff;
}
.flickr-widget ul img
{
	height:70px;
	width:70px;
	margin:0px;
}
.flickr-widget ul li
{
	float:left;
	margin:0 5px 5px 0;
}
.comments 
{
}
.comments h3 
{
	margin-top:0px;
	color:#222;
}
.comments-content .avatar img
{
	min-height:60px;
	min-width:60px;
	width:100%;
}
.comments-details
{
	border-bottom:1px dotted #ddd;
}
.comments-details .comment-meta
{
	color:#777;
	font-size:12px;
}
.comment-text p 
{
	font-size:12px;
	color:#555;
}
.comments-content 
{
	margin-top:20px;
}

a.comment-reply-link
{
	color:#333;
}

.respond
{
	margin-top:40px;
}
.respond .btn-primary
{
	padding:6px 20px;
}

.panel-default > .panel-heading {
    background-image: none;
    background-repeat: repeat-x;
}
.panel-default > .panel-heading {
    background-color: #FFFFFF;
    border-color: #fff;
    color: #333333;
}


/* simple blog */ 

.article-info {
	padding: 10px;
	border-bottom: 1px dotted #CCCCCC;
}

.article-title a {
	text-decoration: none;
	font-size: 16px;
	text-transform:capitalize;
	color:#333;
}

.article-title a:hover {
	color: #d24d23;
}

.article-author a {
	text-decoration: none;
	font-weight: bold;
}

a.article-link {
  border-bottom: 1px solid #777777;
  color: #777777;
  font-weight:normal;
  font-family: Lato, 'Open Sans';
  font-size: 11px;
  padding: 0;
  text-transform: uppercase;
}

.bullet {
	color: #384047;
	padding: 0 5px;
	font-size: 17px;
	position: relative;
	top: 1px;
}

.article-date {
	
}

.article-comment {
	color: #666;
	font-weight: lighter;
	text-decoration: none;
}

.article-comment a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
}

.article-comment a:hover {
	color: #d24d23;
}

.article-sub-title {
	margin-bottom: 20px;
	border-bottom: 1px dotted #CCCCCC;
}

.article-image {
	margin-bottom: 20px;
	
}

.article-description {
	line-height: 25px;
}

.article-title {
	text-decoration: none;
	font-weight:lighter;
}

.article-author {
	text-decoration: none;
	font-weight: bold;
}

#comments {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #EEEEEE;
}

.comment-left {
	margin-top: 15px;
}

.article-image img {
	border: 1px solid #DDDDDD;
	padding: 5px;
	border-radius: 5px;
	max-width: 100%;
}

.article-thumbnail-image img {
	border: 1px solid #CCCCCC;
	padding: 5px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}

.article-thumbnail-found {
	margin-bottom: 30px;
}

.article-reply {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	border-radius: 5px;
}

.article-reply .author {
	float: left;
	margin-bottom: 20px;
}

.article-reply .comment-date {
	float: right;
	margin-bottom: 20px;
}

.article-reply .text {
	clear: both;
}

.author-info {
	overflow: auto;
}
.author-info > .left {
	float: left;
	margin-right: 15px;
}
.author-info > .left + .right {
	margin-left: 130px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #d24d23;
	font-weight: bold;
}

#header #blog-search {
	position: absolute;
	top: 15px;
	right: 0px;
	width: 298px;
	z-index: 15;
}

#header .button-blog-search {
	position: absolute;
	left: 0px;
	background: url('../image/button-search.png') center center no-repeat;
	width: 28px;
	height: 24px;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
}
#header #blog-search input {
	background: #FFF;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;
}

.margin-top-21 {
	margin-top: 21px;
}

.module-info {
	overflow: auto;
	border-bottom: 1px dotted #CCCCCC;
}
.module-info > .left {
	float: left;
	margin-right: 15px;
}
.module-info > .left + .right {
	margin-left: 130px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #d24d23;
	font-weight: bold;
}

.related-article-blok-1 {
	display:inline-block;
	width: 48%;
	word-wrap: break-word;
	margin-right: 10px;	
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.related-article-blok-2 {
	display:inline-block;
	width: 48%;
	word-wrap: break-word;	
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.related-article-blok-11 {
	display:inline-block;
	width: 46%;
	word-wrap: break-word;
	margin-right: 10px;	
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.related-article-blok-22 {
	display:inline-block;
	width: 46%;
	word-wrap: break-word;	
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.related-article-blok-1 .name {
	text-align: center;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 7px;
	
}

.related-article-blok-1 .name a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.related-article-blok-2 .name {
	text-align: center;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 7px;
	
}

.related-article-blok-2 .name a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}


.related-article-blok-11 .name {
	text-align: center;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 7px;
	
}

.related-article-blok-11 .name a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.related-article-blok-22 .name {
	text-align: center;
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 7px;
	
}

.related-article-blok-22 .name a {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}


.related-article-description {
	overflow: auto;
}
.related-article-description > .left {
	float: left;
	margin-right: 15px;
}
.related-article-description > .left + .right {
	margin-left: 130px;
}

.related-article-meta {
	border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 2px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
}

.related-article-button {
	text-align: right;
}

.related-article-footer {
	border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
}

.related-article-footer a {
	text-decoration: none;
}


.simple-blog-product .caption {
    min-height: 25px;
}

.related-article .name a {
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
    color: #d24d23;
}

/*-----------------------------------------------------------------------------------*/
/*	Newsletter
/*-----------------------------------------------------------------------------------*/


#newsletter
{
    background:#393939;
    background:#111;
}    

.newsletter
{
	padding:20px 30px;
}

.newsletter h3 
{
  color: #ffffff;
  float: left;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 26px;
  margin-top: 10px;
}

.newsletter label
{
	font-size: 20px;
	font-weight:300;
	line-height: 40px;
}

.newsletter input
{
	font-size:11px;
	padding:11px 15px 11px;
	margin-bottom: 0px;
	border:none;
	vertical-align:top;
	background:#fff;
	color:#333;
}

.newsletter input.email
{
	font-size:13px;
	border: none;
	width:300px;
	padding:10px 15px;
	max-width:80%;
	margin-right:5px;
	background:#fafafa;
	vertical-align:middle;
	margin-bottom:10px;
}

.newsletter div
{
	float:right;
	text-align:right;
}

/*-----------------------------------------------------------------------------------*/
/*	Alert box
/*-----------------------------------------------------------------------------------*/


.success, .warning, .attention, .information {
	padding: 7px 10px 7px 33px;
	color: #555555;
}
.success {
	background: #fff url('../img/success.png') 20px center no-repeat;
	/*border: 1px solid #A9C1D9;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;*/
	color: #313942;
}

.warning {
	background: #fff url('../img/warning.png') 20px center no-repeat;
	/*border: 1px solid #C9EAE6;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;*/
	color: #313942;
}
.attention {
	background: #fff url('../img/attention.png') 20px center no-repeat;
	/*border: 1px solid #F2DD8C;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;*/
}

.success, .warning, .attention, .information  {
	margin:15px;
    border: 2px solid #eee;
    color: #342D38;
    float: right;
    position: fixed;
    right: 10px;
    top: 10px;
    font-size:12px;
	line-height:30px;
	padding: 30px 20px 30px 60px;
    z-index: 99999999;
    opacity: 0.9;
}

#notification a,.success a
{
    color: #555;
}

.attention
{
    right: 50%;
    top: 50%;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	cursor: pointer;
	margin-left: 10px;
    padding: 5px;
    opacity:1;
}

.required {
	color: #668389;
	font-weight: 400;
}
.error {
	display: block;
	color: #FF0000;
	font-size:12px;
	padding:10px 0px 0px 0px;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}

/*
.alert
{
    position: fixed;
    right: 20px;
    top: 20px;
}
*/

.alert-success {
  background-color: #f5f5f5;
  border-color: #eee;
  color: #555;
}

.alert .close
{
    margin:0px 5px;
}

.text-danger {
    font-size: 12px;
    margin: 10px 0;
}    

.text-left
{
	text-align:left;
}


.text-right
{
	text-align:right;
}


.text-center
{
	text-align:center;
}

/*-----------------------------------------------------------------------------------*/
/*	Autocomplete
/*-----------------------------------------------------------------------------------*/

.navbar-search input.search-query.autocomplete-loading
{
	background-image:url(../img/loading.gif);
	background-position: right 10px center;
	background-repeat:no-repeat;
}
ul.autocomplete 
{
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #000;
    display:none;
    z-index:1000;
    border: 1px solid #eee;
    border-top:none;
    text-align:left;
}
ul.autocomplete li 
{
  display: block; 
  padding: 5px; 
  margin:5px;
  overflow: hidden;
  cursor:pointer;
  font-size:12px;
  font-family:'Open Sans',Helvetica,Arial, sans-serif;
}

ul.autocomplete li.selected 
{
  background-color: #000; 
  color: #fff;
}

ul.autocomplete li strong 
{
  color: #333; 
  font-weight:600;
}

ul.autocomplete li.selected strong 
{
	color:#fff;
} 

ul.autocomplete li img
{
  max-width:50px;
  vertical-align:middle;
  margin-right:10px;
}

/**
 * Grid items animation
 */
.grid > div {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}



/*-----------------------------------------------------------------------------------*/
/*	jQuery Woomark plugin - product filters
/*-----------------------------------------------------------------------------------*/

.filters {
  list-style-type: none;
  text-align: center;
  margin: 0px 5px ;
  display:inline;
}

.heading .filters
{
    float:right;
    margin:5px 0px;
}

.heading h2 + .filters
{
	margin-top:-5px;
	z-index:10;
}

.filters li {
  letter-spacing:1px;
  font-size: 10px;
  float: left;
  padding: 3px 8px;
  cursor: pointer;
  margin: 2px 8px;
  background:#f5f5f5;
  background:#fff;
  color:#777;
  text-transform:uppercase;
  font-weight:400;
  font-family:Lato, 'Open Sans';
  background:#fafafa;
  width:30%;
  line-height: 14px;
  
  -webkit-transition: all 0.7s ease-out;
     -moz-transition: all 0.7s ease-out;
       -o-transition: all 0.7s ease-out;
          transition: all 0.7s ease-out;
}

.filters li:hover 
{
  background: #000;
  color: #fff;
}

.filters li.active {
  background: #000;
  color: #fff;
}


/**
 * Grid container
 */
.grid {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  clear:both;
}

/**
 * Grid items
 */

.grid > div
{
  display: none;
}

.grid .prod
{
	padding:0px;
}

.grid > div.inactive {
  visibility: hidden;
  width:100px;
  height:100px;
  opacity: 0;
}


/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}





.grid_list
{
/*    position:relative;
    width:1140px;
    height:700px;
    margin:0px auto;
    left:-10px;
    margin-bottom:10px;*/
}

.grid_list div.item_list
{
    background-repeat:none;
    background-size:cover;
    position:absolute;
    /*display: table;*/
    background:#20B2F7;
    background:#fff;
    z-index:0;
}


.grid_item > div
{
    width: inherit;
    width:100%;
    height:100%;
    vertical-align:middle;
    text-align:center;
    position: absolute;
    z-index:1;
}

.grid_item div.background
{
    background-repeat:none;
    background-size:cover;
    background-clip: content-box;
    background-position: center center;
    opacity:1;
    width:100%;
    height:100%;
    z-index:0;
    position:absolute;
    top:0px;
    display: block;
    opacity:1;
/*    -webkit-filter: grayscale(0.2) brightness(0.8);
    filter:url("../img/filter.svg#saturate");
    filter:grayscale(0.5);*/
}

.grid_item:hover > div.background
{
    filter:none;
    -webkit-filter:none;
    opacity:0.7;
}

.grid_item div.grid_text
{
	z-index:5;
	position: relative;
}

.grid_item > div > div 
{
  display: table;
  height: 100%;
  vertical-align: bottom;
  /*width: 100%;*/
  width: inherit;
}

.grid_item > div > div > div
{
	display: table-cell;
	vertical-align: middle;
	margin:5px;
}

.grid_item > div > div > div > .grid_text h2
{
  color:#000;
  font-size: 10px;
  font-family:Lato, 'Open Sans';
  text-align:center;
  line-height: 16px;
  margin:0px auto;
  padding:0px 0px;
  width:inherit;
  display: inline-block;
  word-wrap: break-word;
  border-bottom:1px solid #fff;
  border-bottom:1px solid rgba(255,255,255,0.5);
}



.grid_item > div > div > div > .grid_text  h3
{
	color: #333;
	font-size: 12px;
	margin:0px;
	padding:0px 5px;
	text-align:center;
	display: inline-block;
	margin-bottom:0px;
	display:none;
	background:transparent;
	color:#fff;
	margin-bottom:5px;
	font-family:Lato, 'Open Sans';
	font-weight:400;
	letter-spacing:1px;;
}

.grid_item > div > div > div > .grid_text h2
{
    padding:1px 5px;
    display:inline-block;
    margin:0px 0px 0px;
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 22px;
    width: auto;
    text-transform:uppercase;
    font-family:Lato, 'Open Sans';
    color:#fff;
	background:transparent;
	color:#fff;
	padding:2px 5px;
}

.grid_item > div > div > div > .grid_text a
{
    /*border:2px solid #fff;*/
    padding:1px 5px;
    display:inline-block;
    margin:10px 0px 10px;
    font-size:11px;
    text-transform:uppercase;
    font-family:Lato, 'Open Sans';
    letter-spacing:2px;
    color:#333;
	padding:2px 0px;
	background:transparent;
	color:#fff;
}

/*-----------------------------------------------------------------------------------*/
/*	Side block module
/*-----------------------------------------------------------------------------------*/

.screen_right
{
	position:fixed;
	right:0px;
	top:0px;
	height:100%;
	width:40px;
	z-index:10;
}
.screen_right > div
{
	display:table;
	height:100%;
}

.screen_right > div > div
{
	display:table-row;
	height:100%;
}


.screen_right > div > div > div
{
	display:table-cell;
	vertical-align:middle;
}

.screen_right div .sideblock
{
	margin-bottom:10px;
	position:relative;
	clear:both;
	transition: all 0.5s ease-in-out;
	z-index:1;
	right:0px;
}

.screen_right div .sideblock:hover
{
	right:300px !important;
	z-index:1000;
	transition: all 0.5s ease-in-out;
}

.screen_right div .sideblock .head
{
	padding:10px;
	text-align:center;
	margin-bottom:10px;
}

.screen_right div .sideblock .head .title
{
	padding:10px 0px;
}

.screen_right div .sideblock .head .icon
{
	font-size:26px;
	text-align:center;
	line-height:26px;
	height:30px;
}

.screen_right div .sideblock .body
{
	float:right;
	background:#fff;
	min-height:100px;
	position:absolute;
}

.screen_right div .sideblock .body > p
{
	padding:5px;
}



html[dir=rtl] .screen_right 
{
	position: fixed;
	right: auto;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 40px;
}

html[dir=rtl] .screen_right div .sideblock
{
	margin-bottom:10px;
	position:relative;
	clear:both;
	transition: all 0.5s ease-in-out;
	z-index:1;
	left:0px;
	right:auto;
	left:-300px;
}

html[dir=rtl] .screen_right div .sideblock:hover
{
	right:auto !important;
	left:0px !important;
	z-index:1000;
	transition: all 0.5s ease-in-out;
}

html[dir=rtl] .screen_right div .sideblock .body
{
	left:0px !important;
}

html[dir=rtl] .screen_right div .sideblock .head
{
	float:right;
}
/*
.row1
{
    top:0px;
}

.col1
{
    left:0px;
}

.row2
{
    top:100px;
}

.col2
{
    left:100px;
}

.row3
{
    top:200px;
}

.col3
{
    left:200px;
}

.row4
{
    top:300px;
}

.col4
{
    left:300px;
}

.row5
{
    top:400px;
}

.col5
{
    left:400px;
}

.row6
{
    top:500px;
}

.col6
{
    left:500px;
}

.row7
{
    top:600px;
}

.col7
{
    left:600px;
}

.row8
{
    top:700px;
}

.col8
{
    left:700px;
}


.row9
{
    top:800px;
}

.col9
{
    left:800px;
}

.row10
{
    top:900px;
}

.col10
{
    left:900px;
}

.row11
{
    top:1000px;
}

.col12
{
    left:1100px;
}

.row12
{
    top:1100px;
}

.col10
{
    left:900px;
}


.size_x_1
{
    width:100px;
}

.size_x_2
{
    width:200px;
}

.size_x_3
{
    width:300px;
}

.size_x_4
{
    width:400px;
}


.size_x_5
{
    width:500px;
}

.size_x_6
{
    width:600px;
}

.size_x_7
{
    width:700px;
}

.size_x_8
{
    width:800px;
}

.size_x_9
{
    width:900px;
}

.size_x_10
{
    width:1000px;
}

.size_x_11
{
    width:1100px;
}

.size_y_1
{
    height:100px;
}

.size_y_2
{
    height:200px;
}

.size_y_3 
{
    height:300px;
}

.size_y_4
{
    height:400px;
}

.size_y_5
{
    height:500px;
}

.size_y_6
{
    height:600px;
}

.size_y_7
{
    height:700px;
}


.size_y_8
{
    height:800px;
}

.size_y_9
{
    height:900px;
}

.size_y_10
{
    height:1000px;
}

.size_y_11
{
    height:1100px;
}
*/


/*-----------------------------------------------------------------------------------*/
/*	Media queries
/*-----------------------------------------------------------------------------------*/



@media(max-width:767px){
    .screen_right{display:none;} .nav-tabs > li{float:none} .footer,.social {text-align:center} .newsletter div{float:none;text-align:left;}.cart {display:block;margin-top: 5px;float:none;background:#eee;margin:10px 0px 0px 0px;}
    .navbar
    {
		margin:10px 0px;
		background:#fafafa;
    }
    .navbar-search .search-query, .navbar-search.expand .search-query{width:90%;padding:6px 6px;line-height: 17px;float:left;}
    form.navbar-search > div.input-group > button {line-height: 0px;background-color:#eee;margin-right:10px;top:auto;right:0px;position:absolute;z-index:100;}

	.navbar-header
	{
		background:#eee;
	}
	
	.grid_item > div > div > div > .grid_text h2
	{
		font-size:12px;
		letter-spacing:0.5px;
	}
	
	.search-col
	{
		float:none;
		width:100%;
	}
	
	div#header 
	{
		text-align:center;
	}
	
	#logo
	{
		letter-spacing:5px;
		margin:0px auto 10px;
	}
	
	#logo h1
	{
		border-bottom-width:1px;
	}

	#logo a
	{
		font-size:12px;
	}
	
	.heading .filters, .heading h2 + .filters
	{
		margin:10px 0px;
	}
	
	.filters li
	{
		width:40%;
	}
	
	.dropdown-menu
	{
		margin:0px;
		z-index:9999999;
		border-radius:0px;
		left:auto;
		right:0px;
	}	

	.product-info #buynow, .product-info #button-cart
	{
		padding:8px 15px;
	}
	
	.product_wish_compare
	{
		margin:10px;
		float:right;
	}
	
	div.product-info ul.flex-direction-nav a
	{
		width:28px;
	}
	
	.cat_thumb
	{
		float:none;
	}
	
	.hide_on_mobile
	{
		display:none;
	}
}
@media(min-width:768px)
{
    .screen_right{display:none;}
    .navbar .nav > li > a {padding:0 5px;}
    .navbar .nav > li {padding:10px 0}
    .navbar-search .search-query, .navbar-search.expand .search-query{width:100px;}
    .navbar-collapse {padding:0px;}

	.grid_item > div
	{
		padding:10px;
	}
	.grid_list
	{
		margin:0px;
		margin-bottom:10px;
		left:auto;
	}
	
	.grid_item > div > div > div > h3
	{
		display: inline-block;
	}
	
	.grid_item > div > div > div > h2
	{
	  font-size: 12px;
	  letter-spacing:6px;
	  line-height: 24px;
	  width:auto;
	  max-width:70%;
	}

	.grid_item > div > div 
	{
	  /*border: 1px solid rgba(255,255,255,0.5);*/
	}
	
	.filters li
	{
		background:transparent;
		width:auto;
		font-size:11px;
	}

	#logo
	{
		max-width:50%;
		margin:0px auto;
		display:inline-block;
	}
}

@media(min-width:992px)
{

	.navbar .nav > li > a
	{
		padding: 0px 8px;
	}

	.navbar .nav .list-unstyled li a	
	{
	    padding:10px 0px;
	}
	
	.navbar-search .search-query, .navbar-search.expand .search-query{width:50px;}
	div#sequence .controls {margin:0 auto 0 -585px}
	.navbar-collapse
	{
		z-index:10000;
		/*background:#fafafa;*/
		float:right;
	}
	
	.search-col
	{
	    margin-left:10px;
	}
	
    .screen_right{display:block;z-index:1000;}
}

@media(min-width:1200px)
{
	.navbar-search.search2 .search-query 
	{
	    width:450px;
	}
	
	.navbar .nav > li > a
	{
		padding: 0 20px;
	}
	
	.yamm .dropdown.yamm-fw .dropdown-menu 
	{
	  width:720px;
	}	
}

/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap 3
 * 
 * http://geedmo.github.com/yamm3
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .mega.dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .mega .dropdown-menu {
  left: auto;
}
.yamm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
  min-width:300px;
  font-size:12px;
  font-family:'Open Sans';
  color:#333;
  background:#fff;
}

.yamm .yamm-content a {
    color:#555;
    font-family:Lato, 'Open Sans';
}

.yamm .yamm-content strong
{
	font-weight:400;
	color:#000;
	display:block;
}

.cat_thumb 
{
  float: right;
  max-width: 50%;
}

.manufacturer_thumb
{
  line-height: 30px;
}

.manufacturer_thumb img
{
  max-width: 20%;
  margin:0px 5px;
  display:inline-block;
}

.sidebar-nav .yamm .yamm-content
{
    width:700px;
}

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0;
  background:#fff;
  border-top:2px solid #EEEEEE;
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {

  .sidebar-nav  div.navbar
  {
    width:100%;
    margin-bottom:20px;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
    width:100%;
  }
  .sidebar-nav .navbar ul.navbar-nav {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
  
  }
  
.sidebar-nav .dropdown{position:relative;}
.sidebar-nav .dropdown>.dropdown-menu{top:0;left:100%;margin-top:1px;margin-left:0px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.sidebar-nav .dropdown:hover>.dropdown-menu{display:block;}
.sidebar-nav .navbar-nav > .dropdown > a:after {content: "";display: block;float: right;font-family: FontAwesome;font-size: 10px;font-weight: normal;height: 0;margin-right: 0px;margin-top: 0;width: 0;color:#ccc;}
.sidebar-nav .dropdown:hover>a:after{border-left-color:#ffffff;}
.sidebar-nav .dropdown.pull-left{float:none;}.dropdown.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.sidebar-nav .yamm .dropdown.yamm-fw .dropdown-menu { left: auto; right: auto;width:100%;}  
.sidebar-nav  .navbar-toggle {width: 100%;float: none;margin-right: 0;}
.sidebar-nav .navbar-collapse{background:#f5f5f5;}
.sidebar-nav .navbar .nav > li{border:none;border-bottom:1px solid #eee;border-top:1px solid #fff;}
.sidebar-nav .navbar .nav > li > a{color:#555;font-size:12px;font-weight:400;text-transform:capitalize;font-family:'Open Sans';letter-spacing:0px;}
.sidebar-nav .navbar .nav > li:hover{ background:#eee;color:#fff;}
.sidebar-nav ul.nav li.dropdown:hover > ul.dropdown-menu, .sidebar-nav .navbar .dropdown-menu{background:#fff;border:1px solid #eee;border-radius:0px;}
.sidebar-nav .navbar .dropdown-menu > li > a, .sidebar-nav  .navbar .dropdown-menu > li > a:focus  {background: #f5f5f5;color: #333;border-bottom:1px solid #eee;border-top:1px solid #fff;}
.sidebar-nav  .navbar .dropdown-menu > li > a:hover {background: #000	;color: #fff;}
.sidebar-nav .yamm .yamm-content { color:#333;}
.sidebar-nav .yamm .yamm-content a {color:#333;}
}


/* pavblog */

.pav-header  { position:relative  }
.pav-header .rss-wrapper{
	width:30px;	height:30px;	display:block; position:absolute;right:0; top:0; background:url(../image/icon-rss.png) no-repeat center center;
	overflow:hidden; text-indent:-999em;
}

    .blog-meta {
		margin: 10px 0;
		overflow: hidden;
		background:#fafafa;
	}
	div.blog-meta > span
	{
		font-weight:bold;
		display: block;
		float: left;
		font-size: 11px;
		padding: 10px 11px ;
		border:none;
	 }
	 div.blog-meta > span a
	 {
		font-size: 11px;
	 }
	 
	.blog-meta > span:last-child{ border-right:none; font-size:90% }
	.blog-meta > span  span{ font-weight:normal }
	
.blog-header .created {
	display:block;
	overflow:hidden;
	height:40px;padding:12px;
	background:#000;
	color:#FFF;
	float:left;
	font-size:11px; 
	margin-right:12px; 	
}

.blog-header  span.day{ font-size:30px; font-weight:bold; padding:4px 0;display:block; text-align:center }
.blog-header  span{ font-size:98%  }
.blog-item .description{ padding: 8px 0; }
.blog-item .readmore{padding-left:25px }
/**
 * Category Page
 */
 div[class*="pavcol"]{
	float:left;
 }
 .pavcol1{ width:100% }
 .pavcol2 { width:50%; }
 .pavcol3 { width:33.33%; }
 .pavcol4 { width:25%; }
 .pavcol5 { width:20%; }
 
 .blog-item{ padding:10px; }
 .blog-item img{ padding-right:12px }
 .pavcol1 img { padding-right:0 }
 
 .pav-blogs a {
	text-decoration:none
 }
 /**
  * Blog Page
  */
  .pav-blog .description{ font-weight:bold; }
	
  .pav-blog .blog-content, .pav-blog .blog-bottom { margin-bottom:20px }
   .comment-item {
	 
		padding-bottom:10px;
   }
  .comment-item  img{
	padding-right:12px;
  }
  .comment-wrap{
	overflow:hidden;
	  background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    padding: 20px;
    position: relative;
    transition: all 0.3s ease-out 0s;	
  }
  .comment-wrap .comment-meta{
	 border-bottom: 1px solid #E5E5E5;
    font-size: 11px;
    margin: -20px -20px 10px;
    padding: 10px 20px;
  }
  .comment-wrap .comment-meta > span { font-weight:bold; }
   .comment-wrap .comment-meta > span  span{ font-weight:normal; }
   .blog-social  .social-wrap > div { float:left; }
   .blog-social .social-heading{ padding-right:12px; }
   
   .comment-link{
	background: none repeat scroll 0 0 #F4F4F4;
    border-left: 1px solid #E5E5E5;
    display: block;
    float: right;
    font-weight: bold;
    margin: -11px -20px -10px 0;
    padding: 10px 20px;
   }

 
   #comment-form .message{ background:#FCF8E3; padding: 12px; color:#000; margin:12px ;}
   #comment-form .comment-warning{ color:#B94A48  } 

   	#comment-form .input-group{	clear:both; padding: 6px 0;	}
   #comment-form label{  
		 
		display: block;
		float: left;
		line-height: 27px;
		margin: 0;
		width: 20%;
   }
    #comment-form input, #comment-form textarea{
		 display: block;
		margin: 0;
		width: 77%;
	}

		#comment-form  .recaptcha{padding:12px; }
		#comment-form  .recaptcha input { width: 140px; height:27px; display:inline; margin:0 12px; }
   /**
    * Module
	*/
	.pavblogs-comments-box  .pav-comment { padding:10px 0 ;border-bottom:1px solid #F4F4F4  }
	.pavblogs-comments-box  .pav-comment:last-child{ border-bottom:none; }
	.pavblogs-comments-box img{ padding-right:12px; }


.blog-tags, .blog-bottom
{
	margin-bottom:10px;
	line-height: 24px;
}

h4.blog-title
{
  margin-bottom:10px;
  margin-top:5px;
}

.blog-title > a {
  color: #555;
  font-family: Lato, 'Open Sans';
  text-transform:uppercase;
}

.blog-item a.readmore {
  border-bottom: 1px solid #777777;
  color: #777777;
  font-family: Lato, 'Open Sans';
  font-size: 11px;
  padding: 0;
  text-transform: uppercase;
}

.pavblog-latest
{
    margin-bottom:20px;
}

.pav-category li
{
    margin:8px 0px;
}

ul.pav-category ul
{
    margin-left:10px;
    margin-bottom:20px;
}


@media(max-width:767px)
{
	.dropdown-submenu {
		position:relative;
	}
	.dropdown-submenu>.dropdown-menu {
		top:0;
		left:100%;
		margin-top:-6px;
		margin-left:-1px;
		-webkit-border-radius:0 6px 6px 6px;
		-moz-border-radius:0 6px 6px 6px;
		border-radius:0 6px 6px 6px;
	}
	.dropdown-submenu:hover>.dropdown-menu {
		display:block;
	}
	.dropdown-submenu>a:after {
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:5px;
		margin-right:-10px;
	}
	.dropdown-submenu:hover>a:after {
		border-left-color:#ffffff;
	}
	.dropdown-submenu.pull-left {
		float:none;
	}
	.dropdown-submenu.pull-left>.dropdown-menu {
		left:-100%;
		margin-left:10px;
		-webkit-border-radius:6px 0 6px 6px;
		-moz-border-radius:6px 0 6px 6px;
		border-radius:6px 0 6px 6px;
	}

	.navbar .dropdown-menu .dropdown-menu > li > a {
	  background: none repeat scroll 0 0 #333;
	  color:#fff;
	}

	.navbar .dropdown-menu .dropdown-menu > li > a:hover {
	  background: none repeat scroll 0 0 #000;
	}

}
