<h2 class="main-hd-dark">Dashboard</h2>
<div class="pd20 dash-board">
	<section class="rgen-panel">
		<h2 class="hd">Theme</h2>
		<div class="panel-container" ng-include="'theme_menu.html'"></div>
	</section>

	<section class="rgen-panel">
		<h2 class="hd">Modules</h2>
		<div class="panel-container" ng-include="'module_menu.html'"></div>
	</section>
</div>
