
<div id="rgen-customhtml-rgenrqNbIq" class="rgen-customhtml customhtml-rgDQB">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						<section class="mod-customhtml t-html"><div class="rw">
	<div class="cl10">
		<h2 style="color:rgb(162, 162, 170); font-size: 30px; font-weight: 400; margin-bottom: 0px;">
			OVER <strong style="color: #fff; font-weight: 700;">2000+</strong> SATISFIED USERS OF OUR THEME<br>
			<em style="display:block; text-transform: none; font-size: 18px;">Highly customizable, easy to use and fully responsive OpenCart Theme</em>
		</h2>
	</div>
	<div class="cl2">
		<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" style="font-size: 24px; font-weight: 400; background-color: #6DDEE2; padding: 15px 25px; line-height: 1; border-radius: 3px; margin: 8px 0 8px 0; display:block;" class="default-btn">Purchase</a>
	</div>
</div></section>	
						
						
			
		</div>
	</div>
</div>
