
<div id="rgen-customhtml-rgenpJsU13" class="rgen-customhtml customhtml-rgAhO">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						<section class="mod-customhtml t-html"><a 
class="twitter-timeline" 
href="https://twitter.com/RGenesisArt" 
data-widget-id="345031699077410817"
width="100%"
data-chrome="nofooter noscrollbar transparent"
data-tweet-limit="3"
>Tweets by @RGenesisArt</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></section>	
						
						
			
		</div>
	</div>
</div>
