
<div id="rgen-customhtml-rgenPKZlLk" class="rgen-customhtml customhtml-rgttE">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						
						<div class="rw gt40">
								<div class="l-cl cl9 t-xl12">
										<section class="mod-customhtml l-html"><h2 class="h2" style="font-size: 35px; font-weight:300;">Check all features</h2>

<p style="font-family: Roboto; font-weight: 300; color: rgba(255, 255, 255, 0.5); font-size:20px;">

Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.

</p></section>	
									</div>	
								
				
								<div class="r-cl cl3 t-xl12">
										<section class="mod-customhtml r-html"><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn" style="display:block;margin: 35px 0 0 0; font-size: 18px; font-weight: 300; padding: 15px;">More details</a></section>	
									</div>
							</div>
						
			
		</div>
	</div>
</div>
