<h2 class="main-hd-dark">Top header</h2>
<div class="rgen-tab-panel-large rgen-tab-panel">
	<!-- Nav tabs -->
	<div class="nav-tabs-wrp">
		<ul class="nav nav-tabs">
			<li ui-sref-active="active"><a ui-sref=".general">General</a></li>
			<li ui-sref-active="active"><a ui-sref=".home">Header - Home</a></li>
			<li ui-sref-active="active"><a ui-sref=".inner">Header - Inner page</a></li>
		</ul>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div ui-view></div>
	</div>
</div>

