<div id="rgen-gridmanager-rgenfuLwjh" class="rgen-gridmanager gridmanager-rgfg6">
	<div class="mod-wrp container">
		
						<h3 class="mod-hd">Social Network</h3>
				
				<section class="mod-customhtml t-html">Get connected with social networks to stay updated.</section>	
				
		<div class="gridmanager-mod-rw rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt50 mb20">
														<div class="cl cl8 d-xl8 t-xl12 m-xl12 m-sm12 m-xs12" style="">
								
<div id="rgen-customhtml-rgenjrYge0" class="rgen-customhtml customhtml-rgqzM">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						<section class="mod-customhtml t-html"><iframe src="https://www.flickr.com/photos/we-are-envato/13090422515/player/" width="100%" height="520" frameborder="0" allowfullscreen="" webkitallowfullscreen="" mozallowfullscreen="" oallowfullscreen="" msallowfullscreen=""></iframe></section>	
						
						
			
		</div>
	</div>
</div>
							</div>
														<div class="cl cl4 d-xl4 t-xl12 m-xl12 m-sm12 m-xs12" style="">
								
<div id="rgen-customhtml-rgenr611GO" class="rgen-customhtml customhtml-rgVEg">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						<section class="mod-customhtml t-html"><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=481834025161188";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-width="458" data-href="https://www.facebook.com/envato" data-hide-cover="false" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/envato"><a href="https://www.facebook.com/envato">Envato</a></blockquote></div></div></section>	
						
						
			
		</div>
	</div>
</div>

<div id="rgen-customhtml-rgen0fOC1a" class="rgen-customhtml customhtml-rgAhO">
	<div class="mod-wrp container">
		
						
		<div class="mod-content">

						<section class="mod-customhtml t-html"><a 
class="twitter-timeline" 
href="https://twitter.com/RGenesisArt" 
data-widget-id="345031699077410817"
width="100%"
data-chrome="nofooter noscrollbar transparent"
data-tweet-limit="3"
>Tweets by @RGenesisArt</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></section>	
						
						
			
		</div>
	</div>
</div>
							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgenfuLwjh").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgenfuLwjh").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgenfuLwjh .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenfuLwjh .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgenfuLwjh .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenfuLwjh .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
