<div id="rgen-gridmanager-rgen44RgdU" class="rgen-gridmanager gridmanager-rgm0F">
	<div class="mod-wrp container">
		
						
				
		<div class="gridmanager-mod-rw rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt30 mb20">
														<div class="cl cl4 d-xl4 t-xl4 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgenwYj99Q" class="rgen-productgroups productgroups-rg6gY">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd"><a href="index.php?route=product/category&path=18" target="_blank">Laptops & Notebooks </a></h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenwYj99Q_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-150x150.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_1-150x150.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43">MacBook</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 500</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_air_1-150x150.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 1,000</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_pro_1-150x150.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">MacBook Pro</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 2,000</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
<a class="sml-prd-viewall" href="index.php?route=product/category&path=18" target="_blank">View all   <i class="fa fa-arrow-circle-right"></i>
</a>							</div>
														<div class="cl cl4 d-xl4 t-xl4 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgenGsxkMD" class="rgen-productgroups productgroups-rgZN7">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd"><a href="index.php?route=product/category&path=34" target="_blank">MP3 Players </a></h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenGsxkMD_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-150x150.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_touch_1-150x150.jpg" alt="iPod Touch" title="iPod Touch" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32">iPod Touch</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
<a class="sml-prd-viewall" href="index.php?route=product/category&path=34" target="_blank">View all   <i class="fa fa-arrow-circle-right"></i>
</a>							</div>
														<div class="cl cl4 d-xl4 t-xl4 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgenQAoz0M" class="rgen-productgroups productgroups-rg4gH">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd"><a href="index.php?route=product/category&path=20" target="_blank">Desktop </a></h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenQAoz0M_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
			<span class="offer-tag-discount"><span>10%</span></span>
			
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-150x150.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h5>
		
				<p class="price">
						<span class="price-old">Rp 100</span>
			<span class="price-new price-spl">Rp 90</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
			<span class="offer-tag-discount"><span>20%</span></span>
			
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-150x150.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h5>
		
				<p class="price">
						<span class="price-old">Rp 100</span>
			<span class="price-new price-spl">Rp 80</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-150x150.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-150x150.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
<a class="sml-prd-viewall" href="index.php?route=product/category&path=20" target="_blank">View all   <i class="fa fa-arrow-circle-right"></i>
</a>							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgen44RgdU").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgen44RgdU").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgen44RgdU .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgen44RgdU .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgen44RgdU .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgen44RgdU .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
