<div id="rgen-gridmanager-rgenSOtLPS" class="rgen-gridmanager gridmanager-rga4W">
	<div class="mod-wrp container">
		
						
				
		<div class="gridmanager-mod-rw rw gt0">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt10 mb0">
														<div class="cl cl6 d-xl4 t-xl12 m-xl12 m-sm12 m-xs12" style="">
															</div>
														<div class="cl cl3 d-xl4 t-xl6 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgenM3gYAH" class="rgen-productgroups productgroups-rgE9K">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd">Women's Fashion</h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenM3gYAH_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-150x150.jpg" alt="iMac" title="iMac" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-150x150.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 101</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-150x150.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
							</div>
														<div class="cl cl3 d-xl4 t-xl6 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgens82jdS" class="rgen-productgroups productgroups-rgzbl">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd">Men's Fashion</h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgens82jdS_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
			<span class="offer-tag-discount"><span>10%</span></span>
			
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-150x150.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h5>
		
				<p class="price">
						<span class="price-old">Rp 100</span>
			<span class="price-new price-spl">Rp 90</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-150x150.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-150x150.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=29"><img src="http://localhost/hijab.com/image/cache/catalog/demo/palm_treo_pro_1-150x150.jpg" alt="Palm Treo Pro" title="Palm Treo Pro" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=29">Palm Treo Pro</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 280</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=29" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
			<span class="offer-tag-discount"><span>20%</span></span>
			
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-150x150.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h5>
		
				<p class="price">
						<span class="price-old">Rp 100</span>
			<span class="price-new price-spl">Rp 80</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgenSOtLPS").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgenSOtLPS").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgenSOtLPS .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenSOtLPS .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgenSOtLPS .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenSOtLPS .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
