<div id="rgen-gridmanager-rgenrRNb1a" class="rgen-gridmanager gridmanager-rgBVU">
	<div class="mod-wrp container">
		
						
				
		<div class="gridmanager-mod-rw rw gt1">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl3 d-xl3 t-xl3 m-xl12 m-sm12 m-xs12" style="">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
<img src="image/catalog/rgen/demo03_images/banners/other-banners/promo-banner.png" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive">
</a>							</div>
														<div class="cl cl9 d-xl9 t-xl9 m-xl9 m-sm12 m-xs12" style="">
								<div class="home-main-banners"><div id="rgen-basicbanners-rgenYmitVd" class="rgen-basicbanners basicbanners-rg6bJ">
	<div class="mod-wrp container">
				
		
		<div class="mod-content">
						<div 
				class="widget-carousel ctrl-b" 
				data-stpd="1" 
				data-resitems="5" 
				data-res="true" 
				data-margin="1"
				 data-nav="false"				 data-dots="true">
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_3-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">Dresses</span> <span class="sub-text">Extra 10% Off</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_5-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">All Suits</span> <span class="sub-text">20% Off Limited time</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_1-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">Beauty</span> <span class="sub-text">Save up to 30%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_4-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">NEW IN</span> <span class="sub-text">Save up to 20%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
								<div class="cl">
							<figure class="effect-6 h-effect">
			<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/banners/other-banners/400x800_2-300x600.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			<figcaption>
				<h2 class="h3"><span class="main-text">HAIRCARE</span> <span class="sub-text">Save up to 20%</span></h2>
				<p><a class="default-btn" style="background-color:transparent; color; #fff; display: inline-block; padding: 6px 10px; border: 3px solid #fff;">Shop now</a></p>
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
							</figcaption>
		</figure>
					</div>
							</div>

			<script type="text/javascript" ><!--
			$("#rgen-basicbanners-rgenYmitVd .widget-carousel").css({	opacity: 0 });
			$(document).ready(function() {
				var obj = "#rgen-basicbanners-rgenYmitVd .widget-carousel";
				var resObj = { 0: { items:1 },200: { items:1 },300: { items:2 },400: { items:2 },500: { items:3 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:3 },1100: { items:3 }	};
				setTimeout(function () { widgetCarousel(obj, resObj); }, 100);
			});
			//--></script>
					</div>

	</div>
</div>
</div>							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgenrRNb1a").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgenrRNb1a").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgenrRNb1a .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenrRNb1a .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgenrRNb1a .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenrRNb1a .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
