<div id="rgen-gridmanager-rgenFRy3wj" class="rgen-gridmanager gridmanager-rgLX1">
	<div class="mod-wrp container">
		
						
				
		<div class="gridmanager-mod-rw rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt30 mb0">
														<div class="cl cl3 d-xl3 t-xl12 m-xl12 m-sm12 m-xs12 visible-lg visible-md" style="">
								<nav id="gridmanager" data-w=" bx" class="rg-nav-wrp menu-left menu-rglsP v-menu">
	<div class="rg-nav-handle"><i class="fa fa-bars"></i></div>
	<ul class="rg-nav">
				<li class="">
						<a class="main-item" href="index.php?route=product/category&path=20">		<i class="ico fa fa-desktop" style="font-size: 14px;"></i>	
	
Desktop			</a>	
						<div class="sub sub-size8">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl4 d-xl4 t-xl4 m-xl4 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a>
			</li>
	</ul>
						</div>
												<div class="cl4 d-xl4 t-xl4 m-xl4 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a>
		<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_35">test 1</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_36">test 2</a></li></ul>	</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a>
			</li>
	</ul>
						</div>
												<div class="cl4 d-xl4 t-xl6 m-xl6 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a>
			</li>
	</ul>
						</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico glyphicon glyphicon-tag" style="font-size: 14px;"></i>	
	
Flat 20% discount			</a>	
			
		</li>
				<li class="">
						<span class="main-item">		<i class="ico fa fa-thumbs-up" style="font-size: 16px;"></i>	
	
New categories			</span>
						<div class="sub sub-size3">
				<ul class="nav-fly">
												<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a><ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_35">test 1</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_36">test 2</a></li></ul></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57">Tablets</a>
															</li>				</ul>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-star" style="font-size: 16px;"></i>	
	
Women special - 70% Off			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-bookmark" style="font-size: 16px;"></i>	
	
Men special - 50% OFF			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-bomb" style="font-size: 16px;"></i>	
	
Get extra 15% OFF			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-suitcase" style="font-size: 16px;"></i>	
	
Get holiday ready			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-heart" style="font-size: 16px;"></i>	
	
New-In clothing			</a>	
			
		</li>
			</ul>
</nav>
<script>
jQuery(document).ready(function($) {
	$('#gridmanager').rgenmenu();
});
</script>
							</div>
														<div class="cl cl9 d-xl9 t-xl12 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-bannergrids-rgenGfVFaN" class="rgen-bannergrids bannergrids-rgSNH">
	<div class="mod-wrp container">
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								
																<div class="banner-grid-wrp banner-grids-0">
																												
										<div class="banner-grid-item" id="banner_grid_block_0" data-colspan="8" data-rowspan="6">
	<div class="slideshow-wrp dots-typ1">
		<div class="slideshow">
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/slideshow/home-slideshow/slide01-846x632.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/slideshow/home-slideshow/slide02-846x632.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
					</div>
	</div>
	<script>
		jQuery(document).ready(function($) {
		var obj = "#rgen-bannergrids-rgenGfVFaN #banner_grid_block_0 .slideshow";
		var settings = {
			effect      : "random",
			speed       : 1500,
			pause       : 2000,
			auto        : true,
			prevNext    : true,
			pager       : true,
			continuous  : true,
			stoponhover : true		};
		sudoSliderfn(obj, settings);
	});
	</script>
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_1" 
	data-colspan="4" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/banners/other-banners/418x204_01-418x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_2" 
	data-colspan="4" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/banners/other-banners/418x204_02-418x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_3" 
	data-colspan="4" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo09_images/banners/other-banners/418x204_03-418x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>								</div>

								<script>
								jQuery(document).ready(function($) {
									var settings = {
										gutter: '10px',
										itemclass: '.banner-grid-item'
									};
									bnrgrids('#rgen-bannergrids-rgenGfVFaN .banner-grids-0', settings);
								});
								</script>
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgenFRy3wj").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgenFRy3wj").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgenFRy3wj .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenFRy3wj .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgenFRy3wj .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenFRy3wj .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
