<div id="rgen-gridmanager-rgenem6GLA" class="rgen-gridmanager gridmanager-rgpFy">
	<div class="mod-wrp container">
		
						
				<section class="mod-customhtml t-html"><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" style="    display: inline-block;"><img src="image/catalog/rgen/demo06_images/other/great-deals.png" class="img-responsive"></a></section>	
				
		<div class="gridmanager-mod-rw rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content gridmanager-mod-content">
					
											<div class="rw gt20 mb0">
														<div class="cl cl4 d-xl4 t-xl12 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-basicslideshow-rgenSeA7VY" class="rgen-basicslideshow basicslideshow-rgN0C">
	<div>
		<div class="slideshow-wrp dots-typ1 normal">
			<div class="slideshow">
								<div class="slide">
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/376x510_1-376x510.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
									</div>
								<div class="slide">
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/banners/other-banners/376x510_2-376x510.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
									</div>
							</div>
		</div>
	</div>
</div>


<script type="text/javascript" ><!--
$(document).ready(function(){

		if ($('.ly-column').length == 0) {
		$("#rgen-basicslideshow-rgenSeA7VY > div").addClass('container');
	};
	
	var win         = $(window);
	var auto        = true;
	var autostopped = false;
	var container   = $("#rgen-basicslideshow-rgenSeA7VY .slideshow-wrp");

	/* Default slide script
	------------------------*/
	var sudoSlider = $("#rgen-basicslideshow-rgenSeA7VY .slideshow").sudoSlider({
		responsive: true,
		controlsAttr: 'class="owl-controls"',
		effect: "random",
		speed: 1000,
				auto: true,
				pause: 2000,
				prevNext: true,
		nextHtml: '<a class="next"><i class="fa fa-chevron-right"></i></a>',
		prevHtml: '<a class="prev"><i class="fa fa-chevron-left"></i></a>',
						numeric: true,
		numericAttr: 'class="dots ul-reset"',
		
				continuous: true,
				updateBefore: true,
		mouseTouch: false,
		touch: true,
		slideCount: 1
	})

		.mouseenter(function() {
		auto = sudoSlider.getValue('autoAnimation');
		if (auto) { sudoSlider.stopAuto(); } else { autostopped = true; }
	})
	.mouseleave(function() {
		if (!autostopped) { sudoSlider.startAuto(); }
	})
	;

	
	
	});
//--></script>
							</div>
														<div class="cl cl8 d-xl8 t-xl12 m-xl12 m-sm12 m-xs12" style="">
								<div id="rgen-productgroups-rgenHuWj5c" class="rgen-productgroups productgroups-rgBhu">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									
			<div class="mod-content">
								<div class="rw  eq3 d-eq3 t-eq3 mxl-eq2 msm-eq2 mxs-eq1 gt10 mb10" id="grid-rgen-productgroups-rgenHuWj5c_0">
															<div class="cl">
						<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
										<div class="cl">
						<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 80</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 80</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
						<div class="description grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('30', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('30');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('30');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
										<div class="cl">
						<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-300x300.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
						<div class="description grid-on list-on normal-on">
	Just when you thought iMac had everything, now there´s even more. More powerful Intel Core 2 Duo ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('41', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('41');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('41');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
										<div class="cl">
						<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
										<div class="cl">
						<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-300x300.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
						<div class="description grid-on list-on normal-on">
	
		Video in your pocket.
	
		Its the small iPod with one very big idea: video. The worlds most..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('36', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('36');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('36');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
										<div class="cl">
						<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-300x300.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-off">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h4>
						<div class="description grid-on list-on normal-on">
	Born to be worn.
	
		Clip on the worlds most wearable music player and take up to 240 songs wit..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('34', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('34');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('34');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>					</div>
									</div>
								<script>
				jQuery(document).ready(function($) {
					equalH('#rgen-productgroups-rgenHuWj5c #grid-rgen-productgroups-rgenHuWj5c_0', '#rgen-productgroups-rgenHuWj5c #grid-rgen-productgroups-rgenHuWj5c_0 > .cl');
				});
				</script>
								
							</div>
		</div>
			</div>

	
</div>
</div>
							</div>
													</div>
										<script>
					$("#rgen-gridmanager-rgenem6GLA").css({opacity: 0});
					jQuery(document).ready(function($) {
						$("#rgen-gridmanager-rgenem6GLA").animate({opacity: 1}, 1000, function () {
							equalH('#rgen-gridmanager-rgenem6GLA .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenem6GLA .gridmanager-mod-content > .rw > .cl');
						});
					});
					jQuery(window).resize(function($) {
						equalH('#rgen-gridmanager-rgenem6GLA .gridmanager-mod-content > .rw', '#rgen-gridmanager-rgenem6GLA .gridmanager-mod-content > .rw > .cl');
					});
					</script>
					
				</div>
			</div>
					</div>

		
	</div>
</div>
