<div id="rgen-contentblocks-rgenwDrLsA" class="rgen-contentblocks contentblocks-rgIBj">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq3 d-eq3 t-eq3 mxl-eq3 msm-eq1 mxs-eq1 gt50 mb0">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 14px;background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-size: 40px; text-align: left; border: 0px; border-style: solid;border-color: #eeeeee;border-radius: 0px;margin-top: 0px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; width:45px;height:40px;"><i class="fa fa-heart-o"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Premium OpenCart Theme									</h3>
						
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 14px;background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-size: 40px; text-align: left; border: 0px; border-style: solid;border-color: #eeeeee;border-radius: 0px;margin-top: 0px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; width:45px;height:40px;"><i class="fa fa-edit"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Highly Customizable									</h3>
						
						<div class="text">Donec porta dapibus lectus, id blandit felis hendrerit sit amet. Pellentesque vitae erat ex. Ut diam neque, porttitor id malesuada id, dapibus at risus</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 14px;background-color: rgba(0, 0, 0, 0); color: rgb(255, 255, 255); font-size: 40px; text-align: left; border: 0px; border-style: solid;border-color: #eeeeee;border-radius: 0px;margin-top: 0px; margin-right: 0px; margin-bottom: 20px; margin-left: 0px; width:45px;height:40px;"><i class="fa fa-laptop"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Fully Responsive									</h3>
						
						<div class="text">Nulla lobortis rutrum tempus. Nam pellentesque finibus hendrerit. Cras venenatis congue est vel consequat. Phasellus volutpat sollicitudin duieerts</div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenwDrLsA .contentblock-grid', '#rgen-contentblocks-rgenwDrLsA .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

