<div id="rgen-contentblocks-rgenpYnoIz" class="rgen-contentblocks contentblocks-rgx0N">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl6 d-xl6 t-xl6 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq4 d-eq4 t-eq4 mxl-eq2 msm-eq2 mxs-eq1 gt10 mb10">
																	</div>
																
								
							</div>
														<div class="cl cl6 d-xl6 t-xl6 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Manage custom content with advanced content blocks module							</h3>
				
				
		<div class="text-wrp">
						
						<div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</div>
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					View details				</a>
			</div>
					
	</div>
</section>									</div>
																	</div>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

