<div id="rgen-contentblocks-rgenrB4oWn" class="rgen-contentblocks contentblocks-rgNlJ">
	<div class="mod-wrp container">
		
						<h3 class="mod-hd">Find Something for Everyone</h3>
				
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt10 mb10">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq6 d-eq6 t-eq6 mxl-eq3 msm-eq3 mxs-eq2 gt1 mb10">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img1-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Dress									</h3>
						
						<div class="text">Extra 10% Off</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img2-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Outerwear									</h3>
						
						<div class="text">New and 40% Off</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img3-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Sportswear									</h3>
						
						<div class="text">New collection</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img4-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Casual Shirts									</h3>
						
						<div class="text">Save Up to 10%</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img5-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Tops & Tees									</h3>
						
						<div class="text">New</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img6-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Denim									</h3>
						
						<div class="text">For girls</div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenrB4oWn .contentblock-grid', '#rgen-contentblocks-rgenrB4oWn .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq6 d-eq6 t-eq6 mxl-eq3 msm-eq3 mxs-eq2 gt1 mb10">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img7-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Digital SLR									</h3>
						
						<div class="text">Save up to 25%</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img8-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Compact System									</h3>
						
						<div class="text">Save up to 20%</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img9-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Lenses									</h3>
						
						<div class="text">Special offers</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img10-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Pillow Ranges									</h3>
						
						<div class="text">New</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img11-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Furniture									</h3>
						
						<div class="text">New</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/banners/other-banners/img12-250x250.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Denim									</h3>
						
						<div class="text">For boys</div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenrB4oWn .contentblock-grid', '#rgen-contentblocks-rgenrB4oWn .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

