<div id="rgen-contentblocks-rgenpMihP6" class="rgen-contentblocks contentblocks-rgdZ4">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb4">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb10">
																		<div class="cl">
										
<section class="ctn-block ctn-block-small2 l"
					onclick="location.href='';"
			>
	<div class="ctn-inner-wrp">
		
									
								<a href="" class="img-wrp" style="max-width:50px; ">
								<figure class="icon vm" style="font-size: 26px;background-color: rgb(193, 170, 143); color: rgb(255, 255, 255); font-size: 22px; text-align: center; width:50px;height:50px;"><i class="fa fa-truck"></i></figure>
				</a>
					
		<div class="text-wrp" style="margin-left:65px;">
							<h3 class="name">
										<a href="">
										Easy return policy					</a>				</h3>
			
						<div class="text">Lorem ipsum dolor sit amet, consectetur</div>
			
					</div>

	</div>
</section>									</div>
									<div class="cl">
										
<section class="ctn-block ctn-block-small2 l"
					onclick="location.href='';"
			>
	<div class="ctn-inner-wrp">
		
									
								<a href="" class="img-wrp" style="max-width:50px; ">
								<figure class="icon vm" style="font-size: 26px;background-color: rgb(193, 170, 143); color: rgb(255, 255, 255); font-size: 22px; text-align: center; width:50px;height:50px;"><i class="glyphicon glyphicon-globe"></i></figure>
				</a>
					
		<div class="text-wrp" style="margin-left:65px;">
							<h3 class="name">
										<a href="">
										Global delivery					</a>				</h3>
			
						<div class="text">Lorem ipsum dolor sit amet, consectetur</div>
			
					</div>

	</div>
</section>									</div>
									<div class="cl">
										
<section class="ctn-block ctn-block-small2 l"
					onclick="location.href='';"
			>
	<div class="ctn-inner-wrp">
		
									
								<a href="" class="img-wrp" style="max-width:50px; ">
								<figure class="icon vm" style="font-size: 26px;background-color: rgb(193, 170, 143); color: rgb(255, 255, 255); font-size: 22px; text-align: center; width:50px;height:50px;"><i class="fa fa-clock-o"></i></figure>
				</a>
					
		<div class="text-wrp" style="margin-left:65px;">
							<h3 class="name">
										<a href="">
										Next day delivery					</a>				</h3>
			
						<div class="text">Lorem ipsum dolor sit amet, consectetur</div>
			
					</div>

	</div>
</section>									</div>
									<div class="cl">
										
<section class="ctn-block ctn-block-small2 l"
					onclick="location.href='';"
			>
	<div class="ctn-inner-wrp">
		
									
								<a href="" class="img-wrp" style="max-width:50px; ">
								<figure class="icon vm" style="font-size: 26px;background-color: rgb(193, 170, 143); color: rgb(255, 255, 255); font-size: 22px; text-align: center; width:50px;height:50px;"><i class="fa fa-ticket"></i></figure>
				</a>
					
		<div class="text-wrp" style="margin-left:65px;">
							<h3 class="name">
										<a href="">
										Earn reward points					</a>				</h3>
			
						<div class="text">Lorem ipsum dolor sit amet, consectetur</div>
			
					</div>

	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenpMihP6 .contentblock-grid', '#rgen-contentblocks-rgenpMihP6 .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

