<div id="rgen-contentblocks-rgeninFLTv" class="rgen-contentblocks contentblocks-rgGTy">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0">
																		<div class="cl">
										<section class="ctn-block ctn-block2 "
	>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Custom block							</h3>
				
									
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/info-img2-250x150.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				</a>
							
		<div class="text-wrp">
						
						<div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" class="default-btn">
					Purchase				</a>
			</div>
					
	</div>
</section>									</div>
																	</div>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

