<div id="rgen-contentblocks-rgenCv01ij" class="rgen-contentblocks contentblocks-rgtZs">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt10 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq4 d-eq4 t-eq4 mxl-eq2 msm-eq2 mxs-eq1 gt1 mb1">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								FREE Standard delivery<br>on order over $50*							</h3>
				
				
		<div class="text-wrp">
						
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Limited time !<br>20% OFF any single item*							</h3>
				
				
		<div class="text-wrp">
						
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Online clearance<br>up to 60% OFF - 100+ options							</h3>
				
				
		<div class="text-wrp">
						
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Risk free shopping <br>Easy return policy							</h3>
				
				
		<div class="text-wrp">
						
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenCv01ij .contentblock-grid', '#rgen-contentblocks-rgenCv01ij .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

