<div id="rgen-contentblocks-rgenvX7Lii" class="rgen-contentblocks contentblocks-rgJt7">
	<div class="mod-wrp container">
		
						<h3 class="mod-hd">Product Categories</h3>
				
				<section class="mod-customhtml t-html">Lorem ipsum dolor sit amet consetetur sadipscing elitr
sed diam nonumy<br>
eirmod tempor invidunt ut labore et dolore magna aliquyam erat</section>	
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
								
																<div 
									class         ="widget-carousel ctrl-b" 
									data-stpd     ="1" 
									data-nav      ="true" 
									data-dots     ="false" 
									data-resitems ="4" 
									data-res      ="true" 
									data-margin   ="10">
																		<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/02-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Coats & Jackets									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/01-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Handbags									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/03-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Glassware									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/07-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Flowers & Plants									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/08-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Kitchen Accessories									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/13-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Watches									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/18-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Jackets									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/common_images/products/06-300x300.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Children's Shoes									</h3>
						
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					Shop now				</a>
			</div>
					
	</div>
</section>									</div>
																	</div>
								<script type="text/javascript" ><!--
								$("#rgen-contentblocks-rgenvX7Lii .widget-carousel").css({	opacity: 0 });
								$(document).ready(function() {
									var obj = "#rgen-contentblocks-rgenvX7Lii .widget-carousel";
									var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:3 },700: { items:3 },800: { items:4 },900: { items:4 },1000: { items:5 },1100: { items:5 }	};
									setTimeout(function () { widgetCarousel(obj, resObj); }, 100);
								});
								//--></script>
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

