<div id="rgen-contentblocks-rgenuSGp1U" class="rgen-contentblocks contentblocks-rgg2x">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
								
																<div 
									class         ="widget-carousel ctrl-b" 
									data-stpd     ="1" 
									data-nav      ="false" 
									data-dots     ="true" 
									data-resitems ="4" 
									data-res      ="true" 
									data-margin   ="0">
																		<div class="item">
										<section class="ctn-block ctn-block1 feedback-block"
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/other/feedback_1-100x100.jpg" alt="en - No data"></figure>
				
							
		<div class="text-wrp">
						
						<div class="text"><i class="fa fa-quote-left" style="color:#C1AA8F; font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>

Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br>
eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
Ut enim ad minim veniam exercitation

<i class="fa fa-quote-right" style="color:#C1AA8F; font-size: 24px; margin-left: 10px; vertical-align: middle;"></i>

<div class="mrb15 mrt15" style="color:#C1AA8F; font-size: 13px;">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>

<em style="font-size: 16px; display:inline-block:">
Consectetur Adipiscing
</em></div>
					</div>

		
	</div>
</section>									</div>
									<div class="item">
										<section class="ctn-block ctn-block1 feedback-block"
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo02_images/other/feedback_2-100x100.jpg" alt="en - No data"></figure>
				
							
		<div class="text-wrp">
						
						<div class="text"><i class="fa fa-quote-left" style="color:#C1AA8F; font-size: 24px; margin-right: 10px; vertical-align: middle;"></i>

Nulla lobortis rutrum tempus. Nam pellentesque finibus hendrerit<br>
Cras venenatis congue est vel consequat. Phasellus volutpat sollicitudin dui<br>
vitae lacinia lorem

<i class="fa fa-quote-right" style="color:#C1AA8F; font-size: 24px; margin-left: 10px; vertical-align: middle;"></i>

<div class="mrb15 mrt15" style="color:#C1AA8F; font-size: 13px;">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
</div>

<em style="font-size: 16px; display:inline-block:">
Phasellus volutpat
</em></div>
					</div>

		
	</div>
</section>									</div>
																	</div>
								<script type="text/javascript" ><!--
								$("#rgen-contentblocks-rgenuSGp1U .widget-carousel").css({	opacity: 0 });
								$(document).ready(function() {
									var obj = "#rgen-contentblocks-rgenuSGp1U .widget-carousel";
									var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:1 },600: { items:1 },700: { items:1 },800: { items:1 },900: { items:1 },1000: { items:1 },1100: { items:1 }	};
									setTimeout(function () { widgetCarousel(obj, resObj); }, 100);
								});
								//--></script>
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

