<div id="rgen-contentblocks-rgenChouRa" class="rgen-contentblocks contentblocks-rgpfQ">
	<div class="mod-wrp container">
		
						
				<section class="mod-customhtml t-html"><h2 style="font-size: 30px; font-weight: 400; margin-bottom: 5px; color: inherit">
Get Connected<br><span style="font-weight: 900;">Follow Us</span>
</h2>
<hr style="width: 100px; margin: 10px auto; border-top: 4px solid rgba(255,255,255,0.3);">
<p style="font-size: 20px; line-height:1.4;">Get connected with our social networks to stay updated.</p></section>	
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq6 d-eq6 t-eq6 mxl-eq3 msm-eq3 mxs-eq2 gt30 mb10">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-facebook"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										FACEBOOK									</h3>
						
						<div class="text">Be our friends</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-twitter"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										TWITTER									</h3>
						
						<div class="text">Follow us</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-instagram"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										INSTAGRAM									</h3>
						
						<div class="text">See our picture</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-youtube"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Youtube									</h3>
						
						<div class="text">Watch our video</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-google-plus"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										GOOGLE+									</h3>
						
						<div class="text">Join our circle</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
					onclick="window.open('','mywindow');" style="cursor: pointer;"
			>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 35px;"><i class="fa fa-vimeo-square"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										VIMEO									</h3>
						
						<div class="text">Our new vidoes</div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenChouRa .contentblock-grid', '#rgen-contentblocks-rgenChouRa .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

