<div id="rgen-contentblocks-rgentto9bL" class="rgen-contentblocks contentblocks-rgQAw">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb20">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

					<h3 class="name">
								Flexibility of custom content<span style="display: block; font-size: 35px; text-transform: none;">with content block module</span>							</h3>
				
				
		<div class="text-wrp">
						
						<div class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr<br>
sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
At vero eos et accusam et justo duo dolores et ea rebum.</div>
					</div>

								<div class="btn-wrp">
				<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
					View details				</a>
			</div>
					
	</div>
</section>									</div>
																	</div>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

