<div id="rgen-contentblocks-rgenSuVceg" class="rgen-contentblocks contentblocks-rgaVf">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt30 mb0">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/banners/other-banners/info-img1-280x400.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Lorem ipsum dolor sit amet									</h3>
						
						<div class="text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat

<br><br>
<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" style="font-weight: bold;">Shop Weather Proof   <i class="fa fa-caret-right"></i></a>
<br>
<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" style="font-weight: bold;">Shop Jackets   <i class="fa fa-caret-right"></i></a></div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo04_images/banners/other-banners/info-img2-280x400.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Reprehenderit Involuptate									</h3>
						
						<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 

<br><br>
<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" style="font-weight: bold;">Shop Tops & Tees   <i class="fa fa-caret-right"></i></a>
<br>
<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" style="font-weight: bold;">Shop Dress   <i class="fa fa-caret-right"></i></a></div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgenSuVceg .contentblock-grid', '#rgen-contentblocks-rgenSuVceg .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

