<div id="rgen-contentblocks-rgengVmdxi" class="rgen-contentblocks contentblocks-rgQtX">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 ">

																								
																<div class="contentblock-grid rw eq4 d-eq4 t-eq4 mxl-eq2 msm-eq1 mxs-eq1 gt20 mb10">
																		<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 60px;"><i class="glyphicon glyphicon-globe"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										International delivery									</h3>
						
						<div class="text">Over 20 Countries</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 60px;"><i class="glyphicon glyphicon-briefcase"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Click & Collect									</h3>
						
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 60px;"><i class="fa fa-truck"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Free standard delivery									</h3>
						
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>

		
	</div>
</section>									</div>
									<div class="cl">
										<section class="ctn-block ctn-block1 "
	>
	<div class="ctn-inner-wrp">

				
									
								<figure class="icon vm" style="font-size: 70px;"><i class="fa fa-lock"></i></figure>
				
							
		<div class="text-wrp">
							<h3 class="name">
										Secure payment									</h3>
						
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>

		
	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgengVmdxi .contentblock-grid', '#rgen-contentblocks-rgengVmdxi .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

