<div id="rgen-contentblocks-rgendZ1iUx" class="rgen-contentblocks contentblocks-rgjTM">
	<div class="mod-wrp container">
		
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12 reset-h custom-infoboxes">

																								
																<div class="contentblock-grid rw eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0">
																		<div class="cl">
										
<section class="ctn-block ctn-block-small2 l"
	>
	<div class="ctn-inner-wrp">
		
									
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="img-wrp" style="max-width:585px; ">
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/other/img1-585x310.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				</a>
					
		<div class="text-wrp" style="margin-left:586px;">
							<h3 class="name">
										Lorem ipsum dolor sit amet consetetur sadipscing									</h3>
			
						<div class="text">Lorem ipsum dolor sit ametconsetetur sadipscing sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
			
											<div class="btn-wrp">
					<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
						View details					</a>
				</div>
									</div>

	</div>
</section>									</div>
									<div class="cl">
										
<section class="ctn-block ctn-block-small2 r"
	>
	<div class="ctn-inner-wrp">
		
									
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="img-wrp" style="max-width:585px; ">
								<figure class="image"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo06_images/other/img2-585x310.jpg" alt="R.Gen - OpenCart Modern Store Design"></figure>
				</a>
					
		<div class="text-wrp" style="margin-right:586px; margin-left: auto;">
							<h3 class="name">
										Ametconsetetur sadipscing sed diam nonumy eirmod									</h3>
			
						<div class="text">Lorem ipsum dolor sit ametconsetetur sadipscing sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</div>
			
											<div class="btn-wrp">
					<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="default-btn">
						View details					</a>
				</div>
									</div>

	</div>
</section>									</div>
																	</div>
																<script>
								jQuery(document).ready(function($) {
									equalH('#rgen-contentblocks-rgendZ1iUx .contentblock-grid', '#rgen-contentblocks-rgendZ1iUx .contentblock-grid > .cl');
								});
								</script>
																
								
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

