<div id="rgen-deals-rgen8mFF9Z" class="rgen-deals deals-rgzf2">
	<div class="mod-wrp container">
						
				
		<div class="rw gt0">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								
																
								
																<div 
									class         ="widget-carousel ctrl-b" 
									id            ="dealshowcase-carousel-0"
									data-stpd     ="1" 
									data-nav      ="true" 
									data-dots     ="false" 
									data-resitems ="4" 
									data-res      ="true" 
									data-margin   ="10">
																																																		<div class="item">
												<div class="deals-box deals-box1 t t" id="prd-rgenntgtxj">
	<div class="cl img-wrp" style="background-image: url(http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-600x600.jpg);">
		<ul>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-100x100.jpg" alt="Apple Cinema 30"" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/canon_logo-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/canon_logo-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_logo-100x100.jpg" alt="Apple Cinema 30"" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-100x100.jpg" alt="Apple Cinema 30"" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/compaq_presario-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/compaq_presario-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/compaq_presario-100x100.jpg" alt="Apple Cinema 30"" class="img-responsive"></a></li>
			</ul>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/spacer-600x600.png" alt="Apple Cinema 30"" class="img-responsive"></a>
</div><div class="cl info-wrp">
	<div class="name">
		<h2 class="h2"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30"</a></h2>
						<p class="prd-cats">
			Category : 						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a> 
						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28">Monitors</a> 
					</p>
			</div>
	
		<div class="price-wrp">
					<div class="price">
								<span class="price-old">Rp 100</span>
				<span class="price-new price-spl">Rp 90</span>
							</div>

						<span class="discount-tag">10%</span>
					
			</div>
	
				
		<div class="description">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed specifically for the creative professional, this display provides more space for easier access to all the tools and palettes needed to edit, format and compos..</div>
			
			<div class="btn-wrp">
				<a class="btn default-btn" title="Add to Cart" onclick="cart.add('42', '1');">Add to Cart</a>
				
				<div class="links">
						<a title="Add to wish list" onclick="wishlist.add('42');">Add to wish list</a>	
						
						<a title="Add to Compare" onclick="compare.add('42');">Add to Compare</a>
					</div>
			</div>
	
</div>
</div>
<script>
var obj = { 
	source: "#prd-rgenntgtxj .thimg", 
	target: "#prd-rgenntgtxj .img-wrp", 
	exit_wrp: "#prd-rgenntgtxj .img-wrp ul", 
	exit_data: "li:first .thimg" 
}
thgallery_fn(obj);

</script>
											</div>
																																																			<div class="item">
												<div class="deals-box deals-box1 t t" id="prd-rgenz20aEp">
	<div class="cl img-wrp" style="background-image: url(http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-600x600.jpg);">
		<ul>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-100x100.jpg" alt="Canon EOS 5D" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_2-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_2-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_2-100x100.jpg" alt="Canon EOS 5D" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_3-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_3-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_3-100x100.jpg" alt="Canon EOS 5D" class="img-responsive"></a></li>
			</ul>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/spacer-600x600.png" alt="Canon EOS 5D" class="img-responsive"></a>
</div><div class="cl info-wrp">
	<div class="name">
		<h2 class="h2"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h2>
						<p class="prd-cats">
			Category : 						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a> 
						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=33">Cameras</a> 
					</p>
			</div>
	
		<div class="price-wrp">
					<div class="price">
								<span class="price-old">Rp 100</span>
				<span class="price-new price-spl">Rp 80</span>
							</div>

						<span class="discount-tag">20%</span>
					
			</div>
	
				
		<div class="description">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we're not typically too concerned with marketing talk this particular statement is clearly pretty accurate. The EOS 5D is unlike any previous digital SLR in tha..</div>
			
			<div class="btn-wrp">
				<a class="btn default-btn" title="Add to Cart" onclick="cart.add('30', '1');">Add to Cart</a>
				
				<div class="links">
						<a title="Add to wish list" onclick="wishlist.add('30');">Add to wish list</a>	
						
						<a title="Add to Compare" onclick="compare.add('30');">Add to Compare</a>
					</div>
			</div>
	
</div>
</div>
<script>
var obj = { 
	source: "#prd-rgenz20aEp .thimg", 
	target: "#prd-rgenz20aEp .img-wrp", 
	exit_wrp: "#prd-rgenz20aEp .img-wrp ul", 
	exit_data: "li:first .thimg" 
}
thgallery_fn(obj);

</script>
											</div>
																																																			<div class="item">
												<div class="deals-box deals-box1 t t" id="prd-rgen7tDMJd">
	<div class="cl img-wrp" style="background-image: url(http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-600x600.jpg);">
		<ul>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-100x100.jpg" alt="iPhone" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/iphone_6-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/iphone_6-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_6-100x100.jpg" alt="iPhone" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/iphone_2-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/iphone_2-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_2-100x100.jpg" alt="iPhone" class="img-responsive"></a></li>
				<li><a class="thimg" data-main="http://localhost/hijab.com/image/cache/catalog/demo/iphone_5-600x600.jpg" data-th="http://localhost/hijab.com/image/cache/catalog/demo/iphone_5-100x100.jpg"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_5-100x100.jpg" alt="iPhone" class="img-responsive"></a></li>
			</ul>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/spacer-600x600.png" alt="iPhone" class="img-responsive"></a>
</div><div class="cl info-wrp">
	<div class="name">
		<h2 class="h2"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h2>
						<p class="prd-cats">
			Category : 						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a> 
						<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=24">Phones &amp; PDAs</a> 
					</p>
			</div>
	
		<div class="price-wrp">
					<div class="price">
								<span class="price-new">Rp 101</span>
							</div>

					
			</div>
	
				
		<div class="description">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a name or number in your address book, a favorites list, or a call log. It also automatically syncs all your contacts from a PC, Mac, or Internet service. And it..</div>
			
			<div class="btn-wrp">
				<a class="btn default-btn" title="Add to Cart" onclick="cart.add('40', '1');">Add to Cart</a>
				
				<div class="links">
						<a title="Add to wish list" onclick="wishlist.add('40');">Add to wish list</a>	
						
						<a title="Add to Compare" onclick="compare.add('40');">Add to Compare</a>
					</div>
			</div>
	
</div>
</div>
<script>
var obj = { 
	source: "#prd-rgen7tDMJd .thimg", 
	target: "#prd-rgen7tDMJd .img-wrp", 
	exit_wrp: "#prd-rgen7tDMJd .img-wrp ul", 
	exit_data: "li:first .thimg" 
}
thgallery_fn(obj);

</script>
											</div>
																											</div>
								<script type="text/javascript" ><!--
								$("#rgen-deals-rgen8mFF9Z #dealshowcase-carousel-0").css({	opacity: 0 });
								$(document).ready(function() {
									var obj = "#rgen-deals-rgen8mFF9Z #dealshowcase-carousel-0";
									var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:1 },600: { items:1 },700: { items:1 },800: { items:1 },900: { items:1 },1000: { items:1 },1100: { items:1 }	};
									var settings = {
										autoplay           : true,
										autoplayTimeout    : 3000,
										autoplayHoverPause : true,
										loop               : true,
										autoHeight         : false
									}
									setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
								});
								//--></script>
								
								

																
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

