<section class="rgen-panel">
	<h2 class="hd">General settings</h2>
	<div class="panel-container">
		<div class="rgen-form-wrp form-full">
			<rgen-radio radiodata="topbar_styles" helpimg="imgPath+'headers.jpg'" label="Topbar styles" data-ng-model="themeData.style"></rgen-radio>
			<rgen-radio radiodata="topbar_width" label="Topbar layout" data-ng-model="themeData.layout"></rgen-radio>
			<rgen-onoff label="Auto complete search" data-ng-model="themeData.autosearch"></rgen-onoff>
		</div>
	</div>
</section>