<nav id="gridmanager" data-w=" bx" class="rg-nav-wrp menu-left menu-rglsP v-menu">
	<div class="rg-nav-handle"><i class="fa fa-bars"></i></div>
	<ul class="rg-nav">
				<li class="">
						<a class="main-item" href="index.php?route=product/category&path=20">		<i class="ico fa fa-desktop" style="font-size: 14px;"></i>	
	
Desktop			</a>	
						<div class="sub sub-size8">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl4 d-xl4 t-xl4 m-xl4 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a>
			</li>
	</ul>
						</div>
												<div class="cl4 d-xl4 t-xl4 m-xl4 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a>
		<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_35">test 1</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_36">test 2</a></li></ul>	</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a>
			</li>
	</ul>
						</div>
												<div class="cl4 d-xl4 t-xl6 m-xl6 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a>
			</li>
	</ul>
						</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico glyphicon glyphicon-tag" style="font-size: 14px;"></i>	
	
Flat 20% discount			</a>	
			
		</li>
				<li class="">
						<span class="main-item">		<i class="ico fa fa-thumbs-up" style="font-size: 16px;"></i>	
	
New categories			</span>
						<div class="sub sub-size3">
				<ul class="nav-fly">
												<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a><ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_35">test 1</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_36">test 2</a></li></ul></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks</a>
								<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a></li></ul>							</li>							<li>
								<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57">Tablets</a>
															</li>				</ul>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-star" style="font-size: 16px;"></i>	
	
Women special - 70% Off			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-bookmark" style="font-size: 16px;"></i>	
	
Men special - 50% OFF			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-bomb" style="font-size: 16px;"></i>	
	
Get extra 15% OFF			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-suitcase" style="font-size: 16px;"></i>	
	
Get holiday ready			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-heart" style="font-size: 16px;"></i>	
	
New-In clothing			</a>	
			
		</li>
			</ul>
</nav>
<script>
jQuery(document).ready(function($) {
	$('#gridmanager').rgenmenu();
});
</script>
