<nav id="set_rgYIy" data-w=" bx" class="rg-nav-wrp menu-left menu-rgehL v-menu">
	<div class="rg-nav-handle"><i class="fa fa-bars"></i></div>
	<ul class="rg-nav">
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
<img src="image/catalog/rgen/demo07_images/banners/other-banners/r.gen-opencart-modern-store-design.jpg" alt="R.Gen - OpenCart Modern Store Design"><br>Premium OpenCart Store Theme			</a>	
						<div class="sub sub-size7">
				<div class="nav-mega">
					
										<div class="rw gt0 mb0">

												<div class="cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12" style="">

																	<div 
	class="menu-infobox-block menu-infobox1 mrb0" 
	style="text-align:left;">
	
		
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/rgen_preview-590x300.jpg" alt="en - No data" title="en - No data" class="img-responsive" />
	</a>
	
			<div class="text">A premium OpenCart theme with advanced admin modules that make OpenCart more powerful. Theme built with new R.Gen OpenCart framework it’s highly customizable, easy to use and fully responsive to fit in every screen. It is most customizable theme ever from admin no coding knowledge require.</div>
		
			<div class="btn-wrp">
		<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'class="btn-mini default-btn">Purchase</a>	
	</div>
			
</div>																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
Latest Trends			</a>	
						<div class="sub sub-size8">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl4 d-xl4 t-xl6 m-xl6 m-sm12 m-xs12" style="">

																	<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_01-300x400.jpg" alt="Lorem ipsum dolor sitamet" title="Lorem ipsum dolor sitamet" class="img-responsive" />
				<span class="name"><b>Lorem ipsum dolor sitamet</b></span>
			</a>
	</div>																				<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_02-300x400.jpg" alt="Consectetur adipiscing elit" title="Consectetur adipiscing elit" class="img-responsive" />
				<span class="name"><b>Consectetur adipiscing elit</b></span>
			</a>
	</div>																</div>
												<div class="cl4 d-xl4 t-xl6 m-xl6 m-sm12 m-xs12" style="">

																	<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_03-300x400.jpg" alt="Praesent condimentum ligula" title="Praesent condimentum ligula" class="img-responsive" />
				<span class="name"><b>Praesent condimentum ligula</b></span>
			</a>
	</div>																				<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_04-300x400.jpg" alt="Felis blandit eleifend" title="Felis blandit eleifend" class="img-responsive" />
				<span class="name"><b>Felis blandit eleifend</b></span>
			</a>
	</div>																</div>
												<div class="cl4 d-xl4 t-xl6 m-xl6 m-sm12 m-xs12" style="">

																	<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_05-300x400.jpg" alt="Aenean tempor lectus" title="Aenean tempor lectus" class="img-responsive" />
				<span class="name"><b>Aenean tempor lectus</b></span>
			</a>
	</div>																				<div class="bannerimg-block bannerimg-block3 mrb10">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/300x400_06-300x400.jpg" alt="Augue bibendum consequat" title="Augue bibendum consequat" class="img-responsive" />
				<span class="name"><b>Augue bibendum consequat</b></span>
			</a>
	</div>																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-tag" style="font-size: 20px;"></i>	
	
Fashion offers			</a>	
						<div class="sub sub-size10">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl8 d-xl8 t-xl8 m-xl12 m-sm12 m-xs12" style="">

																	<ul class="nav-prd rw  eq3 d-eq3 t-eq3 mxl-eq2 msm-eq2 mxs-eq1 gt10 mb10">
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-200x200.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('41');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-200x200.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
			<div class="price">
				<span class="price-new">Rp 101</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('40');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-200x200.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('48');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-200x200.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('36');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_touch_1-200x200.jpg" alt="iPod Touch" title="iPod Touch" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32">iPod Touch</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('32');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-200x200.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
			<div class="price">
				<span class="price-new">Rp 90</span>
		<span class="price-old">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('42');">Add to Cart</button>
</div>											</li>
																					</ul>		
																</div>
												<div class="cl4 d-xl4 t-xl4 m-xl12 m-sm12 m-xs12" style="">

																	<div class="bannerimg-block bannerimg-block1 mrb0">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/240x494-240x494.jpg" alt="R.Gen - OpenCart Modern Store Design" title="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
			</a>
	</div>																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
<img src="image/catalog/rgen/demo07_images/banners/other-banners/menu-text1.png" alt="R.Gen - OpenCart Modern Store Design">			</a>	
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
<img src="image/catalog/rgen/demo07_images/banners/other-banners/menu-img2.jpg" alt="R.Gen - OpenCart Modern Store Design">			</a>	
						<div class="sub sub-size6">
				<div class="nav-mega">
					
										<div class="rw gt30 mb10">

												<div class="cl6 d-xl6 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<ul class="nav-prd rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb10">
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-150x150.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('41');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('48');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-150x150.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('34');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('36');">Add to Cart</button>	
	</div>
	
</div>											</li>
																					</ul>		
																</div>
												<div class="cl6 d-xl6 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<div class="bannerimg-block bannerimg-block4 mrb0">
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/206x339-206x339.jpg" alt="R.Gen - OpenCart Modern Store Design" title="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</a>	
	</div>																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">
<img src="image/catalog/rgen/demo07_images/banners/other-banners/menu-text2.png" alt="R.Gen - OpenCart Modern Store Design">			</a>	
			
		</li>
			</ul>
</nav>
<script>
jQuery(document).ready(function($) {
	$('#set_rgYIy').rgenmenu();
});
</script>
