<nav id="set_rgRiF" data-w=" fw" class="rg-nav-wrp menu-center menu-rgvP4">
	<div class="rg-nav-handle"><i class="fa fa-bars"></i></div>
	<ul class="rg-nav">
				<li class="">
						<span class="main-item">		<i class="ico glyphicon glyphicon-th-large" style="font-size: 14px;font-size: 16px; text-align: left; "></i>	
	
Shop by Category			</span>
						<div class="sub sub-size5">
				<div class="nav-mega">
					
										<div class="rw gt30 mb0">

												<div class="cl6 d-xl6 t-xl6 m-xl6 m-sm12 m-xs12" style="border-width: 0px 1px 0px 0px;border-style: solid;border-color: rgba(0, 0, 0, 0.06);border-radius: 0px;">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a>
			</li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops &amp; Notebooks</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a>
			</li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a>
		<ul class="nav-fly"><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_35">test 1</a></li><li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=28_36">test 2</a></li></ul>	</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a>
			</li>
	</ul>
						</div>
												<div class="cl6 d-xl6 t-xl6 m-xl6 m-sm12 m-xs12" style="">

							<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57">Tablets</a></li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=17">Software</a></li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=24">Phones &amp; PDAs</a></li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=33">Cameras</a></li>
	</ul>
<ul class="mg-items cat-block1">
	<li class="hd"><a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34">MP3 Players</a></li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_43">test 11</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_44">test 12</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_47">test 15</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_48">test 16</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_49">test 17</a>
			</li>
		<li>
		<a class="sub-item" href="http://localhost/hijab.com/index.php?route=product/category&amp;path=34_50">test 18</a>
			</li>
	</ul>
						</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="//rgenmodernstore.rgenesis.com/01/index.php?route=product/manufacturer">
Shop by brands			</a>	
						<div class="sub sub-size6">
				<div class="nav-mega">
					
										<div class="rw gt30 mb0">

												<div class="cl6 d-xl6 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<ul class="nav-brands rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq2 gt10 mb10">
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=8">
		<img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_logo-300x300.jpg" alt="Apple" title="Apple" class="img-responsive" /><span><b>Apple</b></span>
	</a>
</div>											</li>
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=9">
		<img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_logo-300x300.jpg" alt="Canon" title="Canon" class="img-responsive" /><span><b>Canon</b></span>
	</a>
</div>											</li>
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=7">
		<img src="http://localhost/hijab.com/image/cache/no_image-300x300.jpg" alt="Hewlett-Packard" title="Hewlett-Packard" class="img-responsive" /><span><b>Hewlett-Packard</b></span>
	</a>
</div>											</li>
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=5">
		<img src="http://localhost/hijab.com/image/cache/no_image-300x300.jpg" alt="HTC" title="HTC" class="img-responsive" /><span><b>HTC</b></span>
	</a>
</div>											</li>
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=6">
		<img src="http://localhost/hijab.com/image/cache/catalog/demo/palm_logo-300x300.jpg" alt="Palm" title="Palm" class="img-responsive" /><span><b>Palm</b></span>
	</a>
</div>											</li>
																						<li class="cl">
												<div class="brand-block brand-block2">
	<a href="http://localhost/hijab.com/index.php?route=product/manufacturer/info&amp;manufacturer_id=10">
		<img src="http://localhost/hijab.com/image/cache/catalog/demo/sony_logo-300x300.jpg" alt="Sony" title="Sony" class="img-responsive" /><span><b>Sony</b></span>
	</a>
</div>											</li>
																					</ul>		
																</div>
												<div class="cl6 d-xl6 t-xl6 m-xl6 m-sm12 m-xs12" style="">

																	<ul class="nav-prd rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb10">
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-150x150.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('41');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('36');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-150x150.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="price">
						<span class="price-new">Rp 90</span>
			<span class="price-old">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('42');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-150x150.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
						<div class="price">
						<span class="price-new">Rp 101</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('40');">Add to Cart</button>	
	</div>
	
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block2">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>	
	</div>
	<div class="info-wrp">
		<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="price">
						<span class="price-new">Rp 100</span>
					</div>
				<button type="button" class="btn btn-default btn-cart" onclick="cart.add('48');">Add to Cart</button>	
	</div>
	
</div>											</li>
																					</ul>		
																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<span class="main-item">		<i class="ico glyphicon glyphicon-fire" style="font-size: 14px;font-size: 16px; text-align: left; "></i>	
	
Top items			</span>
						<div class="sub sub-size6">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12" style="">

																	<ul class="nav-prd rw  eq3 d-eq3 t-eq3 mxl-eq2 msm-eq2 mxs-eq1 gt10 mb10">
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-150x150.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('41');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-150x150.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
			<div class="price">
				<span class="price-new">Rp 101</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('40');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('36');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('48');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-150x150.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h4>
			<div class="price">
				<span class="price-new">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('34');">Add to Cart</button>
</div>											</li>
																						<li class="cl">
												<div class="sm-prd-block sm-prd-block1">
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-150x150.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>	
	</div>
	<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
			<div class="price">
				<span class="price-new">Rp 90</span>
		<span class="price-old">Rp 100</span>
			</div>
		<button type="button" class="btn btn-default btn-cart" onclick="cart.add('42');">Add to Cart</button>
</div>											</li>
																					</ul>		
																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="">
						<span class="main-item">
INFORMATION			</span>
						<div class="sub sub-size2">
				<ul class="nav-fly">
												<li>
								<a href="//rgenmodernstore.rgenesis.com/01/index.php?route=information/information&information_id=4">About Us</a>
															</li>							<li>
								<a href="//rgenmodernstore.rgenesis.com/01/index.php?route=information/information&information_id=6">Delivery Information</a>
															</li>							<li>
								<a href="//rgenmodernstore.rgenesis.com/01/index.php?route=information/information&information_id=3">Privacy Policy</a>
															</li>							<li>
								<a href="//rgenmodernstore.rgenesis.com/01/index.php?route=information/information&information_id=5">Terms & Conditions</a>
															</li>							<li>
								<a href="//rgenmodernstore.rgenesis.com/01/index.php?route=information/contact">Contact Us</a>
															</li>				</ul>
			</div>
			
		</li>
				<li class="">
						<a class="main-item" href="//themeforest.net/user/R_GENESIS/portfolio">
	<span 
		style="background-color: rgb(30, 25, 22);color: rgb(227, 222, 218);font-size: 12px;top: -25px;left: 4px;" 
		class="nav-lbl ">
		<i style="color: rgb(30, 25, 22);" class="fa fa-caret-down"></i>
		Envato Market	</span>
Our items			</a>	
						<div class="sub sub-size-full">
				<div class="nav-mega">
					
										<div class="rw gt20 mb0">

												<div class="cl3 d-xl3 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<div 
	class="menu-infobox-block menu-infobox3 mrb5" 
	style="text-align:left;">
	
		<a class="image" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/other/r.gen-opencart-modern-store-design-400x300.jpg" alt="R.Gen - OpenCart Modern Store Design" title="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
	</a>
	
		<h4 class="name">R.Gen - OpenCart Modern Store Design</h4>
		
			<div class="text">
		R.Gen - OpenCart Modern Store is a premium OpenCart theme with advanced admin module.	</div>
		
			<div class="btn-wrp">
		<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target='_blank'class="btn-mini default-btn">Purchase</a>	
	</div>
		</div>																</div>
												<div class="cl3 d-xl3 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<div 
	class="menu-infobox-block menu-infobox3 mrb5" 
	style="text-align:left;">
	
		<a class="image" href="http://graphicriver.net/item/classic-metal-badges/1130469?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/other/classic-metal-badges_01-400x300.jpg" alt="Classic Metal Badges" title="Classic Metal Badges" class="img-responsive" />
	</a>
	
		<h4 class="name">Classic Metal Badges</h4>
		
			<div class="text">
		A pack of 9 Classic metal badges perfect to use as logos, buttons or as promotion graphics for your website.	</div>
		
			<div class="btn-wrp">
		<a href="http://graphicriver.net/item/classic-metal-badges/1130469?ref=R_GENESIS" target='_blank'class="btn-mini default-btn">Purchase</a>	
	</div>
		</div>																</div>
												<div class="cl3 d-xl3 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<div 
	class="menu-infobox-block menu-infobox3 mrb5" 
	style="text-align:left;">
	
		<a class="image" href="http://graphicriver.net/item/royal-golden-badges/1468714?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/other/14-400x300.jpg" alt="Royal Golden Badges" title="Royal Golden Badges" class="img-responsive" />
	</a>
	
		<h4 class="name">Royal Golden Badges</h4>
		
			<div class="text">
		10 Royal Golden Badges are perfect to use as logos, buttons or as promotion graphics for your website or any other material.	</div>
		
			<div class="btn-wrp">
		<a href="http://graphicriver.net/item/royal-golden-badges/1468714?ref=R_GENESIS" target='_blank'class="btn-mini default-btn">Purchase</a>	
	</div>
		</div>																</div>
												<div class="cl3 d-xl3 t-xl6 m-xl12 m-sm12 m-xs12" style="">

																	<div 
	class="menu-infobox-block menu-infobox3 mrb5" 
	style="text-align:left;">
	
		<a class="image" href="http://themeforest.net/item/rgen-circle-creative-psd-template/2297212?ref=R_GENESIS" target='_blank'>
		<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo03_images/other/circle-theme-400x300.jpg" alt="R.Gen - Circle Creative PSD Template" title="R.Gen - Circle Creative PSD Template" class="img-responsive" />
	</a>
	
		<h4 class="name">R.Gen - Circle Creative PSD Template</h4>
		
			<div class="text">
		Unique design in circle style with blog pages. Item include 3 theme options to quickly use.	</div>
		
			<div class="btn-wrp">
		<a href="http://themeforest.net/item/rgen-circle-creative-psd-template/2297212?ref=R_GENESIS" target='_blank'class="btn-mini default-btn">Purchase</a>	
	</div>
		</div>																</div>
						
					</div>
										
				</div>
			</div>
			
		</li>
				<li class="theme-buy">
						<a class="main-item" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS">		<i class="ico fa fa-rocket" style="font-size: 14px;"></i>	
	
Purchase			</a>	
			
		</li>
			</ul>
</nav>
<script>
jQuery(document).ready(function($) {
	$('#set_rgRiF').rgenmenu();
});
</script>
