<h2 class="main-hd-dark">Grid manager</h2>
<div class="rgen-tab-panel-large rgen-tab-panel">
	<!-- Nav tabs -->
	<div class="nav-tabs-wrp">
		<ul class="nav nav-tabs">
			<li ui-sref-active="active"><a ui-sref=".assign">Assign</a></li>
			<li ui-sref-active="active"><a ui-sref=".manage">Manage</a></li>
			<li ui-sref-active="active"><a ui-sref=".customize">Customize</a></li>
		</ul>
	</div>
	<!-- Tab panes -->
	<div class="tab-content">
		<div ui-view></div>
	</div>
</div>

