<div id="rgen-productgroups-rgenY8zYnu" class="rgen-productgroups productgroups-rgZ0A">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
			<div class="mod-content">
				
				<div class="tab-container widget-tab widget-tab-1" data-widget="autoTab">
					<ul class="tab-panel ul-reset">
												<li class="tab-item">
							<a>New arrivals</a>
						</li>
												<li class="tab-item">
							<a>Special offers</a>
						</li>
												<li class="tab-item">
							<a>Desktop</a>
						</li>
												<li class="tab-item">
							<a>Featured</a>
						</li>
											</ul>			
					<div class="tab-pane-wrp">
												<div class="tab-pane">
														<div class="rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt20 mb20" id="grid-rgen-productgroups-rgenY8zYnu_0">
																								<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49"><img src="http://localhost/hijab.com/image/cache/catalog/demo/samsung_tab_1-300x300.jpg" alt="Samsung Galaxy Tab 10.1" title="Samsung Galaxy Tab 10.1" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 200</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 200</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49">Samsung Galaxy Tab 10.1</a></h4>
						<div class="description grid-on list-on normal-on">
	Samsung Galaxy Tab 10.1, is the world&rsquo;s thinnest tablet, measuring 8.6 mm thickness, runnin..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('49');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('49');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-300x300.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
						<div class="description grid-on list-on normal-on">
	Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('47');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('47');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46"><img src="http://localhost/hijab.com/image/cache/catalog/demo/sony_vaio_1-300x300.jpg" alt="Sony VAIO" title="Sony VAIO" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 1,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 1,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46">Sony VAIO</a></h4>
						<div class="description grid-on list-on normal-on">
	Unprecedented power. The next generation of processing technology has arrived. Built into the new..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('46', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('46');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('46');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_pro_1-300x300.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 2,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 2,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">MacBook Pro</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			Latest Intel mobile architecture
		
			Powered by the most advanced mobile processors ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('45', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('45');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('45');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_air_1-300x300.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 1,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 1,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h4>
						<div class="description grid-on list-on normal-on">
	MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don&rsquo;t lose..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('44', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('44');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('44');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script>
							jQuery(document).ready(function($) {
								equalH('#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_0', '#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_0 > .cl');
							});
							</script>
							
													</div>
												<div class="tab-pane">
														<div class="rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt20 mb20" id="grid-rgen-productgroups-rgenY8zYnu_1">
																								<div class="cl">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 80</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 80</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
						<div class="description grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('30', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('30');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('30');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script>
							jQuery(document).ready(function($) {
								equalH('#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_1', '#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_1 > .cl');
							});
							</script>
							
													</div>
												<div class="tab-pane">
														<div class="rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt20 mb20" id="grid-rgen-productgroups-rgenY8zYnu_2">
																								<div class="cl">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 80</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 80</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
						<div class="description grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('30', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('30');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('30');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-300x300.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
						<div class="description grid-on list-on normal-on">
	Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('47');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('47');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-300x300.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
						<div class="description grid-on list-on normal-on">
	HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high de..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('28', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('28');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('28');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-300x300.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 101</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 101</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
						<div class="description grid-on list-on normal-on">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('40', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('40');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('40');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script>
							jQuery(document).ready(function($) {
								equalH('#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_2', '#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_2 > .cl');
							});
							</script>
							
													</div>
												<div class="tab-pane">
														<div class="rw  eq2 d-eq2 t-eq2 mxl-eq2 msm-eq2 mxs-eq1 gt20 mb20" id="grid-rgen-productgroups-rgenY8zYnu_3">
																								<div class="cl">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-300x300.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
						<div class="description grid-on list-on normal-on">
	Just when you thought iMac had everything, now there´s even more. More powerful Intel Core 2 Duo ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('41', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('41');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('41');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-300x300.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 101</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 101</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
						<div class="description grid-on list-on normal-on">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('40', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('40');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('40');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-300x300.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
						<div class="description grid-on list-on normal-on">
	
		Video in your pocket.
	
		Its the small iPod with one very big idea: video. The worlds most..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('36', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('36');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('36');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="cl">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-300x300.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h4>
						<div class="description grid-on list-on normal-on">
	Born to be worn.
	
		Clip on the worlds most wearable music player and take up to 240 songs wit..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('34', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('34');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('34');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script>
							jQuery(document).ready(function($) {
								equalH('#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_3', '#rgen-productgroups-rgenY8zYnu #grid-rgen-productgroups-rgenY8zYnu_3 > .cl');
							});
							</script>
							
													</div>
											</div>
				</div>
				
			</div>
		</div>
			</div>

	
</div>
</div>
