<div id="rgen-productgroups-rgengzieo1" class="rgen-productgroups productgroups-rgkjt">
	<div class="mod-wrp">
	
			
		
	<div class="rw gt0">
				<div class="l-cl cl6 t-xl12">
						<section class="mod-customhtml l-html"><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/catalog/rgen/demo01_images/other/product-banner.png" alt="R.Gen OpenCart" style="margin: auto;" class="img-responsive"></a></section>	
					</div>
				
		<div class="m-cl cl6 t-xl12">
									<h3 class="sub-mod-hd">Special offers<br><span style="font-size: 15px; opacity: 0.5;   font-family: 'Lato', sans-serif;">New product groups module</span></h3>
						
			<div class="mod-content">
				
								<div 
					id            ="carousel-rgen-productgroups-rgengzieo1_0"
					class         ="widget-carousel ctrl-b" 
					data-stpd     ="1" 
					data-nav      ="true" 
					data-dots     ="false" 
					data-resitems ="2" 
					data-res      ="true"  
					data-margin   ="10">
															<div class="item">
						<div class="prd-block prd-block2">
	
	
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new price-spl">Rp 90</span>
		<span class="price-old">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('42');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new price-spl">Rp 80</span>
		<span class="price-old">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 80</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('30', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('30');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('30');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-300x300.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel ..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('47');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('47');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-300x300.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high de..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('28', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('28');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('28');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-300x300.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 101</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 101</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('40', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('40');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('40');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('48');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('48');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_1-300x300.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43">MacBook</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	
		Intel Core 2 Duo processor
	
		Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 500</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 500</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('43', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('43');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('43');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
					
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_air_1-300x300.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don&rsquo;t lose..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new">Rp 1,000</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 1,000</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('44', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('44');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('44');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
									</div>
				<script type="text/javascript" ><!--
				$("#rgen-productgroups-rgengzieo1 #carousel-rgen-productgroups-rgengzieo1_0").css({	opacity: 0 });
				$(document).ready(function() {
					var obj = "#rgen-productgroups-rgengzieo1 #carousel-rgen-productgroups-rgengzieo1_0";
					var resObj = { 0: { items:1 },200: { items:1 },300: { items:2 },400: { items:2 },500: { items:2 },600: { items:2 },700: { items:2 },800: { items:2 },900: { items:2 },1000: { items:2 },1100: { items:2 }	};
					var settings = { autoHeight: false }
					setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
				});
				//--></script>
							</div>
		</div>
			</div>

	
</div>
</div>
