<div id="rgen-productgroups-rgen5aUVIN" class="rgen-productgroups productgroups-rgkut">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd">HOT DEALS</h3>
						
			<div class="mod-content">
				
								<div 
					id            ="carousel-rgen-productgroups-rgen5aUVIN_0"
					class         ="widget-carousel ctrl-b" 
					data-stpd     ="1" 
					data-nav      ="true" 
					data-dots     ="false" 
					data-resitems ="4" 
					data-res      ="true"  
					data-margin   ="10">
															<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgenbj7d7b">
	
	
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
			<p class="info grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old">Rp 100</span>
				<span class="price-new price-spl">Rp 90</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('42', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('42');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
										<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgenoExuaO">
	
	
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
			<p class="info grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old">Rp 100</span>
				<span class="price-new price-spl">Rp 80</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 80</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('30', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('30');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('30');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
										<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgenMHuWIM">
	
	
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-300x300.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
			<p class="info grid-on list-on normal-on">
	HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high de..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old" style="text-decoration: none;">&nbsp;</span>
				<span class="price-new">Rp 100</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('28', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('28');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('28');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
										<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgenYJFdJp">
	
	
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-300x300.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
			<p class="info grid-on list-on normal-on">
	Just when you thought iMac had everything, now there´s even more. More powerful Intel Core 2 Duo ..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old" style="text-decoration: none;">&nbsp;</span>
				<span class="price-new">Rp 100</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('41', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('41');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('41');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
										<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgentWkGvs">
	
	
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-300x300.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
			<p class="info grid-on list-on normal-on">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old" style="text-decoration: none;">&nbsp;</span>
				<span class="price-new">Rp 101</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 101</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('40', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('40');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('40');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
										<div class="item">
						<div class="prd-block prd-block3" id="prd-block3-rgenRNAIWs">
	
	
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-300x300.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
				<div class="countdown"></div>
			</div>
	<div class="info-wrp">
		<div class="info-content">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
			<p class="info grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</p>	
		</div>

		<div class="price-wrp">
						<div class="price grid-on list-on normal-on">
								<span class="price-old" style="text-decoration: none;">&nbsp;</span>
				<span class="price-new">Rp 100</span>
												<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
							</div>
								</div>

	</div>

	<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		<a class="btn btn-cart grid-on list-on normal-on" title="Add to Cart" onclick="cart.add('48', '1');">Add to Cart</a>
		
		<div class="other-btn-wrp">
			<a class="vm btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('48');"><i class="fa fa-heart"></i></a>

			<a class="vm btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('48');"><i class="fa fa-retweet"></i></a>	
		</div>
		
	</div>
</div>

					</div>
									</div>
				<script type="text/javascript" ><!--
				$("#rgen-productgroups-rgen5aUVIN #carousel-rgen-productgroups-rgen5aUVIN_0").css({	opacity: 0 });
				$(document).ready(function() {
					var obj = "#rgen-productgroups-rgen5aUVIN #carousel-rgen-productgroups-rgen5aUVIN_0";
					var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:2 },700: { items:2 },800: { items:2 },900: { items:2 },1000: { items:2 },1100: { items:2 }	};
					var settings = { autoHeight: false }
					setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
				});
				//--></script>
							</div>
		</div>
			</div>

	
</div>
</div>
