<div id="rgen-productgroups-rgenA2HB6O" class="rgen-productgroups productgroups-rg6gY">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd"><a href="index.php?route=product/category&path=18" target="_blank">Laptops & Notebooks </a></h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenA2HB6O_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-150x150.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_1-150x150.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43">MacBook</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 500</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_air_1-150x150.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 1,000</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_pro_1-150x150.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">MacBook Pro</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 2,000</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
