<div id="rgen-productgroups-rgenRDv5bv" class="rgen-productgroups productgroups-rgmRs">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
			<div class="mod-content">
				
				<div class="tab-container widget-tab widget-tab-1" data-widget="autoTab">
					<ul class="tab-panel ul-reset">
												<li class="tab-item">
							<a>New arrivals</a>
						</li>
												<li class="tab-item">
							<a>Featured</a>
						</li>
											</ul>			
					<div class="tab-pane-wrp">
												<div class="tab-pane">
							
														<div 
								id            ="carousel-rgen-productgroups-rgenRDv5bv_0"
								class         ="widget-carousel ctrl-b" 
								data-stpd     ="1" 
								data-nav      ="true" 
								data-dots     ="false" 
								data-resitems ="4" 
								data-res      ="true" 
								data-margin   ="5">
																								<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49"><img src="http://localhost/hijab.com/image/cache/catalog/demo/samsung_tab_1-250x250.jpg" alt="Samsung Galaxy Tab 10.1" title="Samsung Galaxy Tab 10.1" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 200</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 200</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49">Samsung Galaxy Tab 10.1</a></h4>
						<div class="description grid-on list-on normal-on">
	Samsung Galaxy Tab 10.1, is the world&rsquo;s thinnest tablet, measuring 8.6 mm thickness, runnin..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('49', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=49">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('49');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('49');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-250x250.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-250x250.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
						<div class="description grid-on list-on normal-on">
	Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('47');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('47');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46"><img src="http://localhost/hijab.com/image/cache/catalog/demo/sony_vaio_1-250x250.jpg" alt="Sony VAIO" title="Sony VAIO" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 1,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 1,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46">Sony VAIO</a></h4>
						<div class="description grid-on list-on normal-on">
	Unprecedented power. The next generation of processing technology has arrived. Built into the new..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('46', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=46">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('46');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('46');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_pro_1-250x250.jpg" alt="MacBook Pro" title="MacBook Pro" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 2,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 2,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">MacBook Pro</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			Latest Intel mobile architecture
		
			Powered by the most advanced mobile processors ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('45', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=45">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('45');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('45');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_air_1-250x250.jpg" alt="MacBook Air" title="MacBook Air" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 1,000</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 1,000</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">MacBook Air</a></h4>
						<div class="description grid-on list-on normal-on">
	MacBook Air is ultrathin, ultraportable, and ultra unlike anything else. But you don&rsquo;t lose..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('44', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=44">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('44');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('44');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43"><img src="http://localhost/hijab.com/image/cache/catalog/demo/macbook_1-250x250.jpg" alt="MacBook" title="MacBook" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 500</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 500</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43">MacBook</a></h4>
						<div class="description grid-on list-on normal-on">
	
		Intel Core 2 Duo processor
	
		Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('43', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=43">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('43');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('43');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-250x250.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script type="text/javascript" ><!--
							$("#rgen-productgroups-rgenRDv5bv .tab-container").on('click', '.tab-item a', function(event) {
								event.preventDefault();
								var obj = $(this).attr('href') + " .widget-carousel";
								var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:4 },1100: { items:4 }	};
								if (!$(obj).hasClass('owl-loaded')) { widgetCarousel(obj, resObj); };
							});
							$("#rgen-productgroups-rgenRDv5bv .tab-pane.active .widget-carousel").css({	opacity: 0 });
							$(document).ready(function() {
								var obj = "#rgen-productgroups-rgenRDv5bv .tab-pane.active .widget-carousel";
								var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:4 },1100: { items:4 }	};
								var settings = { autoHeight: false };
								setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
							});
							//--></script>
													</div>
												<div class="tab-pane">
							
														<div 
								id            ="carousel-rgen-productgroups-rgenRDv5bv_1"
								class         ="widget-carousel ctrl-b" 
								data-stpd     ="1" 
								data-nav      ="true" 
								data-dots     ="false" 
								data-resitems ="4" 
								data-res      ="true" 
								data-margin   ="5">
																								<div class="item">
									<div class="prd-block prd-block1">
	
		
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-250x250.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-old">Rp 100</span>
					<span class="price-new price-spl">Rp 90</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
						<div class="description grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('42');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('42');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41"><img src="http://localhost/hijab.com/image/cache/catalog/demo/imac_1-250x250.jpg" alt="iMac" title="iMac" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">iMac</a></h4>
						<div class="description grid-on list-on normal-on">
	Just when you thought iMac had everything, now there´s even more. More powerful Intel Core 2 Duo ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('41', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=41">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('41');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('41');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40"><img src="http://localhost/hijab.com/image/cache/catalog/demo/iphone_1-250x250.jpg" alt="iPhone" title="iPhone" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 101</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 101</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">iPhone</a></h4>
						<div class="description grid-on list-on normal-on">
	iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('40', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=40">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('40');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('40');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-250x250.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h4>
						<div class="description grid-on list-on normal-on">
	
		
			More room to move.
		
			With 80GB or 160GB of storage and up to 40 hours of battery l..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('48', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('48');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('48');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-250x250.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h4>
						<div class="description grid-on list-on normal-on">
	
		Video in your pocket.
	
		Its the small iPod with one very big idea: video. The worlds most..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('36', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('36');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('36');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_touch_1-250x250.jpg" alt="iPod Touch" title="iPod Touch" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32">iPod Touch</a></h4>
						<div class="description grid-on list-on normal-on">
	Revolutionary multi-touch interface.
	iPod touch features the same multi-touch screen technology..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('32', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('32');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('32');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_1-250x250.jpg" alt="HP LP3065" title="HP LP3065" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">HP LP3065</a></h4>
						<div class="description grid-on list-on normal-on">
	Stop your co-workers in their tracks with the stunning new 30-inch diagonal HP LP3065 Flat Panel ..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('47', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=47">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('47');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('47');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
																<div class="item">
									<div class="prd-block prd-block1">
	
		
					
	
	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28&urltype=quickview" data-toggle="tooltip" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28"><img src="http://localhost/hijab.com/image/cache/catalog/demo/htc_touch_hd_1-250x250.jpg" alt="HTC Touch HD" title="HTC Touch HD" class="img-responsive" /></a>
	</div>
	
	<div class="info-wrp">
				<div class="price-wrp">
			<p class="vm price grid-on list-on normal-on">
				<span class="vm-item">
										<span class="price-new">Rp 100</span>
															<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 100</span>
						
				</span>
			</p>
		</div>
		
		<div class="info">
			<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a></h4>
						<div class="description grid-on list-on normal-on">
	HTC Touch - in High Definition. Watch music videos and streaming content in awe-inspiring high de..</div>
			<div class="buy-option">
				<a class="vm btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('28', '1');"><i class="vm-item glyphicon glyphicon-shopping-cart"></i></a>
				<ul>
					<li><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=28">More info</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="wishlist.add('28');">Add to wish list</a></li>
					<li class=" grid-on list-on normal-on"><a onclick="compare.add('28');">Add to Compare</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>								</div>
															</div>
							<script type="text/javascript" ><!--
							$("#rgen-productgroups-rgenRDv5bv .tab-container").on('click', '.tab-item a', function(event) {
								event.preventDefault();
								var obj = $(this).attr('href') + " .widget-carousel";
								var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:4 },1100: { items:4 }	};
								if (!$(obj).hasClass('owl-loaded')) { widgetCarousel(obj, resObj); };
							});
							$("#rgen-productgroups-rgenRDv5bv .tab-pane.active .widget-carousel").css({	opacity: 0 });
							$(document).ready(function() {
								var obj = "#rgen-productgroups-rgenRDv5bv .tab-pane.active .widget-carousel";
								var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:2 },600: { items:3 },700: { items:3 },800: { items:3 },900: { items:3 },1000: { items:4 },1100: { items:4 }	};
								var settings = { autoHeight: false };
								setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
							});
							//--></script>
													</div>
											</div>
				</div>
				
			</div>
		</div>
			</div>

	
</div>
</div>
