<div id="rgen-productgroups-rgengUX1Dh" class="rgen-productgroups productgroups-rg90i">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									
			<div class="mod-content">
				
								<div 
					id            ="carousel-rgen-productgroups-rgengUX1Dh_0"
					class         ="widget-carousel ctrl-b" 
					data-stpd     ="1" 
					data-nav      ="false" 
					data-dots     ="true" 
					data-resitems ="4" 
					data-res      ="true"  
					data-margin   ="10">
															<div class="item">
						<div class="prd-block prd-block2">
	
	
				<span class="offer-tag-discount"><span>10%</span></span>
			
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42"><img src="http://localhost/hijab.com/image/cache/catalog/demo/apple_cinema_30-300x300.jpg" alt="Apple Cinema 30&quot;" title="Apple Cinema 30&quot;" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new price-spl">Rp 90</span>
		<span class="price-old">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 90</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('42', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('42');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('42');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=42'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
										<div class="item">
						<div class="prd-block prd-block2">
	
	
				<span class="offer-tag-discount"><span>20%</span></span>
			
	
	<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30&urltype=quickview" title="Quick view" class="quickview-link grid-on list-on normal-on"><i class="fa fa-eye"></i> Quick view</a>

	<div class="image">
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30"><img src="http://localhost/hijab.com/image/cache/catalog/demo/canon_eos_5d_1-300x300.jpg" alt="Canon EOS 5D" title="Canon EOS 5D" class="img-responsive" /></a>
		<div class="info-wrp">
			<div class="info-content">
				<h4 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a></h4>
				
								
				<p class="info grid-on list-on normal-on">
	Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>	
			</div>
			
		</div>
	</div>
		<div class="price grid-on list-on normal-on">
				<span class="price-new price-spl">Rp 80</span>
		<span class="price-old">Rp 100</span>
						<span class="price-tax grid-on list-on normal-on">Ex Tax: Rp 80</span>
			</div>
		<div class="btn-wrp grid-on list-on normal-on grid-on list-on normal-on grid-on list-on normal-on">
		
		<a class="btn btn-cart grid-on list-on normal-on" data-toggle="tooltip" title="Add to Cart" onclick="cart.add('30', '1');"><i class="glyphicon glyphicon-shopping-cart"></i></a>

		<a class="btn btn-wish grid-on list-on normal-on" data-toggle="tooltip" title="Add to wish list" onclick="wishlist.add('30');"><i class="fa fa-heart"></i></a>

		<a class="btn btn-compare grid-on list-on normal-on" data-toggle="tooltip" title="Add to Compare" onclick="compare.add('30');"><i class="fa fa-retweet"></i></a>
		
		<a class="btn btn-more grid-on list-on normal-on" data-toggle="tooltip" title="More info" onclick="location.href='http://localhost/hijab.com/index.php?route=product/product&amp;product_id=30'"><i class="fa fa-arrow-circle-o-right"></i></a>

	</div>
</div>					</div>
									</div>
				<script type="text/javascript" ><!--
				$("#rgen-productgroups-rgengUX1Dh #carousel-rgen-productgroups-rgengUX1Dh_0").css({	opacity: 0 });
				$(document).ready(function() {
					var obj = "#rgen-productgroups-rgengUX1Dh #carousel-rgen-productgroups-rgengUX1Dh_0";
					var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:2 },500: { items:2 },600: { items:2 },700: { items:2 },800: { items:2 },900: { items:2 },1000: { items:2 },1100: { items:2 }	};
					var settings = { autoHeight: false }
					setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
				});
				//--></script>
							</div>
		</div>
			</div>

	
</div>
</div>
