<div id="rgen-productgroups-rgenjWWuhF" class="rgen-productgroups productgroups-rgI0D">
	<div class="mod-wrp container">
	
			
		
	<div class="rw gt40">
				
		<div class="m-cl cl12 t-xl12">
									<h3 class="sub-mod-hd"><a href="index.php?route=product/category&path=34" target="_blank">MP3 Players</a></h3>
						
			<div class="mod-content">
								<div class="rw  eq1 d-eq1 t-eq1 mxl-eq1 msm-eq1 mxs-eq1 gt0 mb0" id="grid-rgen-productgroups-rgenjWWuhF_0">
															<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_classic_1-150x150.jpg" alt="iPod Classic" title="iPod Classic" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48">iPod Classic</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=48" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_nano_1-150x150.jpg" alt="iPod Nano" title="iPod Nano" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36">iPod Nano</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=36" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_shuffle_1-150x150.jpg" alt="iPod Shuffle" title="iPod Shuffle" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34">iPod Shuffle</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=34" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
										<div class="cl">
						<div class="small-prd-block small-prd-block1">
	
				
	<div class="image"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32"><img src="http://localhost/hijab.com/image/cache/catalog/demo/ipod_touch_1-150x150.jpg" alt="iPod Touch" title="iPod Touch" class="img-responsive" /></a></div>
	<div class="info">
		<h5 class="name"><a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32">iPod Touch</a></h5>
		
				<p class="price">
						<span class="price-new">Rp 100</span>
					</p>
				
		<a href="http://localhost/hijab.com/index.php?route=product/product&amp;product_id=32" class="more-btn"><i class="fa fa-arrow-circle-o-right"></i></a>
	</div>
</div>					</div>
									</div>
								
							</div>
		</div>
			</div>

	
</div>
</div>
