/* MegaMenu
------------------*/	

#menu {
	position: relative;
	overflow: visible;
}

	#menu .background-menu {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	
	#megaMenuToggle {
		display: none;
	}
	
	.container-megamenu, 
	.container-megamenu .container {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	
		.container-megamenu.container .container {
			width: auto !important;
		}
	
	.megamenu-wrapper {
		position: relative;
		z-index: 4;
		background-color:#51bc5c;
		
	
		
	}
	
		.container-megamenu.container .megamenu-wrapper {
			border-radius:         46px;
			-moz-border-radius:    46px;
			-webkit-border-radius: 46px;
		}
		
		.container-megamenu.container .megamenu-pattern {
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
		}
	
		ul.megamenu {
			margin: 0px;
			padding: 0px;
			list-style: none;
			position: relative;
			z-index: 0;
			opacity: 1;
		}
			
			ul.megamenu > li {
				float: left;
				width: auto;
				
			}
			
				ul.megamenu > li:first-child {
					background: none;
				}
				
				ul.megamenu > li.home + li {
					background: none;
				}
			
				ul.megamenu > li.pull-right {
					float: right;
				}
				
				ul.megamenu > li .close-menu,
				ul.megamenu > li .open-menu {
					display: none;
				}
				
				/* Search */
				
				ul.megamenu > li.search {
					background: none;
				}
				
					#top ul.megamenu > li.search .search_form, ul.megamenu > li.search .search_form {
						padding: 0px;
						margin: 8px;
					}
					
						#top ul.megamenu > li.search .search_form input, ul.megamenu > li.search .search_form input {
							height: 34px;
							min-height: 34px;
							border: none;
						}
						
						ul.megamenu > li.search .button-search2 {
							top: 6px;
							right: 8px;
						}
				
				.container-megamenu.container ul.megamenu > li:first-child > a {
					border-radius:         46px 0px 0px 46px;
					-moz-border-radius:    46px 0px 0px 46px;
					-webkit-border-radius: 46px 0px 0px 46px;
				}
				
				ul.megamenu > li > a {
					display: block;
position: relative;
color: #fff;
font-size: 14px;
padding: 11px 10px;
height: 50px;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
-o-transition: all 0.2s;
transition: all 0.2s;

margin-bottom: 0px;
				}
				
					ul.megamenu > li > a strong {
						font-weight: 400;
					}
					
					ul.megamenu > li.with-sub-menu > a:after {
						content: "\f107";
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 20px;
						margin: 5px 0px 0px 10px;
						vertical-align: top;
						display: inline-block;
						
					}
				
					ul.megamenu > li > a:hover, 
					ul.megamenu > li.active > a, 
					ul.megamenu > li.home > a, 
					ul.megamenu > li:hover > a {
						background: #dd1730;
color: #fff;
						/* background: -moz-linear-gradient(top, #0a4466 0%, #0a4466 50%, #0a4466 51%, #0a4466 100%); /* FF3.6+ */
						/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a4466), color-stop(50%,#0a4466), color-stop(51%,#0a4466), color-stop(100%,#0a4466)); /* Chrome,Safari4+ */
						/* background: -webkit-linear-gradient(top, #0a4466 0%,#0a4466 50%,#0a4466 51%,#0a4466 100%); /* Chrome10+,Safari5.1+ */
						/* background: -o-linear-gradient(top, #0a4466 0%,#0a4466 50%,#0a4466 51%,#0a4466 100%); /* Opera 11.10+ */
						/* background: -ms-linear-gradient(top, #0a4466 0%,#0a4466 50%,#0a4466 51%,#0a4466 100%); /* IE10+ */
						/* background: linear-gradient(to bottom, #0a4466 0%,#0a4466 50%,#0a4466 51%,#0a4466 100%); /* W3C */
						/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a4466', endColorstr='#0a4466',GradientType=0 ); /* IE6-9 */
					}
					
					ul.megamenu > li.home > a {
						background: #dd1730; /* Old browsers */
						
					}
					
					ul.megamenu > li > a > .fa-home {
						display: block;
						font-size: 23px;
						margin: 3px 0px 0px 0px;
					}
					
					ul.megamenu > li > a img {
						margin-right: 10px;
						height: 29px;
						vertical-align: middle;
					}
					
					ul.megamenu > li > a.description {
						font-size: 14px;
						padding: 12px 20px 11px 21px;
						line-height: 1;
					}
					
						ul.megamenu > li > a.description strong {
							font-size: 14px;
						}
					
						ul.megamenu > li > a.description img {
							float: left;
						}
					
						ul.megamenu > li > a.description .description {
							font-size: 11px;
							opacity: 0.9;
						}
						
						ul.megamenu > li > a.description .description-left {
							float: left;
							width: auto;
						}

					/* Submenu */
					
					ul.megamenu > li > .sub-menu {
						position: absolute;
						z-index: 20;
						display: none;
						padding-top: 5px;
					}
					
						ul.megamenu > li.active > .sub-menu {
							display: block;
						}
						
						/* Transition fade */
						
						ul.megamenu.fade > li > .sub-menu {
							display: block;
							opacity: 0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.fade > li.active > .sub-menu {
								display: block;
								opacity: 1;
								filter: alpha(opacity=100);
								visibility: visible;
							}
						
						/* Transition slide */
						
						ul.megamenu.slide > li > .sub-menu {
							display: block;
							opacity:0;
							filter: alpha(opacity=0);
							visibility: hidden;
							-webkit-transform-origin: top;
							-moz-transform-origin: top;
							-o-transform-origin: top;
							-ms-transform-origin: top;
							transform-origin: top;
							
							-webkit-animation-fill-mode: forwards;
							-moz-animation-fill-mode: forwards;
							-ms-animation-fill-mode: forwards;
							-o-animation-fill-mode: forwards;
							animation-fill-mode: forwards;
							
							-webkit-transform: scale(1, 0);
							-moz-transform: scale(1, 0);
							-o-transform: scale(1, 0);
							-ms-transform: scale(1, 0);
							transform: scale(1, 0);
							
							-webkit-transition: all 0.2s ease-out;
							-moz-transition: all 0.2s ease-out;
							-o-transition: all 0.2s ease-out;
							-ms-transition: all 0.2s ease-out;
							transition: all 0.2s ease-out;
						}
						
							ul.megamenu.slide > li.active > .sub-menu {
								-webkit-transform: scale(1, 1);
								-moz-transform: scale(1, 1);
								-o-transform: scale(1, 1);
								-ms-transform: scale(1, 1);
								transform: scale(1, 1);
								opacity:1 !important;
								filter: alpha(opacity=100) !important;
								visibility: visible !important;
							} 
					
						.horizontal ul.megamenu > li > .sub-menu {
							max-width: 100%;
						}
						
						ul.megamenu li .sub-menu .content {
							padding: 20px;
							background: #222;
							box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
							-moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
							-webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
							border-radius:         2px;
							-moz-border-radius:    2px;
							-webkit-border-radius: 2px;
							box-sizing: content-box !important;
							-moz-box-sizing: content-box !important;
							-webkit-box-sizing: content-box !important;
							border:1px solid #333;
						}
						
							ul.megamenu .sub-menu .content > .row {
								padding-top: 20px;
							}
							
							ul.megamenu .sub-menu .content > .border {
								padding-top: 20px;
								border-bottom: 1px solid #e6e6e6;
							}
							
								ul.megamenu .sub-menu .content > .row:first-child {
									padding: 0px;
								}
							
							/* Product */
							
							ul.megamenu li .product {
								text-align: center;
								position: relative;
								margin-bottom: -7px;
							}
								
								ul.megamenu li .product .image {
									padding: 0px;
								}
								
									ul.megamenu li .product .image img {
										border: 1px solid #e6e6e6;
										border-radius:         2px;
										-moz-border-radius:    2px;
										-webkit-border-radius: 2px;
									}
								
								ul.megamenu li .product .name {
									padding: 7px 0px 0px 0px;
									font-size: 16px;
									font-weight: 400;
								}
								
								ul.megamenu li .product .price {
									color: #51bc5c;
									font-size: 16px;
									font-weight: 400;
								}
								
							/* Manufacturer */
							
							ul.manufacturer {
								list-style: none;
								margin: -10px 0px 0px 0px !important;
								padding: 0px;
								position: relative;
							}
							
								ul.manufacturer li {
									display: inline-block;
									margin: 10px 10px 0px 0px;
								}
								
									ul.manufacturer li a {
										display: block;
										font-size: 14px;
										padding: 2px 8px;
										border: 1px solid #e6e6e6;
										border-radius:         2px;
										-moz-border-radius:    2px;
										-webkit-border-radius: 2px;
									}
							
							/* Static Menu */
							
							ul.megamenu li .sub-menu .content .static-menu a.main-menu {
								font-weight: 400;
								font-size: 16px;
							}
							
							ul.megamenu li .sub-menu .content .static-menu .menu ul {
								list-style: none;
								margin: 0px;
								padding: 0px;
							}
							
								ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
									padding-top: 7px;
								}
								
									ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li:first-child {
										padding-top: 0px;
									}
							
								ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
									padding: 10px 0px;
									line-height: 24px;
								}
							
									ul.megamenu li .sub-menu .content .static-menu .menu ul ul li:before {
										content: '•';
										color: #79bd9a;
										padding-right: 10px;
									}
									
							/* Hover Menu */
							
							ul.megamenu li .sub-menu .content .hover-menu .menu ul {
								list-style: none;
								margin: -4px 0px;
								padding: 0px 0px 0px 0px;
								position: relative;
								line-height: 30px;
							}

								ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
									display: none;
									margin-top: -41px;
									width: 200px;
									padding: 20px;
									position: absolute;
									z-index: 10;
									left: 100%;
									background: #fff;
									border-radius:         2px;
									-moz-border-radius:    2px;
									-webkit-border-radius: 2px;
									box-shadow:            0px 0px 25px rgba(0, 0, 0, 0.10);
									-moz-box-shadow:       0px 0px 25px rgba(0, 0, 0, 0.10);
									-webkit-box-shadow:    0px 0px 25px rgba(0, 0, 0, 0.10);
								}
									
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
										position: absolute;
										display: block;
										border-color: transparent;
										border-style: solid;
										border-width: 10px;
										content: "";
										top: 20px;
										left: -10px;
										border-right-color: #fff;
										border-left-width: 0;
									}
								
									ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li {
										position: relative;
									}
								
								ul.megamenu li .sub-menu .content .hover-menu a:before {
									content: '•';
									color: #79bd9a;
									padding-right: 10px;
								}
								
	/* Heading MegaMenu */
	
	#megaMenuToggle {
		display: none;
		cursor: pointer;
	}
	
		.megamenuToogle-wrapper {
			position: relative;
			z-index: 20;
			background: #51bc5c; /* Old browsers */
			
		}
		
		.container-megamenu.container .megamenuToogle-wrapper {
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
		}
		
		 .container-megamenu.container .megamenuToogle-pattern {
			border-radius:         2px;
			-moz-border-radius:    2px;
			-webkit-border-radius: 2px;
		}
		
			.megamenuToogle-wrapper .container {
				color: #fff;
				font-size: 18px;
				font-weight: 400;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
				padding: 8px 20px 7px 16px !important;
			}
			
				.container-megamenu .megamenuToogle-wrapper .container {
					padding-left: 20px !important;
				}
				
				.container-megamenu.container .megamenuToogle-wrapper .container {
					padding-left: 14px !important;
				}
			
				.megamenuToogle-wrapper .container > div {
					float: left;
					width: 15px;
					margin: 5px 12px 0px 0px;
				}
				
					.megamenuToogle-wrapper .container > div span {
						display: block;
						width: 100%;
						height: 3px;
						margin-top: 2px;
						background: #fff;
						box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
					}

/* Responsive
------------------*/

@media (max-width: 767px) {
	
	/* MegaMenu Submenu */
	
	.responsive ul.megamenu .sub-menu .content .border {
		display: none;
	}
	
	.responsive ul.megamenu .sub-menu .content .row {
		margin: 0px -20px;
	}
	
		.responsive ul.megamenu .sub-menu .content .row > div {
			margin-top: 20px;
			border-top: 1px solid #e6e6e6;
			padding-top: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
		
			.responsive ul.megamenu .sub-menu .content .row:first-child > div:first-child {
				margin-top: 0px;
				border-top: none;
				padding-top: 0px;
			}
			
	/* Categories -> Hover Menu & Static Menu */
	
	.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu,
	.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu {
		position: relative;
		margin: -20px;
		overflow: hidden;
	}
	
		.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul {
			margin: 0px;
		}
	
		.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul li,
		.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li {
			border-top: 1px solid #e5e5e5;
		}
		
			.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li:before {
				display: none;
			}
		
			.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu > ul:first-child > li:first-child,
			.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu > ul:first-child > li:first-child {
				border-top: none;
			}
			
			.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
			.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
				display: block;
				padding: 9px 20px;
				font-size: 13px;
				font-weight: 300;
			}
			
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:hover,
				.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li a:hover {
					background: #f7f7f7;
				}
				
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul li a:before,
				.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul li a:before {
					content: '•';
					color: #79bd9a;
					padding-right: 10px;
					display: inline-block;
				}
				
			.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul,
			.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul ul {
				margin: 0px !important;
				padding: 0px !important;
			}
			
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul li a,
				.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul ul li a {
					padding-left: 40px;
				}
				
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul ul li a,
					.responsive .horizontal ul.megamenu li .sub-menu .content .static-menu .menu ul ul ul li a {
						padding-left: 60px;
					}
					
			.responsive ul.megamenu .sub-menu .content .static-menu .row > div {
				padding: 0px 20px !important;
			}
			
			.responsive .horizontal .static-menu .visible {
				padding: 0px !important;
			}
			
			.responsive ul.megamenu li .sub-menu .content .static-menu > .menu > ul > li {
				padding: 0px;
			}
}

@media (max-width: 960px) {

	.responsive #megaMenuToggle {
		display: block;
	}
			
	.responsive .megamenu-wrapper {
		display: none;
background: #333!important;
border: 1px solid #666;
position: relative;
margin-top: -2px;
border-radius: 0 !important;
	}
	
		.responsive ul.megamenu > li {
			display: block;
			float: none !important;
			width: auto;
			background: none;
			border-top: 1px solid #666;
			position: relative;
			margin: 0px -1px;
		}
		
			.responsive ul.megamenu > li.home, ul.megamenu > li.search {
				display: none;
			}
			
			.responsive ul.megamenu > li > a {
				color: #737474;
				text-shadow: none;
				background: none !important;
				margin: 0px 1px;
				height: auto;
				transition: none;
				-moz-transition: none;
				-webkit-transition: none;
				font-size: 14px;
				text-transform: uppercase;
			}
			
				.responsive ul.megamenu > li > a:after {
					display: block;
					content: '';
					margin: 0px;
					padding: 0px;
				}
			
				.responsive ul.megamenu > li.active > a,
				.responsive ul.megamenu > li > a:hover {
					background: #51bc5c !important;
					color: #fff;
					
				}
			
			.responsive ul.megamenu > li.with-sub-menu .open-menu {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 10;
				padding: 2px 17px 10px 50px;
				display: block;
			}
			
				.responsive ul.megamenu > li.active .open-menu {
					display: none;
				}
				
					.responsive ul.megamenu > li.with-sub-menu .open-menu:before {
						content: "+";
						font-family: Arial;
						color: #fff;
						font-weight: 400;
						font-size: 26px;
					}
			
				.responsive ul.megamenu > li.active .close-menu {
					display: block;
					position: absolute;
					z-index: 10;
					top: 0;
					right: 1px;
					width: 85px;
					height: 100%;
					padding: 0px 0px 0px 40px;
					background: #f6f6f6;
					text-align: center;
					cursor: pointer;
					
				}
				
					.responsive ul.megamenu > li.active .close-menu:before {
						content: "-";
						font-family: Arial;
						color: #F31455;
						font-weight: 400;
						font-size: 36px;
						line-height: 1.1;
					}

			/* Submenu */
			
			.responsive .horizontal ul.megamenu > li > .sub-menu {
				width: 100% !important;
				position: relative;
				padding-top: 0px;
			}
			
				.responsive .horizontal ul.megamenu li .sub-menu .content {
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					border: 1px solid #e6e6e6;
					border-bottom: none;
				}
			
				/* Hover Menu */
				
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul {
					display: block !important;
					margin: 5px 10px;
					width: auto;
					padding: 0px;
					position: static;
					left: 0;
					background: none;
					border: none;
					border-radius:         0px;
					-moz-border-radius:    0px;
					-webkit-border-radius: 0px;
					box-shadow:            none;
					-moz-box-shadow:       none;
					-webkit-box-shadow:    none;
				}
				
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:before {
						display: none;
					}
					
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu .menu ul ul:after {
						display: none;
					}
				
				.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu {
					font-size: 16px;
				}
				
					.responsive .horizontal ul.megamenu li .sub-menu .content .hover-menu a.main-menu:before {
						display: none;
					}
					
					.responsive .horizontal .visible {
						padding: 5px 0px 5px 0px !important;
					}
					
						.responsive .horizontal .visible > div {
							margin: 0px !important;
							border: none !important;
							padding: 0px 0px 0px 10px !important;
						}

}

@media (min-width: 961px) {
	.megamenu-wrapper {
		display: block !important;
	}
}

@media (max-width: 1100px) {
	.responsive ul.megamenu > li > a {
		padding-left: 20px;
		padding-right: 20px;
	}
}