/*-----------------------------------------------------------------------------

	-	Revolution Slider 1.5.3 -

		Screen Stylesheet

version:   	2.1
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------

	-	Revolution Slider 2.0 Captions -

		Screen Stylesheet

version:   	1.4.5
date:      	09/18/11
last update: 06.12.2012
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/



/*************************
	-	CAPTIONS	-
**************************/

.tp-caption.noshadow {
		text-shadow: none;		
	}	


.tp_inner_padding	{	box-sizing:border-box;
						-webkit-box-sizing:border-box;
						-moz-box-sizing:border-box;
						max-height:none !important;	}






/****************************************************************

	-	SET THE ANIMATION EVEN MORE SMOOTHER ON ANDROID   -

******************************************************************/

.tp-simpleresponsive .slotholder *,
.tp-simpleresponsive img			{ -webkit-transform: translateZ(0);
										  -webkit-backface-visibility: hidden;
										  -webkit-perspective: 1000;
									}


/************************************************
	  - SOME CAPTION MODIFICATION AT START  -
*************************************************/
.tp-simpleresponsive .caption,
.tp-simpleresponsive .tp-caption {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";	-moz-opacity: 0;	-khtml-opacity: 0;	opacity: 0; position:absolute; visibility: hidden;

}

.tp-simpleresponsive img	{	max-width:none;}

/******************************
	-	IE8 HACKS	-
*******************************/
.noFilterClass {
	filter:none !important;
}

/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

.tp-caption.fullscreenvideo {	left:0px; top:0px; position:absolute;width:100%;height:100%;}
.tp-caption.fullscreenvideo iframe	{ width:100% !important; height:100% !important;}

/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/
.tp-bullets {	
	display: none;
}

/*************************************
	-	TP ARROWS 	-
**************************************/

.fullwidthbanner-container .tp-leftarrow	{	
	visibility: hidden;
	z-index: 100;
	position: absolute;
	left: 30px !important;
	top: 50% !important;
	margin: -17px 0px 0px 0px;
	height: 60px;
	width:60px;
	margin: 0px;
	text-indent: -10000px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background:rgba(0,0,0,0.5);
	border-radius:         100%;
	-webkit-border-radius: 100%;
	-moz-border-radius:    100%;

	text-align: center;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	cursor: pointer;
	
}

.fullwidthbanner-container .tp-rightarrow {	
	visibility: hidden;
	z-index: 100;
	position: absolute;
	right: 30px !important; 
	top: 50% !important;
	margin: -17px 0px 0px 0px;
	height: 60px;
	width: 60px;
	margin: 0px;
	text-indent: -10000px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	background: rgba(0,0,0,0.5);
	border-radius:         100%;
	-webkit-border-radius: 100%;
	-moz-border-radius:    100%;
	
	text-align: center;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
	cursor: pointer;
}

	.fullwidthbanner-container .tp-leftarrow:after,
	.fullwidthbanner-container .tp-rightarrow:after {
		position: absolute;
		content: "\f105";
		display: block;
		height: 35px;
		width: 60px;
		z-index: 1;
		top: 0;
		left: 0;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		line-height: 1.2;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #fff;
		text-indent: 0;
		font-size: 42px;
		padding: 4px 0px 0px 0px;
	}
	
		.fullwidthbanner-container .tp-leftarrow:after {
			content: "\f104";
			padding-right: 2px;
		}

.fullwidthbanner-container:hover .tp-leftarrow, .fullwidthbanner-container:hover .tp-rightarrow { visibility: visible;opacity: 1; }
.fullwidthbanner-container .tp-rightarrow:hover { background: #51bc5c; }
.fullwidthbanner-container .tp-leftarrow:hover { background: #51bc5c; }


/****************************************************************************************************
	-	TP THUMBS 	-
*****************************************************************************************************

 - tp-thumbs & tp-mask Width is the width of the basic Thumb Container (500px basic settings)

 - .bullet width & height is the dimension of a simple Thumbnail (basic 100px x 50px)

 *****************************************************************************************************/


.tp-bullets.tp-thumbs						{	z-index:100; position:absolute; padding:3px;background-color:#fff;
												width:500px;height:50px; 			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												margin-top:-50px;
											}

.fullwidthbanner-container .tp-thumbs		{  padding:3px;}

.tp-bullets.tp-thumbs .tp-mask				{	width:500px; height:50px;  			/* THE DIMENSIONS OF THE THUMB CONTAINER */
												overflow:hidden; position:relative;}


.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer	{	width:5000px; position:absolute;}

.tp-bullets.tp-thumbs .bullet				{   width:100px; height:50px; 			/* THE DIMENSION OF A SINGLE THUMB */
												cursor:pointer; overflow:hidden;background:none;margin:0;float:left;
												-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
												/*filter: alpha(opacity=50);	*/												
												-moz-opacity: 0.5;
												-khtml-opacity: 0.5;
												opacity: 0.5;
							
												-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;
											}


.tp-bullets.tp-thumbs .bullet:hover,
.tp-bullets.tp-thumbs .bullet.selected		{ 	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

												-moz-opacity: 1;
												-khtml-opacity: 1;
												opacity: 1;
											}
.tp-thumbs img								{	width:100%; }


/************************************
		-	TP BANNER TIMER		-
*************************************/
.tp-bannertimer								{	width:100%; height:10px;position:absolute; z-index:200;}
.tp-bannertimer.tp-bottom					{	bottom:0px !important;height:5px;}




/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/


	@media only screen and (min-width: 768px) and (max-width: 959px) {

	 }



	@media only screen and (min-width: 480px) and (max-width: 767px) {
			.responsive .tp-bullets.tp-thumbs				{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .tp-mask		{	width:300px !important; height:30px !important;}
			.responsive .tp-bullets.tp-thumbs .bullet		{	width:60px !important;height:30px !important;}

	}

    @media only screen and (min-width: 0px) and (max-width: 479px) {
				.responsive .tp-bullets	{	display:none}
				.responsive .tparrows	{	display:none;}
	}





/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

 .tp-simpleresponsive img {
		-moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
}



.tp-simpleresponsive a{	text-decoration:none;}

.tp-simpleresponsive ul {
	list-style:none;
	padding:0;
	margin:0;
	position: absolute;
}

.tp-simpleresponsive >ul >li{
	list-stye:none;
	position:absolute;
	visibility:hidden;
}
/*  CAPTION SLIDELINK   **/
.caption.slidelink a div,
.tp-caption.slidelink a div {	width:10000px; height:10000px; }

.tp-loader 	{	
	background:url(../img/loader.gif) no-repeat 10px 10px; 
	background-color:#fff;  
	margin:-22px -22px; 
	top:50%; 
	left:50%; 
	z-index:10000; 
	position:absolute;
	width:44px;
	height:44px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


.fullwidthbanner-container { 
	width:100% !important;
	position:relative;
	padding:0;
	margin: 20px 0px 0px 0px;
	overflow:hidden;
	z-index: 0;
}

	#slider .fullwidth .fullwidthbanner-container {
		margin: 0px 0px 0px 0px;
		border-top: 5px solid #51bc5c;
	}
	
	.fullwidthbanner-container ul {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}

/* Button */

.fullwidthbanner-container .button {
	font-size: 18px;
	padding: 7px 40px 6px 40px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
	.responsive .fullwidthbanner-container .button {
		font-size: 12px;
		padding: 7px 15px 6px 15px;
	}
}