<div id="rgen-bannergrids-rgenMRS72j" class="rgen-bannergrids bannergrids-rg94P">
	<div class="mod-wrp container">
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb20">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								
																<div class="banner-grid-wrp banner-grids-0">
																												
										<div class="banner-grid-item" id="banner_grid_block_0" data-colspan="6" data-rowspan="4">
	<div class="slideshow-wrp dots-typ1">
		<div class="slideshow">
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/458x302_1-632x418.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/458x302_2-632x418.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
					</div>
	</div>
	<script>
		jQuery(document).ready(function($) {
		var obj = "#rgen-bannergrids-rgenMRS72j #banner_grid_block_0 .slideshow";
		var settings = {
			effect      : "slide",
			speed       : 1500,
			pause       : 2000,
			auto        : true,
			prevNext    : true,
			pager       : true,
			continuous  : true,
			stoponhover : true		};
		sudoSliderfn(obj, settings);
	});
	</script>
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_1" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/224x146_1-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_2" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/224x146_2-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_3" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/224x146_3-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_4" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo07_images/banners/other-banners/224x146_4-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>								</div>

								<script>
								jQuery(document).ready(function($) {
									var settings = {
										gutter: '10px',
										itemclass: '.banner-grid-item'
									};
									bnrgrids('#rgen-bannergrids-rgenMRS72j .banner-grids-0', settings);
								});
								</script>
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

