<div id="rgen-bannergrids-rgenR30yKS" class="rgen-bannergrids bannergrids-rgSzX">
	<div class="mod-wrp container">
						
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt0 mb0">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								
																<div class="banner-grid-wrp banner-grids-0">
																												
										<div class="banner-grid-item" id="banner_grid_block_0" data-colspan="6" data-rowspan="6">
	<div class="slideshow-wrp dots-typ1">
		<div class="slideshow">
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/600x600_01-632x632.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/600x600_02-632x632.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
					</div>
	</div>
	<script>
		jQuery(document).ready(function($) {
		var obj = "#rgen-bannergrids-rgenR30yKS #banner_grid_block_0 .slideshow";
		var settings = {
			effect      : "fade",
			speed       : 1500,
			pause       : 2000,
			auto        : true,
			prevNext    : true,
			pager       : true,
			continuous  : true,
			stoponhover : true		};
		sudoSliderfn(obj, settings);
	});
	</script>
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_1" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-1 h-effect ">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_01-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">Amazing deals on seasonal favourites!</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_2" 
	data-colspan="2" 
	data-rowspan="4">

				<figure class="effect-1 h-effect bnr-color1">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/276x567_01-204x418.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">online clearance up to 60% off</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_3" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-1 h-effect bnr-blank">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_blank-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">The season's bestsellers are here again</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_4" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-1 h-effect bnr-blank">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_blank-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">Stay one step ahead with New-In clothing</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_5" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-1 h-effect bnr-color2">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_02-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">20% OFF any single item*</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_6" 
	data-colspan="4" 
	data-rowspan="2">

				<figure class="effect-1 h-effect bnr-change1">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/567x276_01-418x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">Get holiday ready<br>20% OFF</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_7" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-6 h-effect bnr-fb">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_blank-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
																	<h2 class="h3"><i class="fa fa-facebook"></i></h2>
																		<p>Be our friends</p>
											
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_8" 
	data-colspan="6" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/948x306_01-632x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_9" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-6 h-effect bnr-twitter">
				<img src="http://localhost/hijab.com/image/cache/no_image-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
																	<h2 class="h3"><i class="fa fa-twitter"></i></h2>
																		<p>Follow us on<br>twitter</p>
											
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>										
										<div class="banner-grid-item" id="banner_grid_block_10" data-colspan="4" data-rowspan="4">
	<div class="slideshow-wrp dots-typ1">
		<div class="slideshow">
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/600x600_03-418x418.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
						<div class="slide">
								<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/600x600_04-418x418.jpg" alt="R.Gen - OpenCart Modern Store Design"/></a>
							</div>
					</div>
	</div>
	<script>
		jQuery(document).ready(function($) {
		var obj = "#rgen-bannergrids-rgenR30yKS #banner_grid_block_10 .slideshow";
		var settings = {
			effect      : "fade",
			speed       : 1500,
			pause       : 2000,
			auto        : true,
			prevNext    : true,
			pager       : true,
			continuous  : true,
			stoponhover : true		};
		sudoSliderfn(obj, settings);
	});
	</script>
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_11" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/311x204_01-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_12" 
	data-colspan="3" 
	data-rowspan="2">

							<a class="bnr-img" href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/311x204_02-311x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" /></a>
					
</div>										
										<div 
	class="banner-grid-item" 
	id="banner_grid_block_13" 
	data-colspan="2" 
	data-rowspan="2">

				<figure class="effect-1 h-effect bnr-blank">
				<img src="http://localhost/hijab.com/image/cache/catalog/rgen/demo08_images/banners/other-banners/300x300_blank-204x204.jpg" alt="R.Gen - OpenCart Modern Store Design" class="img-responsive" />
				<figcaption>
										<div>
												<h2 class="h3">limited time only<br>save extra 20%<br>on all<br>new arrivals</h2>
																		<p><a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank" class="bnr-btn">Shop now</a></p>
											</div>
					
										<a href="http://themeforest.net/item/rgen-opencart-modern-store-design/2699592?ref=R_GENESIS" target="_blank"><img src="image/spacer.gif" alt="R.Gen - OpenCart Modern Store Design"></a>
									</figcaption>
			</figure>
		
</div>								</div>

								<script>
								jQuery(document).ready(function($) {
									var settings = {
										gutter: '10px',
										itemclass: '.banner-grid-item'
									};
									bnrgrids('#rgen-bannergrids-rgenR30yKS .banner-grids-0', settings);
								});
								</script>
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

