<?php include $this->rgen('layout_top'); ?>

<p><?php echo $text_account_already; ?></p>
<p><?php echo $text_signup; ?></p>
<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="frm-wrp">
		<fieldset>
			<legend class="frm-hd"><?php echo $text_your_details; ?></legend>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-firstname"><?php echo $entry_firstname; ?></label>
				<div class="col-sm-10">
					<input type="text" name="firstname" value="<?php echo $firstname; ?>" placeholder="<?php echo $entry_firstname; ?>" id="input-firstname" class="form-control" />
					<?php if ($error_firstname) { ?>
					<div class="text-danger"><?php echo $error_firstname; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-lastname"><?php echo $entry_lastname; ?></label>
				<div class="col-sm-10">
					<input type="text" name="lastname" value="<?php echo $lastname; ?>" placeholder="<?php echo $entry_lastname; ?>" id="input-lastname" class="form-control" />
					<?php if ($error_lastname) { ?>
					<div class="text-danger"><?php echo $error_lastname; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-email"><?php echo $entry_email; ?></label>
				<div class="col-sm-10">
					<input type="text" name="email" value="<?php echo $email; ?>" placeholder="<?php echo $entry_email; ?>" id="input-email" class="form-control" />
					<?php if ($error_email) { ?>
					<div class="text-danger"><?php echo $error_email; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-telephone"><?php echo $entry_telephone; ?></label>
				<div class="col-sm-10">
					<input type="text" name="telephone" value="<?php echo $telephone; ?>" placeholder="<?php echo $entry_telephone; ?>" id="input-telephone" class="form-control" />
					<?php if ($error_telephone) { ?>
					<div class="text-danger"><?php echo $error_telephone; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-fax"><?php echo $entry_fax; ?></label>
				<div class="col-sm-10">
					<input type="text" name="fax" value="<?php echo $fax; ?>" placeholder="<?php echo $entry_fax; ?>" id="input-fax" class="form-control" />
				</div>
			</div>
		</fieldset>
	</div>
	<div class="frm-wrp">
		<fieldset>
			<legend class="frm-hd"><?php echo $text_your_address; ?></legend>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-company"><?php echo $entry_company; ?></label>
				<div class="col-sm-10">
					<input type="text" name="company" value="<?php echo $company; ?>" placeholder="<?php echo $entry_company; ?>" id="input-company" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-website"><?php echo $entry_website; ?></label>
				<div class="col-sm-10">
					<input type="text" name="website" value="<?php echo $website; ?>" placeholder="<?php echo $entry_website; ?>" id="input-website" class="form-control" />
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-address-1"><?php echo $entry_address_1; ?></label>
				<div class="col-sm-10">
					<input type="text" name="address_1" value="<?php echo $address_1; ?>" placeholder="<?php echo $entry_address_1; ?>" id="input-address-1" class="form-control" />
					<?php if ($error_address_1) { ?>
					<div class="text-danger"><?php echo $error_address_1; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-address-2"><?php echo $entry_address_2; ?></label>
				<div class="col-sm-10">
					<input type="text" name="address_2" value="<?php echo $address_2; ?>" placeholder="<?php echo $entry_address_2; ?>" id="input-address-2" class="form-control" />
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-city"><?php echo $entry_city; ?></label>
				<div class="col-sm-10">
					<input type="text" name="city" value="<?php echo $city; ?>" placeholder="<?php echo $entry_city; ?>" id="input-city" class="form-control" />
					<?php if ($error_city) { ?>
					<div class="text-danger"><?php echo $error_city; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-postcode"><?php echo $entry_postcode; ?></label>
				<div class="col-sm-10">
					<input type="text" name="postcode" value="<?php echo $postcode; ?>" placeholder="<?php echo $entry_postcode; ?>" id="input-postcode" class="form-control" />
					<?php if ($error_postcode) { ?>
					<div class="text-danger"><?php echo $error_postcode; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-country"><?php echo $entry_country; ?></label>
				<div class="col-sm-10">
					<select name="country_id" id="input-country" class="form-control">
					<option value="false"><?php echo $text_select; ?></option>
					<?php foreach ($countries as $country) { ?>
					<?php if ($country['country_id'] == $country_id) { ?>
					<option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
					<?php } else { ?>
					<option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
					<?php } ?>
					<?php } ?>
					</select>
					<?php if ($error_country) { ?>
					<div class="text-danger"><?php echo $error_country; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-zone"><?php echo $entry_zone; ?></label>
				<div class="col-sm-10">
					<select name="zone_id" id="input-zone" class="form-control">
					</select>
					<?php if ($error_zone) { ?>
					<div class="text-danger"><?php echo $error_zone; ?></div>
					<?php } ?>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="frm-wrp">
		<fieldset>
			<legend class="frm-hd"><?php echo $text_payment; ?></legend>
			<div class="form-group">
				<label class="col-sm-2 control-label" for="input-tax"><?php echo $entry_tax; ?></label>
				<div class="col-sm-10">
					<input type="text" name="tax" value="<?php echo $tax; ?>" placeholder="<?php echo $entry_tax; ?>" id="input-tax" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"><?php echo $entry_payment; ?></label>
				<div class="col-sm-10">
					<div class="radio">
					<label>
						<?php if ($payment == 'cheque') { ?>
						<input type="radio" name="payment" value="cheque" checked="checked" />
						<?php } else { ?>
						<input type="radio" name="payment" value="cheque" />
						<?php } ?>
						<?php echo $text_cheque; ?></label>
					</div>
					<div class="radio">
					<label>
						<?php if ($payment == 'paypal') { ?>
						<input type="radio" name="payment" value="paypal" checked="checked" />
						<?php } else { ?>
						<input type="radio" name="payment" value="paypal" />
						<?php } ?>
						<?php echo $text_paypal; ?></label>
					</div>
					<div class="radio">
					<label>
						<?php if ($payment == 'bank') { ?>
						<input type="radio" name="payment" value="bank" checked="checked" />
						<?php } else { ?>
						<input type="radio" name="payment" value="bank" />
						<?php } ?>
						<?php echo $text_bank; ?></label>
					</div>
				</div>
			</div>
			<div class="form-group payment" id="payment-cheque">
				<label class="col-sm-2 control-label" for="input-cheque"><?php echo $entry_cheque; ?></label>
				<div class="col-sm-10">
					<input type="text" name="cheque" value="<?php echo $cheque; ?>" placeholder="<?php echo $entry_cheque; ?>" id="input-cheque" class="form-control" />
				</div>
			</div>
			<div class="form-group payment" id="payment-paypal">
				<label class="col-sm-2 control-label" for="input-paypal"><?php echo $entry_paypal; ?></label>
				<div class="col-sm-10">
					<input type="text" name="paypal" value="<?php echo $paypal; ?>" placeholder="<?php echo $entry_paypal; ?>" id="input-paypal" class="form-control" />
				</div>
			</div>
			<div class="payment" id="payment-bank">
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-bank-name"><?php echo $entry_bank_name; ?></label>
					<div class="col-sm-10">
					<input type="text" name="bank_name" value="<?php echo $bank_name; ?>" placeholder="<?php echo $entry_bank_name; ?>" id="input-bank-name" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-bank-branch-number"><?php echo $entry_bank_branch_number; ?></label>
					<div class="col-sm-10">
					<input type="text" name="bank_branch_number" value="<?php echo $bank_branch_number; ?>" placeholder="<?php echo $entry_bank_branch_number; ?>" id="input-bank-branch-number" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-bank-swift-code"><?php echo $entry_bank_swift_code; ?></label>
					<div class="col-sm-10">
					<input type="text" name="bank_swift_code" value="<?php echo $bank_swift_code; ?>" placeholder="<?php echo $entry_bank_swift_code; ?>" id="input-bank-swift-code" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-bank-account-name"><?php echo $entry_bank_account_name; ?></label>
					<div class="col-sm-10">
					<input type="text" name="bank_account_name" value="<?php echo $bank_account_name; ?>" placeholder="<?php echo $entry_bank_account_name; ?>" id="input-bank-account-name" class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label" for="input-bank-account-number"><?php echo $entry_bank_account_number; ?></label>
					<div class="col-sm-10">
					<input type="text" name="bank_account_number" value="<?php echo $bank_account_number; ?>" placeholder="<?php echo $entry_bank_account_number; ?>" id="input-bank-account-number" class="form-control" />
					</div>
				</div>
			</div>
		</fieldset>
	</div>
	<div class="frm-wrp">
		<fieldset>
			<legend class="frm-hd"><?php echo $text_your_password; ?></legend>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-password"><?php echo $entry_password; ?></label>
				<div class="col-sm-10">
					<input type="password" name="password" value="<?php echo $password; ?>" placeholder="<?php echo $entry_password; ?>" id="input-password" class="form-control" />
					<?php if ($error_password) { ?>
					<div class="text-danger"><?php echo $error_password; ?></div>
					<?php } ?>
				</div>
			</div>
			<div class="form-group required">
				<label class="col-sm-2 control-label" for="input-confirm"><?php echo $entry_confirm; ?></label>
				<div class="col-sm-10">
					<input type="password" name="confirm" value="<?php echo $confirm; ?>" placeholder="<?php echo $entry_confirm; ?>" id="input-confirm" class="form-control" />
					<?php if ($error_confirm) { ?>
					<div class="text-danger"><?php echo $error_confirm; ?></div>
					<?php } ?>
				</div>
			</div>
		</fieldset>
	</div>
	<?php if ($text_agree) { ?>
	<div class="buttons clearfix">
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<?php if ($agree) { ?>
			<input type="checkbox" name="agree" value="1" checked="checked" />
			<?php } else { ?>
			<input type="checkbox" name="agree" value="1" />
			<?php } ?>
			<?php echo $text_agree; ?><br><br>
		</div>
		<label class="col-sm-2 control-label"></label>
		<div class="col-sm-10">
			<input type="submit" value="<?php echo $button_continue; ?>" class="default-btn" />
		</div>
	</div>
	<?php } else { ?>
	<div class="buttons clearfix">
		<div class="pull-right"><input type="submit" value="<?php echo $button_continue; ?>" class="default-btn" /></div>
	</div>
	<?php } ?>
</form>

<?php 
	include $this->rgen('layout_bottom');
	include $this->rgen('msg_error');
?>

<script type="text/javascript"><!--
$('select[name=\'country_id\']').on('change', function() {
	$.ajax({
		url: 'index.php?route=affiliate/register/country&country_id=' + this.value,
		dataType: 'json',
		beforeSend: function() {
			$('select[name=\'country_id\']').after(' <i class="fa fa-circle-o-notch fa-spin"></i>');
		},
		complete: function() {
			$('.fa-spin').remove();
		},
		success: function(json) {

			if (json['postcode_required'] == '1') {
				$('input[name=\'postcode\']').parent().parent().addClass('required');
			} else {
				$('input[name=\'postcode\']').parent().parent().removeClass('required');
			}

			html = '<option value=""><?php echo $text_select; ?></option>';

			if (json['zone'] && json['zone'] != '') {
				for (i = 0; i < json['zone'].length; i++) {
					html += '<option value="' + json['zone'][i]['zone_id'] + '"';

		  if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
						html += ' selected="selected"';
					}

					html += '>' + json['zone'][i]['name'] + '</option>';
				}
			} else {
				html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
			}

			$('select[name=\'zone_id\']').html(html);
		},
		error: function(xhr, ajaxOptions, thrownError) {
			alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
		}
	});
});

$('select[name=\'country_id\']').trigger('change');
//--></script>
<script type="text/javascript"><!--
$('input[name=\'payment\']').on('change', function() {
	$('.payment').hide();

	$('#payment-' + this.value).show();
});

$('input[name=\'payment\']:checked').trigger('change');
//--></script>
<?php echo $footer; ?>