<?php include $this->rgen('layout_top'); ?>

<p><?php echo $text_balance; ?> <strong><?php echo $balance; ?></strong>.</p>
<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<td class="text-left"><?php echo $column_date_added; ?></td>
				<td class="text-left"><?php echo $column_description; ?></td>
				<td class="text-right"><?php echo $column_amount; ?></td>
			</tr>
		</thead>
		<tbody>
			<?php if ($transactions) { ?>
			<?php foreach ($transactions	as $transaction) { ?>
			<tr>
				<td class="text-left"><?php echo $transaction['date_added']; ?></td>
				<td class="text-left"><?php echo $transaction['description']; ?></td>
				<td class="text-right"><?php echo $transaction['amount']; ?></td>
			</tr>
			<?php } ?>
			<?php } else { ?>
			<tr>
				<td class="text-center" colspan="5"><?php echo $text_empty; ?></td>
			</tr>
			<?php } ?>
		</tbody>
	</table>
</div>
<div class="text-right"><?php echo $pagination; ?></div>
<div class="buttons clearfix">
	<div class="pull-right"><a href="<?php echo $continue; ?>" class="default-btn"><?php echo $button_continue; ?></a></div>
</div>

<?php 
	include $this->rgen('layout_bottom');
	echo $footer;
?>