<div id="rgen-catshowcase-rgenfxhlzJ" class="rgen-catshowcase catshowcase-rgAmv">
	<div class="mod-wrp container">
						<h3 class="mod-hd">Top Categories</h3>
				
				
		<div class="rw gt40">
						
			<div class="m-cl cl12 t-xl12">
				<div class="mod-content">
					
											<div class="rw gt20 mb20">
														<div class="cl cl12 d-xl12 t-xl12 m-xl12 m-sm12 m-xs12">
								
																
								
																<div 
									class         ="widget-carousel ctrl-b" 
									id            ="catshowcase-carousel-0"
									data-stpd     ="1" 
									data-nav      ="true" 
									data-dots     ="false" 
									data-resitems ="4" 
									data-res      ="true" 
									data-margin   ="10">
																																						<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20" class="img"><img src="http://localhost/hijab.com/image/cache/catalog/demo/compaq_presario-250x250.jpg" class="img-responsive" alt="Desktops"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20">Desktops</a></h3>
			
						<div class="text">
	Example of category description text
..</div>
					</div>
	</div>

			<ul class="sub-ct">
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_26">PC</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20_27">Mac</a></li>
			</ul>
		
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=20" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																																							<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25" class="img"><img src="http://localhost/hijab.com/image/cache/no_image-250x250.jpg" class="img-responsive" alt="Components"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25">Components</a></h3>
			
						<div class="text">..</div>
					</div>
	</div>

			<ul class="sub-ct">
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_29">Mice and Trackballs</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_28">Monitors</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_30">Printers</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_31">Scanners</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25_32">Web Cameras</a></li>
			</ul>
		
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=25" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																																							<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18" class="img"><img src="http://localhost/hijab.com/image/cache/catalog/demo/hp_2-250x250.jpg" class="img-responsive" alt="Laptops & Notebooks"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18">Laptops & Notebooks</a></h3>
			
						<div class="text">
	Shop Laptop feature only the best laptop deals on the market. By comparing laptop deals from the ..</div>
					</div>
	</div>

			<ul class="sub-ct">
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_46">Macs</a></li>
				<li><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18_45">Windows</a></li>
			</ul>
		
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=18" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																																							<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57" class="img"><img src="http://localhost/hijab.com/image/cache/no_image-250x250.jpg" class="img-responsive" alt="Tablets"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57">Tablets</a></h3>
			
						<div class="text">..</div>
					</div>
	</div>

			
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=57" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																																							<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=17" class="img"><img src="http://localhost/hijab.com/image/cache/no_image-250x250.jpg" class="img-responsive" alt="Software"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=17">Software</a></h3>
			
						<div class="text">..</div>
					</div>
	</div>

			
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=17" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																																							<div class="item">
											<div class="catshowcase-box catshowcase-box4">
	<div class="main-ct">
		<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=24" class="img"><img src="http://localhost/hijab.com/image/cache/no_image-250x250.jpg" class="img-responsive" alt="Phones & PDAs"></a>
		<div class="info">
						<h3 class="name"><a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=24">Phones & PDAs</a></h3>
			
						<div class="text">..</div>
					</div>
	</div>

			
		<div class="btn-wrp">
				<a href="http://localhost/hijab.com/index.php?route=product/category&amp;path=24" class="default-btn">Shop now</a>
			</div>
	</div>
										</div>
																											</div>
								<script type="text/javascript" ><!--
								$("#rgen-catshowcase-rgenfxhlzJ #catshowcase-carousel-0").css({	opacity: 0 });
								$(document).ready(function() {
									var obj = "#rgen-catshowcase-rgenfxhlzJ #catshowcase-carousel-0";
									var resObj = { 0: { items:1 },200: { items:1 },300: { items:1 },400: { items:1 },500: { items:1 },600: { items:3 },700: { items:3 },800: { items:4 },900: { items:4 },1000: { items:5 },1100: { items:5 }	};
									var settings = { autoHeight: false };
									setTimeout(function () { widgetCarousel(obj, resObj, settings); }, 500);
								});
								//--></script>
								

																
							</div>
													</div>
					
				</div>
			</div>
					</div>

		
	</div>
</div>

